ailMel1.77.genome : Ailuropoda_melanoleuca
ailMel1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

BGI_duck_1.0.77.genome : Anas_platyrhynchos
BGI_duck_1.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

AnoCar2.0.77.genome : Anolis_carolinensis
AnoCar2.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

AstMex102.77.genome : Astyanax_mexicanus
AstMex102.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

UMD3.1.77.genome : Bos_taurus
UMD3.1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

WBcel235.77.genome : Caenorhabditis_elegans
WBcel235.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

C_jacchus3.2.1.77.genome : Callithrix_jacchus
C_jacchus3.2.1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

CanFam3.1.77.genome : Canis_familiaris
CanFam3.1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

cavPor3.77.genome : Cavia_porcellus
cavPor3.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

ChlSab1.1.77.genome : Chlorocebus_sabaeus
ChlSab1.1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

choHof1.77.genome : Choloepus_hoffmanni
choHof1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

KH.77.genome : Ciona_intestinalis
KH.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

CSAV2.0.77.genome : Ciona_savignyi
CSAV2.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Zv9.77.genome : Danio_rerio
Zv9.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Dasnov3.0.77.genome : Dasypus_novemcinctus
Dasnov3.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

dipOrd1.77.genome : Dipodomys_ordii
dipOrd1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

BDGP5.77.genome : Drosophila_melanogaster
BDGP5.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

TENREC.77.genome : Echinops_telfairi
TENREC.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

EquCab2.77.genome : Equus_caballus
EquCab2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

HEDGEHOG.77.genome : Erinaceus_europaeus
HEDGEHOG.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Felis_catus_6.2.77.genome : Felis_catus
Felis_catus_6.2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

FicAlb_1.4.77.genome : Ficedula_albicollis
FicAlb_1.4.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

gadMor1.77.genome : Gadus_morhua
gadMor1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Galgal4.77.genome : Gallus_gallus
Galgal4.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

BROADS1.77.genome : Gasterosteus_aculeatus
BROADS1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

gorGor3.1.77.genome : Gorilla_gorilla
gorGor3.1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

GRCh38.77.genome : Homo_sapiens
GRCh38.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

spetri2.77.genome : Ictidomys_tridecemlineatus
spetri2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

LatCha1.77.genome : Latimeria_chalumnae
LatCha1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

LepOcu1.77.genome : Lepisosteus_oculatus
LepOcu1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

loxAfr3.77.genome : Loxodonta_africana
loxAfr3.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

MMUL_1.77.genome : Macaca_mulatta
MMUL_1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Meug_1.0.77.genome : Macropus_eugenii
Meug_1.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

UMD2.77.genome : Meleagris_gallopavo
UMD2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

micMur1.77.genome : Microcebus_murinus
micMur1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

BROADO5.77.genome : Monodelphis_domestica
BROADO5.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

GRCm38.77.genome : Mus_musculus
GRCm38.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

MusPutFur1.0.77.genome : Mustela_putorius_furo
MusPutFur1.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Myoluc2.0.77.genome : Myotis_lucifugus
Myoluc2.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Nleu1.0.77.genome : Nomascus_leucogenys
Nleu1.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

pika.77.genome : Ochotona_princeps
pika.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Orenil1.0.77.genome : Oreochromis_niloticus
Orenil1.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

OANA5.77.genome : Ornithorhynchus_anatinus
OANA5.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

OryCun2.0.77.genome : Oryctolagus_cuniculus
OryCun2.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

MEDAKA1.77.genome : Oryzias_latipes
MEDAKA1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

OtoGar3.77.genome : Otolemur_garnettii
OtoGar3.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Oar_v3.1.77.genome : Ovis_aries
Oar_v3.1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

CHIMP2.1.4.77.genome : Pan_troglodytes
CHIMP2.1.4.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

PapAnu2.0.77.genome : Papio_anubis
PapAnu2.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

PelSin_1.0.77.genome : Pelodiscus_sinensis
PelSin_1.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Pmarinus_7.0.77.genome : Petromyzon_marinus
Pmarinus_7.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

PoeFor_5.1.2.77.genome : Poecilia_formosa
PoeFor_5.1.2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

PPYG2.77.genome : Pongo_abelii
PPYG2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

proCap1.77.genome : Procavia_capensis
proCap1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

pteVam1.77.genome : Pteropus_vampyrus
pteVam1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Rnor_5.0.77.genome : Rattus_norvegicus
Rnor_5.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

R64-1-1.77.genome : Saccharomyces_cerevisiae
R64-1-1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

DEVIL7.0.77.genome : Sarcophilus_harrisii
DEVIL7.0.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

COMMON_SHREW1.77.genome : Sorex_araneus
COMMON_SHREW1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Sscrofa10.2.77.genome : Sus_scrofa
Sscrofa10.2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

taeGut3.2.4.77.genome : Taeniopygia_guttata
taeGut3.2.4.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

FUGU4.77.genome : Takifugu_rubripes
FUGU4.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

tarSyr1.77.genome : Tarsius_syrichta
tarSyr1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

TETRAODON8.77.genome : Tetraodon_nigroviridis
TETRAODON8.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

TREESHREW.77.genome : Tupaia_belangeri
TREESHREW.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

turTru1.77.genome : Tursiops_truncatus
turTru1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

vicPac1.77.genome : Vicugna_pacos
vicPac1.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

JGI_4.2.77.genome : Xenopus_tropicalis
JGI_4.2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

Xipmac4.4.2.77.genome : Xiphophorus_maculatus
Xipmac4.4.2.77.reference : ftp://ftp.ensembl.org/pub/release-77/gtf/

