dana_r1.04.genome : dana_r1.04
dana_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_05/dana_r1.04/gff/dana-all-r1.04.gff.gz
dere_r1.04.genome : dere_r1.04
dere_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_05/dere_r1.04/gff/dere-all-r1.04.gff.gz
dgri_r1.3.genome : dgri_r1.3
dgri_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_05/dgri_r1.3/gff/dgri-all-r1.3.gff.gz
dmel_r6.08.genome : dmel_r6.08
dmel_r6.08.reference : ftp://ftp.flybase.net/releases/FB2015_05/dmel_r6.08/gff/dmel-all-r6.08.gff.gz
dmoj_r1.04.genome : dmoj_r1.04
dmoj_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_05/dmoj_r1.04/gff/dmoj-all-r1.04.gff.gz
dper_r1.3.genome : dper_r1.3
dper_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_05/dper_r1.3/gff/dper-all-r1.3.gff.gz
dpse_r3.03.genome : dpse_r3.03
dpse_r3.03.reference : ftp://ftp.flybase.net/releases/FB2015_05/dpse_r3.03/gff/dpse-all-r3.03.gff.gz
dsec_r1.3.genome : dsec_r1.3
dsec_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_05/dsec_r1.3/gff/dsec-all-r1.3.gff.gz
dsim_r2.01.genome : dsim_r2.01
dsim_r2.01.reference : ftp://ftp.flybase.net/releases/FB2015_05/dsim_r2.01/gff/dsim-all-r2.01.gff.gz
dvir_r1.04.genome : dvir_r1.04
dvir_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_05/dvir_r1.04/gff/dvir-all-r1.04.gff.gz
dwil_r1.04.genome : dwil_r1.04
dwil_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_05/dwil_r1.04/gff/dwil-all-r1.04.gff.gz
dyak_r1.04.genome : dyak_r1.04
dyak_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_05/dyak_r1.04/gff/dyak-all-r1.04.gff.gz