
# Interval data is stored here
data_dir = /Users/pcingola/snpEff/data/
#data_dir = ./data/

# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
database_repository = http://downloads.sourceforge.net/project/snpeff/databases

# Store cache files here
cache_dir = /tmp

#---
# Comma separated list of genomes
#
# Each genome version XX can have separate config file located in data_dir/XX/snpEff.config
# For each genome 'XX' a set of attributes are defined
#   - XX.genome : <Genome_name>                     # The name of this genome
#   - chromoName.codonTable : <codon_table_name>    # Codon table for a chromosome in this genome (e.g. mithoncondrial codon table).
#---

genomes : \
	ailmel1.61 \
	, agam , agam2.6 \
	, alyrata107, alyrata1 \
	, amel2 \
	, anoCar1.0.60 , anoCar2.0.61 \
	, athaliana130, athalianaTair9, athalianaTair10 \
	, aquiCoer \
	, btau4.0.59 , btau4.0.60, btau4.0.61 \
	, bushBaby1.60, bushBaby1.61 \
	, cAlbicansv21 \
	, c_briggsae_WS230 \
	, c_neoformans \
	, calJac3.2.1.60, calJac3.2.1.61 \
	, canFam2.59 , canFam2.60, canFam2.61 \
	, cat1.60, cat1.61 \
	, cavPor3.60, cavPor3.61 \
	, ce.WS201, ce.WS210.60, ce.WS220.61 \
	, ce6 \
	, chimp2.1.59 , chimp2.1.60, chimp2.1.61 \
	, choHof1.60, choHof1.61 \
	, cInt2.60, cInt2.61 \
	, CP000730 \
	, crubella \
	, cSav2.0.60, cSav2.0.61 \
	, danRer8.59 , danRer9.60, danRer9.61 \
	, dasNov2.60, dasNov2.61 \
	, dipOrd1.60, dipOrd1.61 \
	, dm5.12 , dm5.22 , dm5.30 , dm5.31, dm5.32, dm5.34, dm5.40, dm5.42 \
	, dm5.25.59 , dm5.25.60, dm5.25.61, dm5.25.63 \
	, equCab2.60, equCab2.61 \
	, eriEur1.60, eriEur1.61 \
	, fugu4.60, fugu4.61 \
	, gacu1.60, gacu1.61 \
	, ggallus2.59 , ggallus2.60, ggallus2.61 \
	, gmax1.09, gmax1.09v8 \
	, gorGor3.60, gorGor3.61 \
	, herpesvirus1 \
	, hg36.54, hg19, hg37.59 , hg37.60, hg37.61, hg37.63 \
	, hiv \
	, kw1407.2012 \
	, lmjf4 \
	, loxAfr3.60, loxAfr3.61 \
	, m_tuberculosis \
	, maizeZmB73 \
	, medaka1.60, medaka1.61 \
	, meug1.0.60, meug1.0.61 \
	, micMur1.60, micMur1.61 \
	, mm37 , mm37.59 , mm37.60, mm37.61 \
	, mmul1.60, mmul1.61 \
	, mmm.2012 \
	, monDom5.60, monDom5.61 \
	, myco_fh, myco_m129 \
	, myoLuc1.60, myoLuc1.61 \
	, ncrassa \
	, NC_000913 \
	, oana5.60, oana5.61 \
	, ochPri2.60, ochPri2.61 \
	, oryCun2.60, oryCun2.61 \
	, pfluo.SBW25.NC_009444 \
	, pfluo.SBW25.NC_012660 \
	, paeru.PA01 \
	, paeru.PA14 \
	, peromyscus \
	, plasmo72 \
	, ppersica139 \
	, ppyg2.60, ppyg2.61 \
	, proCap1.60, proCap1.61 \
	, pteVam1.60, pteVam1.61 \
	, rat3.4.59 , rat3.4.60, rat3.4.61 \
	, rice5, rice6.1 \
	, sacCer2, sacCer2.59 , sacCer2.60, sacCer2.61 \
	, SCU49845 \
	, SIVmac239 \
	, SL2.40 \
	, sorAra1.60, sorAra1.61 \
	, speTri1.60, speTri1.61 \
	, spombe \
	, sScrofa9.60, sScrofa9.61 \
	, taeGut3.2.4.60, taeGut3.2.4.61 \
	, tarSyr1.60, tarSyr1.61 \
	, tenrec1.60, tenrec1.61 \
	, testCase, testCaseHg, testHg3763Chr1, testHg3761Chr15, testHg3761Chr16, testHg3763Chr20, testHg3763ChrY, testHg3765Chr22, test, test_ENSG00000158062 \
	, tetraodon8.60, tetraodon8.61 \
	, tupBel1.60, tupBel1.61 \
	, turTru1.60, turTru1.61 \
	, turkey.UMD2.61 \
	, UMD3_1 \
	, vacwr \
	, vibrio \
	, vicPac1.60, vicPac1.61 \
	, xtrop4.1.60, xtrop4.1.61, xtrop7.1 \
	\
	, ailMel1.63 \
	, AnoCar2.0.63 \
	, BDGP5.25.63 \
	, BROADD2.63 \
	, BROADO5.63 \
	, BROADS1.63 \
	, Btau_4.0.63 \
	, BUSHBABY1.63 \
	, CAT.63 \
	, cavPor3.63 \
	, CHIMP2.1.63 \
	, choHof1.63 \
	, C_jacchus3.2.1.63 \
	, COMMON_SHREW1.63 \
	, CSAV2.0.63 \
	, dasNov2.63 \
	, dipOrd1.63 \
	, EF3.63 \
	, EquCab2.63 \
	, FUGU4.63 \
	, gorGor3.63 \
	, GRCh37.63 \
	, HEDGEHOG.63 \
	, JGI2.63 \
	, JGI_4.2.63 \
	, loxAfr3.63 \
	, MEDAKA1.63 \
	, Meug_1.0.63 \
	, micMur1.63 \
	, MMUL_1.63 \
	, Myoluc2.0.63 \
	, NCBIM37.63 \
	, Nleu1.0.63 \
	, OANA5.63 \
	, oryCun2.63 \
	, pika.63 \
	, PPYG2.63 \
	, proCap1.63 \
	, pteVam1.63 \
	, RGSC3.4.63 \
	, SQUIRREL.63 \
	, Sscrofa9.63 \
	, taeGut3.2.4.63 \
	, tarSyr1.63 \
	, TENREC.63 \
	, TETRAODON8.63 \
	, TREESHREW.63 \
	, turTru1.63 \
	, UMD2.63 \
	, vicPac1.63 \
	, WASHUC2.63 \
	, WS220.63 \
	, Zv9.63 \
	\
	, ailMel1.64 \
	, AnoCar2.0.64 \
	, BDGP5.25.64 \
	, BROADD2.64 \
	, BROADO5.64 \
	, BROADS1.64 \
	, BUSHBABY1.64 \
	, CAT.64 \
	, cavPor3.64 \
	, CHIMP2.1.64 \
	, choHof1.64 \
	, C_jacchus3.2.1.64 \
	, COMMON_SHREW1.64 \
	, CSAV2.0.64 \
	, dasNov2.64 \
	, DEVIL7.0.64 \
	, dipOrd1.64 \
	, EF3.64 \
	, EquCab2.64 \
	, FUGU4.64 \
	, gorGor3.1.64 \
	, GRCh37.64 \
	, HEDGEHOG.64 \
	, JGI2.64 \
	, JGI_4.2.64 \
	, loxAfr3.64 \
	, MEDAKA1.64 \
	, Meug_1.0.64 \
	, micMur1.64 \
	, MMUL_1.64 \
	, Myoluc2.0.64 \
	, NCBIM37.64 \
	, Nleu1.0.64 \
	, OANA5.64 \
	, oryCun2.64 \
	, Petromyzon_marinus_7.0.64 \
	, pika.64 \
	, PPYG2.64 \
	, proCap1.64 \
	, pteVam1.64 \
	, RGSC3.4.64 \
	, SQUIRREL.64 \
	, Sscrofa9.64 \
	, taeGut3.2.4.64 \
	, tarSyr1.64 \
	, TENREC.64 \
	, TETRAODON8.64 \
	, TREESHREW.64 \
	, turTru1.64 \
	, UMD2.64 \
	, UMD3.1.64 \
	, vicPac1.64 \
	, WASHUC2.64 \
	, WS220.64 \
	, Zv9.64 \
	\
	, ailMel1.65 \
	, AnoCar2.0.65 \
	, BDGP5.25.65 \
	, BROADD2.65 \
	, BROADO5.65 \
	, BROADS1.65 \
	, BUSHBABY1.65 \
	, CAT.65 \
	, cavPor3.65 \
	, CHIMP2.1.65 \
	, choHof1.65 \
	, C_jacchus3.2.1.65 \
	, COMMON_SHREW1.65 \
	, CSAV2.0.65 \
	, dasNov2.65 \
	, DEVIL7.0.65 \
	, dipOrd1.65 \
	, EF4.65 \
	, EquCab2.65 \
	, FUGU4.65 \
	, gorGor3.1.65 \
	, GRCh37.65 \
	, HEDGEHOG.65 \
	, JGI2.65 \
	, JGI_4.2.65 \
	, loxAfr3.65 \
	, MEDAKA1.65 \
	, Meug_1.0.65 \
	, micMur1.65 \
	, MMUL_1.65 \
	, Myoluc2.0.65 \
	, NCBIM37.65 \
	, Nleu1.0.65 \
	, OANA5.65 \
	, oryCun2.65 \
	, Petromyzon_marinus_7.0.65 \
	, pika.65 \
	, PPYG2.65 \
	, proCap1.65 \
	, pteVam1.65 \
	, RGSC3.4.65 \
	, SQUIRREL.65 \
	, Sscrofa9.65 \
	, taeGut3.2.4.65 \
	, tarSyr1.65 \
	, TENREC.65 \
	, TETRAODON8.65 \
	, TREESHREW.65 \
	, turTru1.65 \
	, UMD2.65 \
	, UMD3.1.65 \
	, vicPac1.65 \
	, WASHUC2.65 \
	, WS220.65 \
	, Zv9.65 \

#---
# Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list 
# 			Where 'codon' is in uppper case, aminoAcid is a one letter coce, '+' denotes start codon and '*' denotes stop codon
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#		ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#---
codon.Standard:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Vertebrate_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/*, AGG/*, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Yeast_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/T, CTC/T, CTA/T, CTG/T, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mold_Mitochondrial:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Protozoan_Mitochondrial:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Coelenterate:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mitochondrial:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mycoplasma:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Spiroplasma:  TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Invertebrate_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ciliate_Nuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Dasycladacean_Nuclear: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Hexamita_Nuclear: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Echinoderm_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Flatworm_Mitochondrial: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Euplotid_Nuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/C, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Bacterial_and_Plant_Plastid:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Yeast_Nuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/S+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ascidian_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/G, AGG/G, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Flatworm_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Y, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Blepharisma_Macronuclear:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Chlorophycean_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Trematode_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Scenedesmus_obliquus_Mitochondrial:  TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/*, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Thraustochytrium_Mitochondrial:  TTT/F, TTC/F, TTA/*, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

#---
# Genome details
#---

# Ailuropoda_melanoleuca
ailmel1.61.genome : Ailuropoda_melanoleuca

# Anopheles_gambiae
# Reference: http://agambiae.vectorbase.org/GetData/ 
agam.genome : Anopheles_gambiae
agam2.6.genome : Anopheles_gambiae

# Arabidopsis lyrata (107) . Reference: http://www.phytozome.net/search.php?method=Org_Alyrata
alyrata107.genome : Arabidopsis_lyrata
# Arabidopsis lyrata (1) . Reference: http://genome.jgi-psf.org/Araly1/Araly1.download.ftp.html
alyrata1.genome : Arabidopsis_lyrata

# Apis mellifera
amel2.genome : Bee

# Anolis carolinensis genes (AnoCar1.0) (ENSEMBL)
anoCar1.0.60.genome : Anolis_carolinensis
anoCar2.0.61.genome : Anolis_carolinensis

# Aquilegia coerulea
aquiCoer.genome : Aquilegia_coerulea

# Arabidopsis Thaliana (130). Reference: http://www.phytozome.net/dataUsagePolicy.php?org=Org_Athaliana
athaliana130.genome : Arabidopsis_Thaliana

# Arabidopsis Thaliana (TAIR 9). 
# References: 
#		ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR9_genome_release/TAIR9_gff3/TAIR9_GFF3_genes.gff
#		ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR9_genome_release/TAIR9_chr_all.fas
athalianaTair9.genome : Arabidopsis_Thaliana

# Arabidopsis Thaliana (TAIR 10). Reference: ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR10_genome_release
athalianaTair10.genome : Arabidopsis_Thaliana

# Bos taurus genes (Btau_4.0) (ENSEMBL)
btau4.0.59.genome : Bos_taurus
btau4.0.60.genome : Bos_taurus
btau4.0.61.genome : Bos_taurus

# Otolemur garnettii genes (otoGar1) (ENSEMBL)
bushBaby1.60.genome : Otolemur_garnettii
bushBaby1.61.genome : Otolemur_garnettii

# Candida_albicans_SC5314 http://www.candidagenome.org/download/gff/C_albicans_SC5314/
cAlbicansv21.genome: Candida_albicans_SC5314

# C. Briggsae : ftp://ftp.wormbase.org/pub/wormbase/releases/WS230/species/c_briggsae/
c_briggsae_WS230.genome : Caenorhabditis_briggsae

# Cryptococcus neoformans: http://www.broadinstitute.org/annotation/genome/cryptococcus_neoformans/MultiDownloads.html
c_neoformans.genome: Cryptococcus_neoformans

# Callithrix jacchus genes (calJac3) (ENSEMBL)
calJac3.2.1.60.genome : Callithrix_jacchus
calJac3.2.1.61.genome : Callithrix_jacchus

# Canis familiaris genes (CanFam_2.0) (ENSEMBL)
canFam2.59.genome : Canis_familiaris
canFam2.60.genome : Canis_familiaris
canFam2.61.genome : Canis_familiaris

# Felis catus genes (CAT) (ENSEMBL)
cat1.60.genome : Felis_catus
cat1.61.genome : Felis_catus

# Cavia porcellus genes (cavPor3) (ENSEMBL)
cavPor3.60.genome : Cavia_porcellus
cavPor3.61.genome : Cavia_porcellus

# Caenorhabditis elegans genes (WS210) (ENSEMBL)
ce.WS201.genome    : Caenorhabditis_elegans
ce.WS210.60.genome : Caenorhabditis_elegans
ce.WS220.61.genome : Caenorhabditis_elegans

# Caenorhabditis elegans genes (ce6) (UCSC)
ce6.genome         : Caenorhabditis_elegans

# Pan troglodytes genes (CHIMP2.1) (ENSEMBL)
chimp2.1.59.genome : Pan_troglodytes
chimp2.1.60.genome : Pan_troglodytes
chimp2.1.61.genome : Pan_troglodytes

# Choloepus hoffmanni genes (choHof1) (ENSEMBL)
choHof1.60.genome : Choloepus_hoffmanni
choHof1.61.genome : Choloepus_hoffmanni

# Ciona intestinalis genes (JGI2) (ENSEMBL)
cInt2.60.genome : Ciona_intestinalis
cInt2.61.genome : Ciona_intestinalis

# CP000730: http://www.ncbi.nlm.nih.gov/nuccore/CP000730.1
CP000730.genome : Staphylococcus aureus

# Capsella_rubella_v1.0 (Toronto University, Grandiflora)
crubella.genome : Capsella_rubella_v1.0

# Ciona savignyi genes (CSAV2.0) (ENSEMBL)
cSav2.0.60.genome : Ciona_savignyi
cSav2.0.61.genome : Ciona_savignyi

# Danio rerio genes (Zv9) (ENSEMBL)
danRer8.59.genome : Danio_rerio
danRer9.60.genome : Danio_rerio
danRer9.61.genome : Danio_rerio

# Dasypus novemcinctus genes (dasNov2) (ENSEMBL)
dasNov2.60.genome : Dasypus_novemcinctus
dasNov2.61.genome : Dasypus_novemcinctus

# Dipodomys ordii genes (dipOrd1) (ENSEMBL)
dipOrd1.60.genome : Dipodomys_ordii
dipOrd1.61.genome : Dipodomys_ordii

# Drosophila melanogaster (ENSEMBL)
dm5.25.59.genome : Drosophila_melanogaster
dm5.25.60.genome : Drosophila_melanogaster
dm5.25.61.genome : Drosophila_melanogaster
dm5.25.63.genome : Drosophila_melanogaster

# Drosophila melanogaster (FlyBase)
dm5.12.genome : Drosophila_melanogaster
dm5.22.genome : Drosophila_melanogaster
dm5.30.genome : Drosophila_melanogaster
dm5.31.genome : Drosophila_melanogaster
dm5.32.genome : Drosophila_melanogaster
dm5.34.genome : Drosophila_melanogaster
dm5.40.genome : Drosophila_melanogaster
dm5.42.genome : Drosophila_melanogaster

# Equus caballus genes (EquCab2) (ENSEMBL)
equCab2.60.genome : Equus_caballus
equCab2.61.genome : Equus_caballus

# Erinaceus europaeus genes (eriEur1) (ENSEMBL)
eriEur1.60.genome : Erinaceus_europaeus
eriEur1.61.genome : Erinaceus_europaeus

# Takifugu rubripes genes (FUGU4.0) (ENSEMBL)
fugu4.60.genome : Takifugu_rubripes
fugu4.61.genome : Takifugu_rubripes

# Gasterosteus aculeatus genes (BROADS1) (ENSEMBL)
gacu1.60.genome : Gasterosteus_aculeatus
gacu1.61.genome : Gasterosteus_aculeatus

# Gallus gallus genes (WASHUC2) (ENSEMBL)
ggallus2.59.genome : Gallus_gallus
ggallus2.60.genome : Gallus_gallus
ggallus2.61.genome : Gallus_gallus

# Glycine max
#
#	Version 7
# 	Reference   : ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v7.0/Gmax/ 
# 	Sequence    : ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v7.0/Gmax/assembly/Gmax_109.fa.gz 
# 	Annotations : ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v7.0/Gmax/annotation/ 
#
# Version 8
#		ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v8.0/Gmax/assembly/Gmax_109.fa.gz
#		ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v8.0/Gmax/annotation/Gmax_109_gene.gff3.gz
gmax1.09.genome: Glycine_Max
gmax1.09v8.genome: Glycine_Max

# Gorilla gorilla genes (gorGor3) (ENSEMBL)
gorGor3.60.genome : Gorilla_gorilla
gorGor3.61.genome : Gorilla_gorilla

# Human herpesvirus 1, complete genome. NCBI Reference Sequence: NC_001806.1
herpesvirus1.genome: Herpesvirus

# Homo sapiens genes (GRCh37.p2) (ENSEMBL)
hg36.54.genome : Homo_sapiens
hg37.59.genome : Homo_sapiens
hg37.60.genome : Homo_sapiens
hg37.61.genome : Homo_sapiens
hg37.63.genome : Homo_sapiens

# Homo sapiens (hg19) (UCSC)
#
# Protein sequences:
# 	ftp://ftp.ncbi.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz
# 
# RefSeq transcript <-> protein mapping: 
# 	http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz
# 
hg19.genome : Homo_sapiens

# HIV_nc_001802_1
hiv.genome : hiv

# Grosmannia clavigera
kw1407.2012.genome: Grosmannia_clavigera

# Leishmania genome
lmjf4.genome : LmajorFriedlin

# Loxodonta africana genes (loxAfr3) (ENSEMBL)
loxAfr3.60.genome : Loxodonta_africana
loxAfr3.61.genome : Loxodonta_africana

# Mycobacterium tuberculosis
# Ref: ftp://ftp.sanger.ac.uk/pub/pathogens/Mycobacterium/tuberculosis/
m_tuberculosis.genome : Mycobacterium_tuberculosis

# Neurospora Crassa (reference http://www.broadinstitute.org/annotation/genome/neurospora/MultiDownloads.html)
ncrassa.genome : Neurospora_Crassa

# Ecoli K12 MG1655
NC_000913.genome : Escherichia_coli

# Maize (http://ftp.maizesequence.org/)
maizeZmB73.genome : Maize_ZmB73

# Oryzias latipes genes (HdrR) (ENSEMBL)
medaka1.60.genome : Oryzias_latipes
medaka1.61.genome : Oryzias_latipes

# Macropus eugenii genes (Meug_1.0) (ENSEMBL)
meug1.0.60.genome : Macropus_eugenii
meug1.0.61.genome : Macropus_eugenii

# Microcebus murinus genes (micMur1) (ENSEMBL)
micMur1.60.genome : Microcebus_murinus
micMur1.61.genome : Microcebus_murinus

# Mus musculus genes (NCBIM37) (ENSEMBL)
mm37.genome : Mus_musculus
mm37.59.genome : Mus_musculus
mm37.60.genome : Mus_musculus
mm37.61.genome : Mus_musculus

# Macaca mulatta genes (MMUL_1.0) (ENSEMBL)
mmul1.60.genome : Macaca_mulatta
mmul1.61.genome : Macaca_mulatta

# Mycobacterium marinum M strain genome, version 31012012 			
mmm.2012.genome : Mycobacterium_marinum_M

# Monodelphis domestica genes (monDom5) (ENSEMBL)
monDom5.60.genome : Monodelphis_domestica
monDom5.61.genome : Monodelphis_domestica

# Mycoplasma pneumoninae FH
myco_fh.genome : Mycoplasma_pneumoninae_FH

# Mycoplasma pneumoninae M129
myco_m129.genome : Mycoplasma_pneumoninae_M129

# Myotis lucifugus genes (myoLuc1) (ENSEMBL)
myoLuc1.60.genome : Myotis_lucifugus
myoLuc1.61.genome : Myotis_lucifugus

# Ornithorhynchus anatinus genes (OANA5) (ENSEMBL)
oana5.60.genome : Ornithorhynchus_anatinus
oana5.61.genome : Ornithorhynchus_anatinus

# Ochotona princeps genes (OchPri2.0) (ENSEMBL)
ochPri2.60.genome : Ochotona_princeps
ochPri2.61.genome : Ochotona_princeps

# Oryctolagus cuniculus genes (oryCun2.0) (ENSEMBL)
oryCun2.60.genome : Oryctolagus_cuniculus
oryCun2.61.genome : Oryctolagus_cuniculus

# Pseudomonas aeruginosa, N_008463
paeru.PA01.genome : Pseudomonas_aeruginosa
	paeru.PA01.chromosomes : NC_002516.2
	paeru.PA01.NC_002516.2.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas aeruginosa, N_008463
paeru.PA14.genome : Pseudomonas_aeruginosa
	paeru.PA14.chromosomes : NC_008463.1
	paeru.PA14.NC_008463.1.codonTable: Bacterial_and_Plant_Plastid

# Peromyscus leucopus (white footed deer mice)
peromyscus.genome : Peromyscus leucopus

# Plasmodium falciparum (http://plasmodb.org/common/downloads/release-7.2/Pfalciparum/)
plasmo72.genome: Plasmodium_falciparum

# Peach (Prunus persica). Reference: ftp://ftp.plantgdb.org/download/Genomes/PeGDB/
ppersica139.genome : Peach

# Pseudomonas fluorescens
pfluo.SBW25.NC_009444.genome : Pseudomonas_fluorescens
	pfluo.SBW25.NC_009444.chromosomes : NC_009444.1
	pfluo.SBW25.NC_009444.NC_009444.1.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas fluorescens
pfluo.SBW25.NC_012660.genome : Pseudomonas_fluorescens
	pfluo.SBW25.NC_012660.chromosomes : NC_012660.1
	pfluo.SBW25.NC_012660.NC_012660.1.codonTable: Bacterial_and_Plant_Plastid

# Pongo pygmaeus abelii genes (PPYG2) (ENSEMBL)
ppyg2.60.genome : Pongo_pygmaeus
ppyg2.61.genome : Pongo_pygmaeus

# Procavia capensis genes (proCap1) (ENSEMBL)
proCap1.60.genome : Procavia_capensis
proCap1.61.genome : Procavia_capensis

# Pteropus vampyrus genes (pteVam1) (ENSEMBL)
pteVam1.60.genome : Pteropus_vampyrus
pteVam1.61.genome : Pteropus_vampyrus

# Rattus norvegicus genes (RGSC3.4) (ENSEMBL)
rat3.4.59.genome : Rattus_norvegicus
rat3.4.60.genome : Rattus_norvegicus
rat3.4.61.genome : Rattus_norvegicus

# Rice: http://rapdb.dna.affrc.go.jp/download/index.html
rice5.genome: Rice_v5

# Rice: ftp://ftp.plantbiology.msu.edu/pub/data/Eukaryotic_Projects/o_sativa/annotation_dbs/ 
rice6.1.genome: Rice_v6_1

# Saccharomyces cerevisiae genes (SGD1.01) (ENSEMBL)
sacCer2.genome : Saccharomyces_cerevisiae
sacCer2.59.genome : Saccharomyces_cerevisiae
sacCer2.60.genome : Saccharomyces_cerevisiae
sacCer2.61.genome : Saccharomyces_cerevisiae

# SCU49845
SCU49845.genome : SCU49845

# HIV virus (SIVmac239, http://www.ncbi.nlm.nih.gov/nuccore/334647)
SIVmac239.genome : HIV

# Tomato 
#
# SL2.40:
#	ftp://ftp.solgenomics.net/genomes/Solanum_lycopersicum/wgs/assembly/build_2.40/S_lycopersicum_chromosomes.2.40.fa.gz
#	http://solgenomics.net/itag/release/2.3/list_files#			(File ITAG2.3_gene_models.gff3)
SL2.40.genome : Tomato

# Sorex araneus genes (sorAra1) (ENSEMBL)
sorAra1.60.genome : Sorex_araneus
sorAra1.61.genome : Sorex_araneus

# Spermophilus tridecemlineatus genes (speTri1) (ENSEMBL)
speTri1.60.genome : Spermophilus_tridecemlineatus
speTri1.61.genome : Spermophilus_tridecemlineatus

# Schizosaccharomyces pombe (fission yeast). 
# References: 
# 	ftp://ftp.sanger.ac.uk/pub/yeast/pombe/GFF/pombe_09052011.gff
# 	ftp://ftp.sanger.ac.uk/pub/yeast/pombe/GFF/pombe_09052011.fasta
spombe.genome : Schizosaccharomyces_pombe

# Sus scrofa genes (Sscrofa9) (ENSEMBL)
sScrofa9.60.genome : Sus_scrofa
sScrofa9.61.genome : Sus_scrofa

# Taeniopygia guttata genes (taeGut3.2.4) (ENSEMBL)
taeGut3.2.4.60.genome : Taeniopygia_guttata
taeGut3.2.4.61.genome : Taeniopygia_guttata

# Tarsius syrichta genes (tarSyr1) (ENSEMBL)
tarSyr1.60.genome : Tarsius_syrichta
tarSyr1.61.genome : Tarsius_syrichta

# Echinops telfairi genes (TENREC) (ENSEMBL)
tenrec1.60.genome : Echinops_telfairi
tenrec1.61.genome : Echinops_telfairi

# Used for debugging
test.genome : test
testHg3761Chr15.genome : Human_Chr15
testHg3761Chr16.genome : Human_Chr16
testHg3763Chr1.genome  : Human_Chr1
testHg3763Chr20.genome : Human_Chr20
testHg3763ChrY.genome  : Human_ChrY
testHg3765Chr22.genome : Human_Chr22
testCase.genome        : Human
	testCaseHg.chromosomes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, X, Y
test_ENSG00000158062.genome   : Human_Chr1_ENSG00000158062

# Tetraodon nigroviridis genes (TETRAODON8.0) (ENSEMBL)
tetraodon8.60.genome : Tetraodon_nigroviridis
tetraodon8.61.genome : Tetraodon_nigroviridis

# Tupaia belangeri genes (tupBel1) (ENSEMBL)
tupBel1.60.genome : Tupaia_belangeri
tupBel1.61.genome : Tupaia_belangeri

# Meleagris_gallopavo (Turkey)
turkey.UMD2.61.genome : Meleagris_gallopavo

# Tursiops truncatus genes (turTru1) (ENSEMBL)
turTru1.60.genome : Tursiops_truncatus
turTru1.61.genome : Tursiops_truncatus

# Bos taurus : University of Maryland version 3.1
UMD3_1.genome : Bos_taurus

# Vaccinia WR (NCBIM37) (ENSEMBL) gi|29692106|gb|AY243312.1|
vacwr.genome : Vaccinia_Western_Reserve

# Vibrio Cholerae
vibrio.genome : Vibrio Cholerae
	vibrio.chromosomes : NC_002505.1, NC_002506.1
	vibrio.NC_002505.1.codonTable : Bacterial_and_Plant_Plastid
	vibrio.NC_002506.1.codonTable : Bacterial_and_Plant_Plastid

# Vicugna pacos genes (vicPac1) (ENSEMBL)
vicPac1.60.genome : Vicugna_pacos
vicPac1.61.genome : Vicugna_pacos

# Xenopus tropicalis genes (JGI4.1)] (ENSEMBL)
xtrop4.1.60.genome : Xenopus_tropicalis
xtrop4.1.61.genome : Xenopus_tropicalis
# Xenopus tropicalis ftp://ftp.xenbase.org/pub/Genomics/JGI/Xentr7.1/
xtrop7.1.genome : Xenopus_tropicalis

#-------------------------------------------------------------------------------
# Ensembl 63 versions
#-------------------------------------------------------------------------------

# ENSEMBL v63 : Ailuropoda_melanoleuca.ailMel1.63
ailMel1.63.genome : Ailuropoda_melanoleuca.ailMel1.63

# ENSEMBL v63 : Anolis_carolinensis.AnoCar2.0.63
AnoCar2.0.63.genome : Anolis_carolinensis.AnoCar2.0.63

# ENSEMBL v63 : Bos_taurus.Btau_4.0.63
Btau_4.0.63.genome : Bos_taurus.Btau_4.0.63

# ENSEMBL v63 : Caenorhabditis_elegans.WS220.63
WS220.63.genome : Caenorhabditis_elegans.WS220.63

# ENSEMBL v63 : Callithrix_jacchus.C_jacchus3.2.1.63
C_jacchus3.2.1.63.genome : Callithrix_jacchus.C_jacchus3.2.1.63

# ENSEMBL v63 : Canis_familiaris.BROADD2.63
BROADD2.63.genome : Canis_familiaris.BROADD2.63

# ENSEMBL v63 : Cavia_porcellus.cavPor3.63
cavPor3.63.genome : Cavia_porcellus.cavPor3.63

# ENSEMBL v63 : Choloepus_hoffmanni.choHof1.63
choHof1.63.genome : Choloepus_hoffmanni.choHof1.63

# ENSEMBL v63 : Ciona_intestinalis.JGI2.63
JGI2.63.genome : Ciona_intestinalis.JGI2.63

# ENSEMBL v63 : Ciona_savignyi.CSAV2.0.63
CSAV2.0.63.genome : Ciona_savignyi.CSAV2.0.63

# ENSEMBL v63 : Danio_rerio.Zv9.63
Zv9.63.genome : Danio_rerio.Zv9.63

# ENSEMBL v63 : Dasypus_novemcinctus.dasNov2.63
dasNov2.63.genome : Dasypus_novemcinctus.dasNov2.63

# ENSEMBL v63 : Dipodomys_ordii.dipOrd1.63
dipOrd1.63.genome : Dipodomys_ordii.dipOrd1.63

# ENSEMBL v63 : Drosophila_melanogaster.BDGP5.25.63
BDGP5.25.63.genome : Drosophila_melanogaster.BDGP5.25.63

# ENSEMBL v63 : Echinops_telfairi.TENREC.63
TENREC.63.genome : Echinops_telfairi.TENREC.63

# ENSEMBL v63 : Equus_caballus.EquCab2.63
EquCab2.63.genome : Equus_caballus.EquCab2.63

# ENSEMBL v63 : Erinaceus_europaeus.HEDGEHOG.63
HEDGEHOG.63.genome : Erinaceus_europaeus.HEDGEHOG.63

# ENSEMBL v63 : Felis_catus.CAT.63
CAT.63.genome : Felis_catus.CAT.63

# ENSEMBL v63 : Gallus_gallus.WASHUC2.63
WASHUC2.63.genome : Gallus_gallus.WASHUC2.63

# ENSEMBL v63 : Gasterosteus_aculeatus.BROADS1.63
BROADS1.63.genome : Gasterosteus_aculeatus.BROADS1.63

# ENSEMBL v63 : Gorilla_gorilla.gorGor3.63
gorGor3.63.genome : Gorilla_gorilla.gorGor3.63

# ENSEMBL v63 : Homo_sapiens.GRCh37.63
GRCh37.63.genome : Homo_sapiens.GRCh37.63

# ENSEMBL v63 : Loxodonta_africana.loxAfr3.63
loxAfr3.63.genome : Loxodonta_africana.loxAfr3.63

# ENSEMBL v63 : Macaca_mulatta.MMUL_1.63
MMUL_1.63.genome : Macaca_mulatta.MMUL_1.63

# ENSEMBL v63 : Macropus_eugenii.Meug_1.0.63
Meug_1.0.63.genome : Macropus_eugenii.Meug_1.0.63

# ENSEMBL v63 : Meleagris_gallopavo.UMD2.63
UMD2.63.genome : Meleagris_gallopavo.UMD2.63

# ENSEMBL v63 : Microcebus_murinus.micMur1.63
micMur1.63.genome : Microcebus_murinus.micMur1.63

# ENSEMBL v63 : Monodelphis_domestica.BROADO5.63
BROADO5.63.genome : Monodelphis_domestica.BROADO5.63

# ENSEMBL v63 : Mus_musculus.NCBIM37.63
NCBIM37.63.genome : Mus_musculus.NCBIM37.63

# ENSEMBL v63 : Myotis_lucifugus.Myoluc2.0.63
Myoluc2.0.63.genome : Myotis_lucifugus.Myoluc2.0.63

# ENSEMBL v63 : Nomascus_leucogenys.Nleu1.0.63
Nleu1.0.63.genome : Nomascus_leucogenys.Nleu1.0.63

# ENSEMBL v63 : Ochotona_princeps.pika.63
pika.63.genome : Ochotona_princeps.pika.63

# ENSEMBL v63 : Ornithorhynchus_anatinus.OANA5.63
OANA5.63.genome : Ornithorhynchus_anatinus.OANA5.63

# ENSEMBL v63 : Oryctolagus_cuniculus.oryCun2.63
oryCun2.63.genome : Oryctolagus_cuniculus.oryCun2.63

# ENSEMBL v63 : Oryzias_latipes.MEDAKA1.63
MEDAKA1.63.genome : Oryzias_latipes.MEDAKA1.63

# ENSEMBL v63 : Otolemur_garnettii.BUSHBABY1.63
BUSHBABY1.63.genome : Otolemur_garnettii.BUSHBABY1.63

# ENSEMBL v63 : Pan_troglodytes.CHIMP2.1.63
CHIMP2.1.63.genome : Pan_troglodytes.CHIMP2.1.63

# ENSEMBL v63 : Pongo_abelii.PPYG2.63
PPYG2.63.genome : Pongo_abelii.PPYG2.63

# ENSEMBL v63 : Procavia_capensis.proCap1.63
proCap1.63.genome : Procavia_capensis.proCap1.63

# ENSEMBL v63 : Pteropus_vampyrus.pteVam1.63
pteVam1.63.genome : Pteropus_vampyrus.pteVam1.63

# ENSEMBL v63 : Rattus_norvegicus.RGSC3.4.63
RGSC3.4.63.genome : Rattus_norvegicus.RGSC3.4.63

# ENSEMBL v63 : Saccharomyces_cerevisiae.EF3.63
EF3.63.genome : Saccharomyces_cerevisiae.EF3.63

# ENSEMBL v63 : Sorex_araneus.COMMON_SHREW1.63
COMMON_SHREW1.63.genome : Sorex_araneus.COMMON_SHREW1.63

# ENSEMBL v63 : Spermophilus_tridecemlineatus.SQUIRREL.63
SQUIRREL.63.genome : Spermophilus_tridecemlineatus.SQUIRREL.63

# ENSEMBL v63 : Sus_scrofa.Sscrofa9.63
Sscrofa9.63.genome : Sus_scrofa.Sscrofa9.63

# ENSEMBL v63 : Taeniopygia_guttata.taeGut3.2.4.63
taeGut3.2.4.63.genome : Taeniopygia_guttata.taeGut3.2.4.63

# ENSEMBL v63 : Takifugu_rubripes.FUGU4.63
FUGU4.63.genome : Takifugu_rubripes.FUGU4.63

# ENSEMBL v63 : Tarsius_syrichta.tarSyr1.63
tarSyr1.63.genome : Tarsius_syrichta.tarSyr1.63

# ENSEMBL v63 : Tetraodon_nigroviridis.TETRAODON8.63
TETRAODON8.63.genome : Tetraodon_nigroviridis.TETRAODON8.63

# ENSEMBL v63 : Tupaia_belangeri.TREESHREW.63
TREESHREW.63.genome : Tupaia_belangeri.TREESHREW.63

# ENSEMBL v63 : Tursiops_truncatus.turTru1.63
turTru1.63.genome : Tursiops_truncatus.turTru1.63

# ENSEMBL v63 : Vicugna_pacos.vicPac1.63
vicPac1.63.genome : Vicugna_pacos.vicPac1.63

# ENSEMBL v63 : Xenopus_tropicalis.JGI_4.2.63
JGI_4.2.63.genome : Xenopus_tropicalis.JGI_4.2.63

#-------------------------------------------------------------------------------
# Ensembl 64 versions
#-------------------------------------------------------------------------------

# ENSEMBL v64 : Ailuropoda_melanoleuca.ailMel1.64
ailMel1.64.genome : Ailuropoda_melanoleuca

# ENSEMBL v64 : Anolis_carolinensis.AnoCar2.0.64
AnoCar2.0.64.genome : Anolis_carolinensis

# ENSEMBL v64 : Bos_taurus.UMD3.1.64
UMD3.1.64.genome : Bos_taurus

# ENSEMBL v64 : Caenorhabditis_elegans.WS220.64
WS220.64.genome : Caenorhabditis_elegans

# ENSEMBL v64 : Callithrix_jacchus.C_jacchus3.2.1.64
C_jacchus3.2.1.64.genome : Callithrix_jacchus

# ENSEMBL v64 : Canis_familiaris.BROADD2.64
BROADD2.64.genome : Canis_familiaris

# ENSEMBL v64 : Cavia_porcellus.cavPor3.64
cavPor3.64.genome : Cavia_porcellus

# ENSEMBL v64 : Choloepus_hoffmanni.choHof1.64
choHof1.64.genome : Choloepus_hoffmanni

# ENSEMBL v64 : Ciona_intestinalis.JGI2.64
JGI2.64.genome : Ciona_intestinalis

# ENSEMBL v64 : Ciona_savignyi.CSAV2.0.64
CSAV2.0.64.genome : Ciona_savignyi

# ENSEMBL v64 : Danio_rerio.Zv9.64
Zv9.64.genome : Danio_rerio

# ENSEMBL v64 : Dasypus_novemcinctus.dasNov2.64
dasNov2.64.genome : Dasypus_novemcinctus

# ENSEMBL v64 : Dipodomys_ordii.dipOrd1.64
dipOrd1.64.genome : Dipodomys_ordii

# ENSEMBL v64 : Drosophila_melanogaster.BDGP5.25.64
BDGP5.25.64.genome : Drosophila_melanogaster

# ENSEMBL v64 : Echinops_telfairi.TENREC.64
TENREC.64.genome : Echinops_telfairi

# ENSEMBL v64 : Equus_caballus.EquCab2.64
EquCab2.64.genome : Equus_caballus

# ENSEMBL v64 : Erinaceus_europaeus.HEDGEHOG.64
HEDGEHOG.64.genome : Erinaceus_europaeus

# ENSEMBL v64 : Felis_catus.CAT.64
CAT.64.genome : Felis_catus

# ENSEMBL v64 : Gallus_gallus.WASHUC2.64
WASHUC2.64.genome : Gallus_gallus

# ENSEMBL v64 : Gasterosteus_aculeatus.BROADS1.64
BROADS1.64.genome : Gasterosteus_aculeatus

# ENSEMBL v64 : Gorilla_gorilla.gorGor3.1.64
gorGor3.1.64.genome : Gorilla_gorilla

# ENSEMBL v64 : Homo_sapiens.GRCh37.64
GRCh37.64.genome : Homo_sapiens

# ENSEMBL v64 : Loxodonta_africana.loxAfr3.64
loxAfr3.64.genome : Loxodonta_africana

# ENSEMBL v64 : Macaca_mulatta.MMUL_1.64
MMUL_1.64.genome : Macaca_mulatta

# ENSEMBL v64 : Macropus_eugenii.Meug_1.0.64
Meug_1.0.64.genome : Macropus_eugenii

# ENSEMBL v64 : Meleagris_gallopavo.UMD2.64
UMD2.64.genome : Meleagris_gallopavo

# ENSEMBL v64 : Microcebus_murinus.micMur1.64
micMur1.64.genome : Microcebus_murinus

# ENSEMBL v64 : Monodelphis_domestica.BROADO5.64
BROADO5.64.genome : Monodelphis_domestica

# ENSEMBL v64 : Mus_musculus.NCBIM37.64
NCBIM37.64.genome : Mus_musculus

# ENSEMBL v64 : Myotis_lucifugus.Myoluc2.0.64
Myoluc2.0.64.genome : Myotis_lucifugus

# ENSEMBL v64 : Nomascus_leucogenys.Nleu1.0.64
Nleu1.0.64.genome : Nomascus_leucogenys

# ENSEMBL v64 : Ochotona_princeps.pika.64
pika.64.genome : Ochotona_princeps

# ENSEMBL v64 : Ornithorhynchus_anatinus.OANA5.64
OANA5.64.genome : Ornithorhynchus_anatinus

# ENSEMBL v64 : Oryctolagus_cuniculus.oryCun2.64
oryCun2.64.genome : Oryctolagus_cuniculus

# ENSEMBL v64 : Oryzias_latipes.MEDAKA1.64
MEDAKA1.64.genome : Oryzias_latipes

# ENSEMBL v64 : Otolemur_garnettii.BUSHBABY1.64
BUSHBABY1.64.genome : Otolemur_garnettii

# ENSEMBL v64 : Pan_troglodytes.CHIMP2.1.64
CHIMP2.1.64.genome : Pan_troglodytes

# ENSEMBL v64 : Petromyzon_marinus.Petromyzon_marinus_7.0.64
Petromyzon_marinus_7.0.64.genome : Petromyzon_marinus

# ENSEMBL v64 : Pongo_abelii.PPYG2.64
PPYG2.64.genome : Pongo_abelii

# ENSEMBL v64 : Procavia_capensis.proCap1.64
proCap1.64.genome : Procavia_capensis

# ENSEMBL v64 : Pteropus_vampyrus.pteVam1.64
pteVam1.64.genome : Pteropus_vampyrus

# ENSEMBL v64 : Rattus_norvegicus.RGSC3.4.64
RGSC3.4.64.genome : Rattus_norvegicus

# ENSEMBL v64 : Saccharomyces_cerevisiae.EF3.64
EF3.64.genome : Saccharomyces_cerevisiae

# ENSEMBL v64 : Sarcophilus_harrisii.DEVIL7.0.64
DEVIL7.0.64.genome : Sarcophilus_harrisii

# ENSEMBL v64 : Sorex_araneus.COMMON_SHREW1.64
COMMON_SHREW1.64.genome : Sorex_araneus

# ENSEMBL v64 : Spermophilus_tridecemlineatus.SQUIRREL.64
SQUIRREL.64.genome : Spermophilus_tridecemlineatus

# ENSEMBL v64 : Sus_scrofa.Sscrofa9.64
Sscrofa9.64.genome : Sus_scrofa

# ENSEMBL v64 : Taeniopygia_guttata.taeGut3.2.4.64
taeGut3.2.4.64.genome : Taeniopygia_guttata

# ENSEMBL v64 : Takifugu_rubripes.FUGU4.64
FUGU4.64.genome : Takifugu_rubripes

# ENSEMBL v64 : Tarsius_syrichta.tarSyr1.64
tarSyr1.64.genome : Tarsius_syrichta

# ENSEMBL v64 : Tetraodon_nigroviridis.TETRAODON8.64
TETRAODON8.64.genome : Tetraodon_nigroviridis

# ENSEMBL v64 : Tupaia_belangeri.TREESHREW.64
TREESHREW.64.genome : Tupaia_belangeri

# ENSEMBL v64 : Tursiops_truncatus.turTru1.64
turTru1.64.genome : Tursiops_truncatus

# ENSEMBL v64 : Vicugna_pacos.vicPac1.64
vicPac1.64.genome : Vicugna_pacos

# ENSEMBL v64 : Xenopus_tropicalis.JGI_4.2.64
JGI_4.2.64.genome : Xenopus_tropicalis

#-------------------------------------------------------------------------------
# Ensembl 65 versions
#-------------------------------------------------------------------------------

# ENSEMBL v65 : Ailuropoda_melanoleuca.ailMel1.65
ailMel1.65.genome : Ailuropoda_melanoleuca

# ENSEMBL v65 : Anolis_carolinensis.AnoCar2.0.65
AnoCar2.0.65.genome : Anolis_carolinensis

# ENSEMBL v65 : Bos_taurus.UMD3.1.65
UMD3.1.65.genome : Bos_taurus

# ENSEMBL v65 : Caenorhabditis_elegans.WS220.65
WS220.65.genome : Caenorhabditis_elegans

# ENSEMBL v65 : Callithrix_jacchus.C_jacchus3.2.1.65
C_jacchus3.2.1.65.genome : Callithrix_jacchus

# ENSEMBL v65 : Canis_familiaris.BROADD2.65
BROADD2.65.genome : Canis_familiaris

# ENSEMBL v65 : Cavia_porcellus.cavPor3.65
cavPor3.65.genome : Cavia_porcellus

# ENSEMBL v65 : Choloepus_hoffmanni.choHof1.65
choHof1.65.genome : Choloepus_hoffmanni

# ENSEMBL v65 : Ciona_intestinalis.JGI2.65
JGI2.65.genome : Ciona_intestinalis

# ENSEMBL v65 : Ciona_savignyi.CSAV2.0.65
CSAV2.0.65.genome : Ciona_savignyi

# ENSEMBL v65 : Danio_rerio.Zv9.65
Zv9.65.genome : Danio_rerio

# ENSEMBL v65 : Dasypus_novemcinctus.dasNov2.65
dasNov2.65.genome : Dasypus_novemcinctus

# ENSEMBL v65 : Dipodomys_ordii.dipOrd1.65
dipOrd1.65.genome : Dipodomys_ordii

# ENSEMBL v65 : Drosophila_melanogaster.BDGP5.25.65
BDGP5.25.65.genome : Drosophila_melanogaster

# ENSEMBL v65 : Echinops_telfairi.TENREC.65
TENREC.65.genome : Echinops_telfairi

# ENSEMBL v65 : Equus_caballus.EquCab2.65
EquCab2.65.genome : Equus_caballus

# ENSEMBL v65 : Erinaceus_europaeus.HEDGEHOG.65
HEDGEHOG.65.genome : Erinaceus_europaeus

# ENSEMBL v65 : Felis_catus.CAT.65
CAT.65.genome : Felis_catus

# ENSEMBL v65 : Gallus_gallus.WASHUC2.65
WASHUC2.65.genome : Gallus_gallus

# ENSEMBL v65 : Gasterosteus_aculeatus.BROADS1.65
BROADS1.65.genome : Gasterosteus_aculeatus

# ENSEMBL v65 : Gorilla_gorilla.gorGor3.1.65
gorGor3.1.65.genome : Gorilla_gorilla

# ENSEMBL v65 : Homo_sapiens.GRCh37.65
GRCh37.65.genome : Homo_sapiens

# ENSEMBL v65 : Loxodonta_africana.loxAfr3.65
loxAfr3.65.genome : Loxodonta_africana

# ENSEMBL v65 : Macaca_mulatta.MMUL_1.65
MMUL_1.65.genome : Macaca_mulatta

# ENSEMBL v65 : Macropus_eugenii.Meug_1.0.65
Meug_1.0.65.genome : Macropus_eugenii

# ENSEMBL v65 : Meleagris_gallopavo.UMD2.65
UMD2.65.genome : Meleagris_gallopavo

# ENSEMBL v65 : Microcebus_murinus.micMur1.65
micMur1.65.genome : Microcebus_murinus

# ENSEMBL v65 : Monodelphis_domestica.BROADO5.65
BROADO5.65.genome : Monodelphis_domestica

# ENSEMBL v65 : Mus_musculus.NCBIM37.65
NCBIM37.65.genome : Mus_musculus

# ENSEMBL v65 : Myotis_lucifugus.Myoluc2.0.65
Myoluc2.0.65.genome : Myotis_lucifugus

# ENSEMBL v65 : Nomascus_leucogenys.Nleu1.0.65
Nleu1.0.65.genome : Nomascus_leucogenys

# ENSEMBL v65 : Ochotona_princeps.pika.65
pika.65.genome : Ochotona_princeps

# ENSEMBL v65 : Ornithorhynchus_anatinus.OANA5.65
OANA5.65.genome : Ornithorhynchus_anatinus

# ENSEMBL v65 : Oryctolagus_cuniculus.oryCun2.65
oryCun2.65.genome : Oryctolagus_cuniculus

# ENSEMBL v65 : Oryzias_latipes.MEDAKA1.65
MEDAKA1.65.genome : Oryzias_latipes

# ENSEMBL v65 : Otolemur_garnettii.BUSHBABY1.65
BUSHBABY1.65.genome : Otolemur_garnettii

# ENSEMBL v65 : Pan_troglodytes.CHIMP2.1.65
CHIMP2.1.65.genome : Pan_troglodytes

# ENSEMBL v65 : Petromyzon_marinus.Petromyzon_marinus_7.0.65
Petromyzon_marinus_7.0.65.genome : Petromyzon_marinus

# ENSEMBL v65 : Pongo_abelii.PPYG2.65
PPYG2.65.genome : Pongo_abelii

# ENSEMBL v65 : Procavia_capensis.proCap1.65
proCap1.65.genome : Procavia_capensis

# ENSEMBL v65 : Pteropus_vampyrus.pteVam1.65
pteVam1.65.genome : Pteropus_vampyrus

# ENSEMBL v65 : Rattus_norvegicus.RGSC3.4.65
RGSC3.4.65.genome : Rattus_norvegicus

# ENSEMBL v65 : Saccharomyces_cerevisiae.EF4.65
EF4.65.genome : Saccharomyces_cerevisiae

# ENSEMBL v65 : Sarcophilus_harrisii.DEVIL7.0.65
DEVIL7.0.65.genome : Sarcophilus_harrisii

# ENSEMBL v65 : Sorex_araneus.COMMON_SHREW1.65
COMMON_SHREW1.65.genome : Sorex_araneus

# ENSEMBL v65 : Spermophilus_tridecemlineatus.SQUIRREL.65
SQUIRREL.65.genome : Spermophilus_tridecemlineatus

# ENSEMBL v65 : Sus_scrofa.Sscrofa9.65
Sscrofa9.65.genome : Sus_scrofa

# ENSEMBL v65 : Taeniopygia_guttata.taeGut3.2.4.65
taeGut3.2.4.65.genome : Taeniopygia_guttata

# ENSEMBL v65 : Takifugu_rubripes.FUGU4.65
FUGU4.65.genome : Takifugu_rubripes

# ENSEMBL v65 : Tarsius_syrichta.tarSyr1.65
tarSyr1.65.genome : Tarsius_syrichta

# ENSEMBL v65 : Tetraodon_nigroviridis.TETRAODON8.65
TETRAODON8.65.genome : Tetraodon_nigroviridis

# ENSEMBL v65 : Tupaia_belangeri.TREESHREW.65
TREESHREW.65.genome : Tupaia_belangeri

# ENSEMBL v65 : Tursiops_truncatus.turTru1.65
turTru1.65.genome : Tursiops_truncatus

# ENSEMBL v65 : Vicugna_pacos.vicPac1.65
vicPac1.65.genome : Vicugna_pacos

# ENSEMBL v65 : Xenopus_tropicalis.JGI_4.2.65
JGI_4.2.65.genome : Xenopus_tropicalis

