
#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory. 
# Also, a non-absolute path will be relative to config's file dir
# 
#---
data.dir = ./data/

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---
database.repository = http://downloads.sourceforge.net/project/snpeff/databases

#---
# Latest version numbers. Check here if there is an update.
#---
versions.url = http://snpeff.sourceforge.net/versions.txt

#-------------------------------------------------------------------------------
# Third party databases
#-------------------------------------------------------------------------------

# Databases for human GRCh38 (hg38)

database.clinvar.GRCh38                 = ./db/GRCh38/clinvar/clinvar-latest.vcf.gz
database.repository.clinvar             = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/clinvar-latest.vcf.gz

database.dbsnp.GRCh38                   = ./db/GRCh38/dbSnp/dbSnp.vcf.gz
database.repository.dbsnp.GRCH38        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606/VCF/00-All.vcf.gz

database.dbnsfp.GRCH38                  = ./db/GRCh38/dbNSFP/dbNSFP.txt.gz

# Databases for human GRCh37 (hg19)
database.clinvar.GRCh37                 = ./db/GRCh37/clinvar/clinvar-latest.vcf.gz
database.repository.clinvar.GRCh37      = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/clinvar-latest.vcf.gz

database.dbsnp.GRCh37                   = ./db/GRCh37/dbSnp/
database.repository.dbsnp.GRCh37        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b141_GRCh37p13/VCF/

database.gwascatalog.GRCh37             = ./db/GRCh37/gwasCatalog/gwascatalog.txt
database.repository.gwascatalog.GRCh37  = http://www.genome.gov/admin/gwascatalog.txt

database.dbnsfp.GRCh37                  = ./db/GRCh37/dbNSFP/dbNSFP.txt.gz

#-------------------------------------------------------------------------------
# Loss of function (LOF) 
#-------------------------------------------------------------------------------

# It is assumed that even with a protein coding change at the 
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

#  It is assumed that even with a protein coding change at the 
#  first 5% of the protein: 
#  		"..suggesting some disrupted transcripts are 
#  		rescued by transcriptional reinitiation at an 
#  		alternative start codon."
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than 
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

#-------------------------------------------------------------------------------
# Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list 
# 			Where 'codon' is in uppper case, aminoAcid is a one letter 
#			code, '+' denotes start codon and '*' denotes stop codon.
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#				ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------

codon.Standard								: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Vertebrate_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/*, AGG/*, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Yeast_Mitochondrial					: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/T, CTC/T, CTA/T, CTG/T, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mold_Mitochondrial					: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Protozoan_Mitochondrial				: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Coelenterate							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mitochondrial							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mycoplasma							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Spiroplasma							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Invertebrate_Mitochondrial			: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ciliate_Nuclear						: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Dasycladacean_Nuclear					: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Hexamita_Nuclear						: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Echinoderm_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Flatworm_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Euplotid_Nuclear						: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/C, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Bacterial_and_Plant_Plastid			: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Yeast_Nuclear				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/S+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ascidian_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/G, AGG/G, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Flatworm_Mitochondrial	: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Y, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Blepharisma_Macronuclear				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Chlorophycean_Mitochondrial			: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Trematode_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Scenedesmus_obliquus_Mitochondrial	: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/*, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Thraustochytrium_Mitochondrial		: TTT/F, TTC/F, TTA/*, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

#-------------------------------------------------------------------------------
# Databases & Genomes
#
# One entry per genome version. 
#
# For genome version 'ZZZ' the entries look like
#	ZZZ.genome              : Real name for ZZZ (e.g. 'Human')
#	ZZZ.reference           : [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#	ZZZ.chrName.codonTable  : [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#
#-------------------------------------------------------------------------------

#---
# Non-standard Databases
#---

# Ebola virus
ebola_zaire.genome: Ebola Zaire Virus KJ660346.1

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens (UCSC)
	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
	hg19.M.codonTable : Vertebrate_Mitochondrial
	hg19.MT.codonTable : Vertebrate_Mitochondrial
	hg19.coordinates : GRCh37

# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
	hg19kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
	hg19kg.M.codonTable : Vertebrate_Mitochondrial
	hg19kg.MT.codonTable : Vertebrate_Mitochondrial
	hg19kg.coordinates : GRCh37

# Homo sapiens (hg38) (UCSC)
hg38.genome : Homo_sapiens (UCSC)
	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38.M.codonTable : Vertebrate_Mitochondrial
	hg38.MT.codonTable : Vertebrate_Mitochondrial
	hg38.coordinates : GRCh38

# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38kg.M.codonTable : Vertebrate_Mitochondrial
	hg38kg.MT.codonTable : Vertebrate_Mitochondrial
	hg38kg.coordinates : GRCh38

# GRCh37.75 release from ENSEMBL
GRCh37.75.genome : Human genome GRCh37 using transcripts
GRCh37.75.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh37.75.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.75.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37.87 release from ENSEMBL
GRCh37.87.genome : Human genome GRCh37 using transcripts
GRCh37.87.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh37.87.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.87.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37 release from NCBI's RefSeq 
GRCh37.p13.RefSeq.genome : Human genome GRCh37 using RefSeq transcripts
GRCh37.p13.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh37.p13.RefSeq.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.p13.RefSeq.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38 release from NCBI's RefSeq 
GRCh38.p7.RefSeq.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p7.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh38.p7.RefSeq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p7.RefSeq.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38.92 release from ENSEMBL
GRCh38.92.genome : Human genome GRCh38 using transcripts
GRCh38.92.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh38.92.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.92.MT.codonTable : Vertebrate_Mitochondrial

# Mouse
mm9.genome : Mouse
mm10.genome : Mouse


#---
# Test cases: Generic
#---
test.genome                     : TestCase
testCase.genome                 : TestCase

#---
# Test cases: Human GRCh37 / hg19
#---

# Hg19
testHg19Chr1.genome             : testHg19Chr1
testHg19Chr2.genome             : testHg19Chr2
testHg19Chr3.genome             : testHg19Chr3
testHg19Chr4.genome             : testHg19Chr4
testHg19Chr5.genome             : testHg19Chr5
testHg19Chr6.genome             : testHg19Chr6
testHg19Chr7.genome             : testHg19Chr7
testHg19Chr8.genome             : testHg19Chr8
testHg19Chr9.genome             : testHg19Chr9
testHg19Chr10.genome            : testHg19Chr10
testHg19Chr11.genome            : testHg19Chr11
testHg19Chr12.genome            : testHg19Chr12
testHg19Chr13.genome            : testHg19Chr13
testHg19Chr14.genome            : testHg19Chr14
testHg19Chr15.genome            : testHg19Chr15
testHg19Chr16.genome            : testHg19Chr16
testHg19Chr17.genome            : testHg19Chr17
testHg19Chr18.genome            : testHg19Chr18
testHg19Chr19.genome            : testHg19Chr19
testHg19Chr20.genome            : testHg19Chr20
testHg19Chr21.genome            : testHg19Chr21
testHg19Chr22.genome            : testHg19Chr22
testHg19ChrX.genome             : testHg19ChrX
testHg19ChrY.genome             : testHg19ChrY
testHg19Pdb.genome              : testHg19Pdb

testHg19Hgvs.genome             : testHg19Hgvs

# GRCh37.61
testHg37.61.genome              : TestCase
testHg3761Chr15.genome          : TestCase
testHg3761Chr16.genome          : TestCase

# GRCh37.63
testHg3763Chr1.genome           : TestCase
testHg3763Chr20.genome          : TestCase
testHg3763ChrY.genome           : TestCase

# GRCh37.65
testHg3765Chr22.genome          : TestCase

# GRCh37.66
testHg3766Chr1.genome           : TestCase

# GRCh37.67
testHg3767ChrMt.genome          : TestCase
testHg3767ChrMt.MT.codonTable   : Vertebrate_Mitochondrial

# GRCh37.69
testHg3769Chr12.genome          : TestCase

# GRCh37.70
testHg3770Chr22.genome			: TestCase

# GRCh37.71
testHg3771Chr1.genome			: TestCase

# GRCh37.73
testHg3773Chr3.genome			: TestCase

# GRCh37.75
testHg3775Chr1.genome			: TestCase
testHg3775Chr2.genome			: TestCase
testHg3775Chr6.genome			: TestCase
testHg3775Chr7.genome			: TestCase
testHg3775Chr8.genome			: TestCase
testHg3775Chr10.genome			: TestCase
testHg3775Chr11.genome			: TestCase
testHg3775Chr12.genome			: TestCase
testHg3775Chr14.genome			: TestCase
testHg3775Chr15.genome			: TestCase
testHg3775Chr22.genome			: TestCase

# GRCh38
testHg38Chr1.genome				: TestCase
testHg3882Chr22.genome			: TestCase

# Homo sapiens (hg19) (UCSC) only mitochondrial genome
testHg19ChrM.genome : Homo_sapiens (UCSC)
testHg19ChrM.M.codonTable : Vertebrate_Mitochondrial

# Human genes and transcripts
testENST00000268124.genome		: Test testENST00000268124
testENST00000398332.genome		: Test testENST00000398332
test_ENSG00000158062.genome     : TestCase
testENST00000529892.genome		: Test ENST00000529892
test_ENSG00000158062_spaces.genome     : TestCase ENSG00000158062 Gene names with spaces
test_ENST00000597499.genome		: Test ENST00000597499
test_BRCA.genome     			: TestCase_BRCA1_and_2
testNM_015296.genome			: Test NM_015296.2

# HG38 using RefSeq: Problematic transcript in Chr6
test_hg38_NM_002117.genome      : hg38 Chr6 NM_002117

#---
# Test cases: Non-human
#---

test_NC_031965.1.genome         : Test from NC_031965.1
testAthalianaTair10.genome		: Test using athaliana's genome ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR10_genome_release
testAP.genome					: Test test_Adrian_Platts_vegi_genome
testChromoNamesDoNotMatch.genome: Test for genes not matching between GFF and FASTA
testEgrandis.genome             : Test egrandis201 scaffold_5
testEmblPberghei.genome			: Test_Embl_Pberghei
testLukas.genome                : Lukas_Schrader
testMacuminata.genome			: Test macuminata_v2.180614
testMaizeZmB73.genome			: Test MaizeZmB73
testMita.genome                 : Test Tetranychus urticae
testMm37.61.genome              : Mus_musculus
testMycobacterium_tuberculosis_CCDC5079_uid203790.genome : Test for Mycobacterium_tuberculosis_CCDC5079_uid203790
testPaeru.PA14.genome			: Test for Paeru PA14
testPpersica139.genome			: Test for ppersica139
testRice5.genome                : Rice
testVibrio.genome               : Test case vibrio

#---
# Test for circular genomes
#---
test_circular_GCA_000210475.1.22.genome : test_circular_GCA_000210475.1.22
test_circular_GCA_000210475.1.22_end.genome : test_circular_GCA_000210475.1.22_end
test_Acetobacter_pasteurianus.genome: test_Acetobacter_pasteurianus
test_Campylobacter_fetus_subsp_venerealis_nctc_10354.genome: test_Campylobacter_fetus_subsp_venerealis_nctc_10354

#---
# Genom-wide Codon table setting test case
#---
test_ctab.genome : Codon table test
test_ctab.codonTable : Blepharisma_Macronuclear
test_ctab.MT.codonTable : Vertebrate_Mitochondrial

test_too_many_chrs.genome : Genome having 10,000 chromosomes

#---
# Test cases: Quick tests and debugging
#---
test_zzz.genome: Test Zzz

#---
# ENSEMBL release 75
#---
ailMel1.75.genome : Ailuropoda_melanoleuca
ailMel1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BGI_duck_1.0.75.genome : Anas_platyrhynchos
BGI_duck_1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
AnoCar2.0.75.genome : Anolis_carolinensis
AnoCar2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
AstMex102.75.genome : Astyanax_mexicanus
AstMex102.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
UMD3.1.75.genome : Bos_taurus
UMD3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
WBcel235.75.genome : Caenorhabditis_elegans
WBcel235.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
C_jacchus3.2.1.75.genome : Callithrix_jacchus
C_jacchus3.2.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
CanFam3.1.75.genome : Canis_familiaris
CanFam3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
cavPor3.75.genome : Cavia_porcellus
cavPor3.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
choHof1.75.genome : Choloepus_hoffmanni
choHof1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
KH.75.genome : Ciona_intestinalis
KH.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
CSAV2.0.75.genome : Ciona_savignyi
CSAV2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Zv9.75.genome : Danio_rerio
Zv9.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Dasnov3.0.75.genome : Dasypus_novemcinctus
Dasnov3.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
dipOrd1.75.genome : Dipodomys_ordii
dipOrd1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BDGP5.75.genome : Drosophila_melanogaster
BDGP5.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
TENREC.75.genome : Echinops_telfairi
TENREC.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
EquCab2.75.genome : Equus_caballus
EquCab2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
HEDGEHOG.75.genome : Erinaceus_europaeus
HEDGEHOG.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Felis_catus_6.2.75.genome : Felis_catus
Felis_catus_6.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
FicAlb_1.4.75.genome : Ficedula_albicollis
FicAlb_1.4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
gadMor1.75.genome : Gadus_morhua
gadMor1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Galgal4.75.genome : Gallus_gallus
Galgal4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BROADS1.75.genome : Gasterosteus_aculeatus
BROADS1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
gorGor3.1.75.genome : Gorilla_gorilla
gorGor3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
GRCh37.75.genome : Homo_sapiens
GRCh37.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
spetri2.75.genome : Ictidomys_tridecemlineatus
spetri2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
LatCha1.75.genome : Latimeria_chalumnae
LatCha1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
LepOcu1.75.genome : Lepisosteus_oculatus
LepOcu1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
loxAfr3.75.genome : Loxodonta_africana
loxAfr3.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
MMUL_1.75.genome : Macaca_mulatta
MMUL_1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Meug_1.0.75.genome : Macropus_eugenii
Meug_1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
UMD2.75.genome : Meleagris_gallopavo
UMD2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
micMur1.75.genome : Microcebus_murinus
micMur1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BROADO5.75.genome : Monodelphis_domestica
BROADO5.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
GRCm38.75.genome : Mus_musculus
GRCm38.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
MusPutFur1.0.75.genome : Mustela_putorius_furo
MusPutFur1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Myoluc2.0.75.genome : Myotis_lucifugus
Myoluc2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Nleu1.0.75.genome : Nomascus_leucogenys
Nleu1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
pika.75.genome : Ochotona_princeps
pika.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Orenil1.0.75.genome : Oreochromis_niloticus
Orenil1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
OANA5.75.genome : Ornithorhynchus_anatinus
OANA5.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
OryCun2.0.75.genome : Oryctolagus_cuniculus
OryCun2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
MEDAKA1.75.genome : Oryzias_latipes
MEDAKA1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
OtoGar3.75.genome : Otolemur_garnettii
OtoGar3.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Oar_v3.1.75.genome : Ovis_aries
Oar_v3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
CHIMP2.1.4.75.genome : Pan_troglodytes
CHIMP2.1.4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
PelSin_1.0.75.genome : Pelodiscus_sinensis
PelSin_1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Pmarinus_7.0.75.genome : Petromyzon_marinus
Pmarinus_7.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
PPYG2.75.genome : Pongo_abelii
PPYG2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
proCap1.75.genome : Procavia_capensis
proCap1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
pteVam1.75.genome : Pteropus_vampyrus
pteVam1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Rnor_5.0.75.genome : Rattus_norvegicus
Rnor_5.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
R64-1-1.75.genome : Saccharomyces_cerevisiae
R64-1-1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
DEVIL7.0.75.genome : Sarcophilus_harrisii
DEVIL7.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
COMMON_SHREW1.75.genome : Sorex_araneus
COMMON_SHREW1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Sscrofa10.2.75.genome : Sus_scrofa
Sscrofa10.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
taeGut3.2.4.75.genome : Taeniopygia_guttata
taeGut3.2.4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
FUGU4.75.genome : Takifugu_rubripes
FUGU4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
tarSyr1.75.genome : Tarsius_syrichta
tarSyr1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
TETRAODON8.75.genome : Tetraodon_nigroviridis
TETRAODON8.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
TREESHREW.75.genome : Tupaia_belangeri
TREESHREW.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
turTru1.75.genome : Tursiops_truncatus
turTru1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
vicPac1.75.genome : Vicugna_pacos
vicPac1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
JGI_4.2.75.genome : Xenopus_tropicalis
JGI_4.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Xipmac4.4.2.75.genome : Xiphophorus_maculatus
Xipmac4.4.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
#---
# ENSEMBL release 92
#---
