
# Ebola virus
ebola_zaire.genome: Ebola Zaire Virus KJ660346.1

# Ursidibacter maritimus
lekn01.genome: Ursidibacter maritimus
lekn01.reference: https://www.ncbi.nlm.nih.gov/Traces/wgs/LEKN01

# GRCh38.86
GRCh38.86.genome: GRCh38.86
GRCh38.86.reference: http://ftp.ensembl.org/pub/release-86/fasta/homo_sapiens/

