#---
# Ensembl 71 versions 
#---

ailMel1.71.genome : Ailuropoda_melanoleuca
ailMel1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

AnoCar2.0.71.genome : Anolis_carolinensis
AnoCar2.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

UMD3.1.71.genome : Bos_taurus
UMD3.1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

WBcel235.71.genome : Caenorhabditis_elegans
WBcel235.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

C_jacchus3.2.1.71.genome : Callithrix_jacchus
C_jacchus3.2.1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

CanFam3.1.71.genome : Canis_familiaris
CanFam3.1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

cavPor3.71.genome : Cavia_porcellus
cavPor3.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

choHof1.71.genome : Choloepus_hoffmanni
choHof1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

KH.71.genome : Ciona_intestinalis
KH.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

CSAV2.0.71.genome : Ciona_savignyi
CSAV2.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Zv9.71.genome : Danio_rerio
Zv9.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

dasNov2.71.genome : Dasypus_novemcinctus
dasNov2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

dipOrd1.71.genome : Dipodomys_ordii
dipOrd1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

BDGP5.71.genome : Drosophila_melanogaster
BDGP5.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

TENREC.71.genome : Echinops_telfairi
TENREC.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

EquCab2.71.genome : Equus_caballus
EquCab2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

HEDGEHOG.71.genome : Erinaceus_europaeus
HEDGEHOG.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Felis_catus_6.2.71.genome : Felis_catus
Felis_catus_6.2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

gadMor1.71.genome : Gadus_morhua
gadMor1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Galgal4.71.genome : Gallus_gallus
Galgal4.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

BROADS1.71.genome : Gasterosteus_aculeatus
BROADS1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

gorGor3.1.71.genome : Gorilla_gorilla
gorGor3.1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

GRCh37.71.genome : Homo_sapiens
GRCh37.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

spetri2.71.genome : Ictidomys_tridecemlineatus
spetri2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

LatCha1.71.genome : Latimeria_chalumnae
LatCha1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

loxAfr3.71.genome : Loxodonta_africana
loxAfr3.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

MMUL_1.71.genome : Macaca_mulatta
MMUL_1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Meug_1.0.71.genome : Macropus_eugenii
Meug_1.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

UMD2.71.genome : Meleagris_gallopavo
UMD2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

micMur1.71.genome : Microcebus_murinus
micMur1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

BROADO5.71.genome : Monodelphis_domestica
BROADO5.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

GRCm38.71.genome : Mus_musculus
GRCm38.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

MusPutFur1.0.71.genome : Mustela_putorius_furo
MusPutFur1.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Myoluc2.0.71.genome : Myotis_lucifugus
Myoluc2.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Nleu1.0.71.genome : Nomascus_leucogenys
Nleu1.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

pika.71.genome : Ochotona_princeps
pika.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Orenil1.0.71.genome : Oreochromis_niloticus
Orenil1.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

OANA5.71.genome : Ornithorhynchus_anatinus
OANA5.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

oryCun2.71.genome : Oryctolagus_cuniculus
oryCun2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

MEDAKA1.71.genome : Oryzias_latipes
MEDAKA1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

OtoGar3.71.genome : Otolemur_garnettii
OtoGar3.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

CHIMP2.1.4.71.genome : Pan_troglodytes
CHIMP2.1.4.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

PelSin_1.0.71.genome : Pelodiscus_sinensis
PelSin_1.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Pmarinus_7.0.71.genome : Petromyzon_marinus
Pmarinus_7.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

PPYG2.71.genome : Pongo_abelii
PPYG2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

proCap1.71.genome : Procavia_capensis
proCap1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

pteVam1.71.genome : Pteropus_vampyrus
pteVam1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Rnor_5.0.71.genome : Rattus_norvegicus
Rnor_5.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

EF4.71.genome : Saccharomyces_cerevisiae
EF4.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

DEVIL7.0.71.genome : Sarcophilus_harrisii
DEVIL7.0.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

COMMON_SHREW1.71.genome : Sorex_araneus
COMMON_SHREW1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Sscrofa10.2.71.genome : Sus_scrofa
Sscrofa10.2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

taeGut3.2.4.71.genome : Taeniopygia_guttata
taeGut3.2.4.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

FUGU4.71.genome : Takifugu_rubripes
FUGU4.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

tarSyr1.71.genome : Tarsius_syrichta
tarSyr1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

TETRAODON8.71.genome : Tetraodon_nigroviridis
TETRAODON8.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

TREESHREW.71.genome : Tupaia_belangeri
TREESHREW.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

turTru1.71.genome : Tursiops_truncatus
turTru1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

vicPac1.71.genome : Vicugna_pacos
vicPac1.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

JGI_4.2.71.genome : Xenopus_tropicalis
JGI_4.2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

Xipmac4.4.2.71.genome : Xiphophorus_maculatus
Xipmac4.4.2.71.reference : ftp://ftp.ensembl.org/pub/release-71/gtf/

# Mitochondrial chromosomes

ailMel1.71.MT.codonTable : Vertebrate_Mitochondrial
AnoCar2.0.71.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.71.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.71.MT.codonTable : Vertebrate_Mitochondrial
CanFam3.1.71.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.71.MT.codonTable : Vertebrate_Mitochondrial
CHIMP2.1.4.71.MT.codonTable : Vertebrate_Mitochondrial
DEVIL7.0.71.MT.codonTable : Vertebrate_Mitochondrial
EquCab2.71.MT.codonTable : Vertebrate_Mitochondrial
FUGU4.71.MT.codonTable : Vertebrate_Mitochondrial
Galgal4.71.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.71.MT.codonTable : Vertebrate_Mitochondrial
GRCh37.71.MT.codonTable : Vertebrate_Mitochondrial
GRCm38.71.MT.codonTable : Vertebrate_Mitochondrial
KH.71.MT.codonTable : Vertebrate_Mitochondrial
LatCha1.71.MT.codonTable : Vertebrate_Mitochondrial
loxAfr3.71.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.71.MT.codonTable : Vertebrate_Mitochondrial
OANA5.71.MT.codonTable : Vertebrate_Mitochondrial
oryCun2.71.MT.codonTable : Vertebrate_Mitochondrial
PelSin_1.0.71.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.71.MT.codonTable : Vertebrate_Mitochondrial
Rnor_5.0.71.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa10.2.71.MT.codonTable : Vertebrate_Mitochondrial
taeGut3.2.4.71.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.71.MT.codonTable : Vertebrate_Mitochondrial
UMD2.71.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.71.MT.codonTable : Vertebrate_Mitochondrial
Zv9.71.MT.codonTable : Vertebrate_Mitochondrial
BDGP5.71.dmel_mitochondrion_genome.codonTable : Invertebrate_Mitochondrial
EF4.71.Mito.codonTable : Vertebrate_Mitochondrial
WBcel235.71.MtDNA.codonTable : Invertebrate_Mitochondrial
