#---
# Ensembl 67 versions (only a few built upon demand)
#---

CanFam3.1.67.genome : Canis_familiaris
CanFam3.1.67.reference : ftp://ftp.ensembl.org/pub/release-67/gtf/

EquCab2.67.genome : Equus_caballus
EquCab2.67.reference : ftp://ftp.ensembl.org/pub/release-67/gtf/

GRCm37.67.genome : Mus musculus (this is the last mm9 / GRCm37 version of mouse genome)
GRCm37.67.reference : ftp://ftp.ensembl.org/pub/release-67/gtf/

