#---
# Ensembl 74 versions 
#---

ailMel1.74.genome : Ailuropoda_melanoleuca
ailMel1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

BGI_duck_1.0.74.genome : Anas_platyrhynchos
BGI_duck_1.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

AnoCar2.0.74.genome : Anolis_carolinensis
AnoCar2.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

AstMex102.74.genome : Astyanax_mexicanus
AstMex102.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

UMD3.1.74.genome : Bos_taurus
UMD3.1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

WBcel235.74.genome : Caenorhabditis_elegans
WBcel235.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

C_jacchus3.2.1.74.genome : Callithrix_jacchus
C_jacchus3.2.1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

CanFam3.1.74.genome : Canis_familiaris
CanFam3.1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

cavPor3.74.genome : Cavia_porcellus
cavPor3.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

choHof1.74.genome : Choloepus_hoffmanni
choHof1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

KH.74.genome : Ciona_intestinalis
KH.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

CSAV2.0.74.genome : Ciona_savignyi
CSAV2.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Zv9.74.genome : Danio_rerio
Zv9.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Dasnov3.0.74.genome : Dasypus_novemcinctus
Dasnov3.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

dipOrd1.74.genome : Dipodomys_ordii
dipOrd1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

BDGP5.74.genome : Drosophila_melanogaster
BDGP5.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

TENREC.74.genome : Echinops_telfairi
TENREC.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

EquCab2.74.genome : Equus_caballus
EquCab2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

HEDGEHOG.74.genome : Erinaceus_europaeus
HEDGEHOG.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Felis_catus_6.2.74.genome : Felis_catus
Felis_catus_6.2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

FicAlb_1.4.74.genome : Ficedula_albicollis
FicAlb_1.4.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

gadMor1.74.genome : Gadus_morhua
gadMor1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Galgal4.74.genome : Gallus_gallus
Galgal4.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

BROADS1.74.genome : Gasterosteus_aculeatus
BROADS1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

gorGor3.1.74.genome : Gorilla_gorilla
gorGor3.1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

GRCh37.74.genome : Homo_sapiens
GRCh37.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

spetri2.74.genome : Ictidomys_tridecemlineatus
spetri2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

LatCha1.74.genome : Latimeria_chalumnae
LatCha1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

LepOcu1.74.genome : Lepisosteus_oculatus
LepOcu1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

loxAfr3.74.genome : Loxodonta_africana
loxAfr3.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

MMUL_1.74.genome : Macaca_mulatta
MMUL_1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Meug_1.0.74.genome : Macropus_eugenii
Meug_1.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

UMD2.74.genome : Meleagris_gallopavo
UMD2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

micMur1.74.genome : Microcebus_murinus
micMur1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

BROADO5.74.genome : Monodelphis_domestica
BROADO5.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

GRCm38.74.genome : Mus_musculus
GRCm38.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

MusPutFur1.0.74.genome : Mustela_putorius_furo
MusPutFur1.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Myoluc2.0.74.genome : Myotis_lucifugus
Myoluc2.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Nleu1.0.74.genome : Nomascus_leucogenys
Nleu1.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

pika.74.genome : Ochotona_princeps
pika.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Orenil1.0.74.genome : Oreochromis_niloticus
Orenil1.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

OANA5.74.genome : Ornithorhynchus_anatinus
OANA5.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

OryCun2.0.74.genome : Oryctolagus_cuniculus
OryCun2.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

MEDAKA1.74.genome : Oryzias_latipes
MEDAKA1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

OtoGar3.74.genome : Otolemur_garnettii
OtoGar3.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Oar_v3.1.74.genome : Ovis_aries
Oar_v3.1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

CHIMP2.1.4.74.genome : Pan_troglodytes
CHIMP2.1.4.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

PelSin_1.0.74.genome : Pelodiscus_sinensis
PelSin_1.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Pmarinus_7.0.74.genome : Petromyzon_marinus
Pmarinus_7.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

PPYG2.74.genome : Pongo_abelii
PPYG2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

proCap1.74.genome : Procavia_capensis
proCap1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

pteVam1.74.genome : Pteropus_vampyrus
pteVam1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Rnor_5.0.74.genome : Rattus_norvegicus
Rnor_5.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

EF4.74.genome : Saccharomyces_cerevisiae
EF4.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

DEVIL7.0.74.genome : Sarcophilus_harrisii
DEVIL7.0.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

COMMON_SHREW1.74.genome : Sorex_araneus
COMMON_SHREW1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Sscrofa10.2.74.genome : Sus_scrofa
Sscrofa10.2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

taeGut3.2.4.74.genome : Taeniopygia_guttata
taeGut3.2.4.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

FUGU4.74.genome : Takifugu_rubripes
FUGU4.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

tarSyr1.74.genome : Tarsius_syrichta
tarSyr1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

TETRAODON8.74.genome : Tetraodon_nigroviridis
TETRAODON8.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

TREESHREW.74.genome : Tupaia_belangeri
TREESHREW.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

turTru1.74.genome : Tursiops_truncatus
turTru1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

vicPac1.74.genome : Vicugna_pacos
vicPac1.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

JGI_4.2.74.genome : Xenopus_tropicalis
JGI_4.2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

Xipmac4.4.2.74.genome : Xiphophorus_maculatus
Xipmac4.4.2.74.reference : ftp://ftp.ensembl.org/pub/release-74/gtf/

# Mitochondrial chromosomes

GRCh37.74.MT.codonTable : Vertebrate_Mitochondrial
