#---
# Ensembl 64 versions
#---

ailMel1.64.genome : Ailuropoda_melanoleuca
ailMel1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

AnoCar2.0.64.genome : Anolis_carolinensis
AnoCar2.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

UMD3.1.64.genome : Bos_taurus
UMD3.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

WS220.64.genome : Caenorhabditis_elegans
WS220.64.reference : ftp://ftp.ensembl.org/pub/release-64/

C_jacchus3.2.1.64.genome : Callithrix_jacchus
C_jacchus3.2.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BROADD2.64.genome : Canis_familiaris
BROADD2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

cavPor3.64.genome : Cavia_porcellus
cavPor3.64.reference : ftp://ftp.ensembl.org/pub/release-64/

choHof1.64.genome : Choloepus_hoffmanni
choHof1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

JGI2.64.genome : Ciona_intestinalis
JGI2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

CSAV2.0.64.genome : Ciona_savignyi
CSAV2.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Zv9.64.genome : Danio_rerio
Zv9.64.reference : ftp://ftp.ensembl.org/pub/release-64/

dasNov2.64.genome : Dasypus_novemcinctus
dasNov2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

dipOrd1.64.genome : Dipodomys_ordii
dipOrd1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BDGP5.25.64.genome : Drosophila_melanogaster
BDGP5.25.64.reference : ftp://ftp.ensembl.org/pub/release-64/

TENREC.64.genome : Echinops_telfairi
TENREC.64.reference : ftp://ftp.ensembl.org/pub/release-64/

EquCab2.64.genome : Equus_caballus
EquCab2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

HEDGEHOG.64.genome : Erinaceus_europaeus
HEDGEHOG.64.reference : ftp://ftp.ensembl.org/pub/release-64/

CAT.64.genome : Felis_catus
CAT.64.reference : ftp://ftp.ensembl.org/pub/release-64/

WASHUC2.64.genome : Gallus_gallus
WASHUC2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BROADS1.64.genome : Gasterosteus_aculeatus
BROADS1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

gorGor3.1.64.genome : Gorilla_gorilla
gorGor3.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

GRCh37.64.genome : Homo_sapiens
GRCh37.64.reference : ftp://ftp.ensembl.org/pub/release-64/

loxAfr3.64.genome : Loxodonta_africana
loxAfr3.64.reference : ftp://ftp.ensembl.org/pub/release-64/

MMUL_1.64.genome : Macaca_mulatta
MMUL_1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Meug_1.0.64.genome : Macropus_eugenii
Meug_1.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

UMD2.64.genome : Meleagris_gallopavo
UMD2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

micMur1.64.genome : Microcebus_murinus
micMur1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BROADO5.64.genome : Monodelphis_domestica
BROADO5.64.reference : ftp://ftp.ensembl.org/pub/release-64/

NCBIM37.64.genome : Mus_musculus
NCBIM37.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Myoluc2.0.64.genome : Myotis_lucifugus
Myoluc2.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Nleu1.0.64.genome : Nomascus_leucogenys
Nleu1.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

pika.64.genome : Ochotona_princeps
pika.64.reference : ftp://ftp.ensembl.org/pub/release-64/

OANA5.64.genome : Ornithorhynchus_anatinus
OANA5.64.reference : ftp://ftp.ensembl.org/pub/release-64/

oryCun2.64.genome : Oryctolagus_cuniculus
oryCun2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

MEDAKA1.64.genome : Oryzias_latipes
MEDAKA1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BUSHBABY1.64.genome : Otolemur_garnettii
BUSHBABY1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

CHIMP2.1.64.genome : Pan_troglodytes
CHIMP2.1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Petromyzon_marinus_7.0.64.genome : Petromyzon_marinus
Petromyzon_marinus_7.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

PPYG2.64.genome : Pongo_abelii
PPYG2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

proCap1.64.genome : Procavia_capensis
proCap1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

pteVam1.64.genome : Pteropus_vampyrus
pteVam1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

RGSC3.4.64.genome : Rattus_norvegicus
RGSC3.4.64.reference : ftp://ftp.ensembl.org/pub/release-64/

EF3.64.genome : Saccharomyces_cerevisiae
EF3.64.reference : ftp://ftp.ensembl.org/pub/release-64/

DEVIL7.0.64.genome : Sarcophilus_harrisii
DEVIL7.0.64.reference : ftp://ftp.ensembl.org/pub/release-64/

COMMON_SHREW1.64.genome : Sorex_araneus
COMMON_SHREW1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

SQUIRREL.64.genome : Spermophilus_tridecemlineatus
SQUIRREL.64.reference : ftp://ftp.ensembl.org/pub/release-64/

Sscrofa9.64.genome : Sus_scrofa
Sscrofa9.64.reference : ftp://ftp.ensembl.org/pub/release-64/

taeGut3.2.4.64.genome : Taeniopygia_guttata
taeGut3.2.4.64.reference : ftp://ftp.ensembl.org/pub/release-64/

FUGU4.64.genome : Takifugu_rubripes
FUGU4.64.reference : ftp://ftp.ensembl.org/pub/release-64/

tarSyr1.64.genome : Tarsius_syrichta
tarSyr1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

TETRAODON8.64.genome : Tetraodon_nigroviridis
TETRAODON8.64.reference : ftp://ftp.ensembl.org/pub/release-64/

TREESHREW.64.genome : Tupaia_belangeri
TREESHREW.64.reference : ftp://ftp.ensembl.org/pub/release-64/

turTru1.64.genome : Tursiops_truncatus
turTru1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

vicPac1.64.genome : Vicugna_pacos
vicPac1.64.reference : ftp://ftp.ensembl.org/pub/release-64/

JGI_4.2.64.genome : Xenopus_tropicalis
JGI_4.2.64.reference : ftp://ftp.ensembl.org/pub/release-64/

BDGP5.25.64.dmel_mitochondrion_genome.codonTable : Invertebrate_Mitochondrial

# Mitochondrial chromosomes

BROADD2.64.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.64.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.64.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.64.MT.codonTable : Vertebrate_Mitochondrial
CHIMP2.1.64.MT.codonTable : Vertebrate_Mitochondrial
EF3.64.Mito.codonTable : Vertebrate_Mitochondrial
FUGU4.64.MT.codonTable : Vertebrate_Mitochondrial
GCA_000016445.1.18.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.64.MT.codonTable : Vertebrate_Mitochondrial
GRCh37.64.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.64.MT.codonTable : Vertebrate_Mitochondrial
NCBIM37.64.MT.codonTable : Vertebrate_Mitochondrial
OANA5.64.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.64.MT.codonTable : Vertebrate_Mitochondrial
RGSC3.4.64.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa9.64.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.64.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.64.MT.codonTable : Vertebrate_Mitochondrial
WASHUC2.64.MT.codonTable : Vertebrate_Mitochondrial
WS220.64.MtDNA.codonTable : Invertebrate_Mitochondrial
Zv9.64.MT.codonTable : Vertebrate_Mitochondrial
