#---
# Ensembl 70 versions 
#---

ailMel1.70.genome : Ailuropoda_melanoleuca
ailMel1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

AnoCar2.0.70.genome : Anolis_carolinensis
AnoCar2.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

UMD3.1.70.genome : Bos_taurus
UMD3.1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

WBcel215.70.genome : Caenorhabditis_elegans
WBcel215.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

C_jacchus3.2.1.70.genome : Callithrix_jacchus
C_jacchus3.2.1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

CanFam3.1.70.genome : Canis_familiaris
CanFam3.1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

cavPor3.70.genome : Cavia_porcellus
cavPor3.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

choHof1.70.genome : Choloepus_hoffmanni
choHof1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

KH.70.genome : Ciona_intestinalis
KH.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

CSAV2.0.70.genome : Ciona_savignyi
CSAV2.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Zv9.70.genome : Danio_rerio
Zv9.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

dasNov2.70.genome : Dasypus_novemcinctus
dasNov2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

dipOrd1.70.genome : Dipodomys_ordii
dipOrd1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

BDGP5.70.genome : Drosophila_melanogaster
BDGP5.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

TENREC.70.genome : Echinops_telfairi
TENREC.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

EquCab2.70.genome : Equus_caballus
EquCab2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

HEDGEHOG.70.genome : Erinaceus_europaeus
HEDGEHOG.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Felis_catus_6.2.70.genome : Felis_catus
Felis_catus_6.2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

gadMor1.70.genome : Gadus_morhua
gadMor1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

WASHUC2.70.genome : Gallus_gallus
WASHUC2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

BROADS1.70.genome : Gasterosteus_aculeatus
BROADS1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

gorGor3.1.70.genome : Gorilla_gorilla
gorGor3.1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

GRCh37.70.genome : Homo_sapiens
GRCh37.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

spetri2.70.genome : Ictidomys_tridecemlineatus
spetri2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

LatCha1.70.genome : Latimeria_chalumnae
LatCha1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

loxAfr3.70.genome : Loxodonta_africana
loxAfr3.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

MMUL_1.70.genome : Macaca_mulatta
MMUL_1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Meug_1.0.70.genome : Macropus_eugenii
Meug_1.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

UMD2.70.genome : Meleagris_gallopavo
UMD2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

micMur1.70.genome : Microcebus_murinus
micMur1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

BROADO5.70.genome : Monodelphis_domestica
BROADO5.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

GRCm38.70.genome : Mus_musculus
GRCm38.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

MusPutFur1.0.70.genome : Mustela_putorius_furo
MusPutFur1.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Myoluc2.0.70.genome : Myotis_lucifugus
Myoluc2.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Nleu1.0.70.genome : Nomascus_leucogenys
Nleu1.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

pika.70.genome : Ochotona_princeps
pika.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Orenil1.0.70.genome : Oreochromis_niloticus
Orenil1.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

OANA5.70.genome : Ornithorhynchus_anatinus
OANA5.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

oryCun2.70.genome : Oryctolagus_cuniculus
oryCun2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

MEDAKA1.70.genome : Oryzias_latipes
MEDAKA1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

OtoGar3.70.genome : Otolemur_garnettii
OtoGar3.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

CHIMP2.1.4.70.genome : Pan_troglodytes
CHIMP2.1.4.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

PelSin_1.0.70.genome : Pelodiscus_sinensis
PelSin_1.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Pmarinus_7.0.70.genome : Petromyzon_marinus
Pmarinus_7.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

PPYG2.70.genome : Pongo_abelii
PPYG2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

proCap1.70.genome : Procavia_capensis
proCap1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

pteVam1.70.genome : Pteropus_vampyrus
pteVam1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Rnor_5.0.70.genome : Rattus_norvegicus
Rnor_5.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

EF4.70.genome : Saccharomyces_cerevisiae
EF4.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

DEVIL7.0.70.genome : Sarcophilus_harrisii
DEVIL7.0.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

COMMON_SHREW1.70.genome : Sorex_araneus
COMMON_SHREW1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Sscrofa10.2.70.genome : Sus_scrofa
Sscrofa10.2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

taeGut3.2.4.70.genome : Taeniopygia_guttata
taeGut3.2.4.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

FUGU4.70.genome : Takifugu_rubripes
FUGU4.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

tarSyr1.70.genome : Tarsius_syrichta
tarSyr1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

TETRAODON8.70.genome : Tetraodon_nigroviridis
TETRAODON8.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

TREESHREW.70.genome : Tupaia_belangeri
TREESHREW.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

turTru1.70.genome : Tursiops_truncatus
turTru1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

vicPac1.70.genome : Vicugna_pacos
vicPac1.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

JGI_4.2.70.genome : Xenopus_tropicalis
JGI_4.2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

Xipmac4.4.2.70.genome : Xiphophorus_maculatus
Xipmac4.4.2.70.reference : ftp://ftp.ensembl.org/pub/release-70/gtf/

# Mitochondrial chromosomes

ailMel1.70.MT.codonTable : Vertebrate_Mitochondrial
AnoCar2.0.70.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.70.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.70.MT.codonTable : Vertebrate_Mitochondrial
CanFam3.1.70.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.70.MT.codonTable : Vertebrate_Mitochondrial
CHIMP2.1.4.70.MT.codonTable : Vertebrate_Mitochondrial
DEVIL7.0.70.MT.codonTable : Vertebrate_Mitochondrial
EquCab2.70.MT.codonTable : Vertebrate_Mitochondrial
Felis_catus_6.2.70.MT.codonTable : Vertebrate_Mitochondrial
FUGU4.70.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.70.MT.codonTable : Vertebrate_Mitochondrial
GRCh37.70.MT.codonTable : Vertebrate_Mitochondrial
GRCm38.70.MT.codonTable : Vertebrate_Mitochondrial
KH.70.MT.codonTable : Vertebrate_Mitochondrial
LatCha1.70.MT.codonTable : Vertebrate_Mitochondrial
loxAfr3.70.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.70.MT.codonTable : Vertebrate_Mitochondrial
OANA5.70.MT.codonTable : Vertebrate_Mitochondrial
oryCun2.70.MT.codonTable : Vertebrate_Mitochondrial
PelSin_1.0.70.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.70.MT.codonTable : Vertebrate_Mitochondrial
Rnor_5.0.70.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa10.2.70.MT.codonTable : Vertebrate_Mitochondrial
taeGut3.2.4.70.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.70.MT.codonTable : Vertebrate_Mitochondrial
UMD2.70.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.70.MT.codonTable : Vertebrate_Mitochondrial
WASHUC2.70.MT.codonTable : Vertebrate_Mitochondrial
Zv9.70.MT.codonTable : Vertebrate_Mitochondrial
BDGP5.70.dmel_mitochondrion_genome.codonTable : Invertebrate_Mitochondrial
EF4.70.Mito.codonTable : Vertebrate_Mitochondrial
WBcel215.70.MtDNA.codonTable : Invertebrate_Mitochondrial
