#---
# Ensembl 69 versions 
#---

AnoCar2.0.69.genome : Anolis_carolinensis
AnoCar2.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

UMD3.1.69.genome : Bos_taurus
UMD3.1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

WBcel215.69.genome : Caenorhabditis_elegans
WBcel215.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

C_jacchus3.2.1.69.genome : Callithrix_jacchus
C_jacchus3.2.1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

CanFam3.1.69.genome : Canis_familiaris
CanFam3.1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

cavPor3.69.genome : Cavia_porcellus
cavPor3.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

choHof1.69.genome : Choloepus_hoffmanni
choHof1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

KH.69.genome : Ciona_intestinalis
KH.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

CSAV2.0.69.genome : Ciona_savignyi
CSAV2.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Zv9.69.genome : Danio_rerio
Zv9.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

dasNov2.69.genome : Dasypus_novemcinctus
dasNov2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

dipOrd1.69.genome : Dipodomys_ordii
dipOrd1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

BDGP5.69.genome : Drosophila_melanogaster
BDGP5.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

TENREC.69.genome : Echinops_telfairi
TENREC.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

EquCab2.69.genome : Equus_caballus
EquCab2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

HEDGEHOG.69.genome : Erinaceus_europaeus
HEDGEHOG.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

CAT.69.genome : Felis_catus
CAT.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

gadMor1.69.genome : Gadus_morhua
gadMor1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

WASHUC2.69.genome : Gallus_gallus
WASHUC2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

BROADS1.69.genome : Gasterosteus_aculeatus
BROADS1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

gorGor3.1.69.genome : Gorilla_gorilla
gorGor3.1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

GRCh37.69.genome : Homo_sapiens
GRCh37.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

spetri2.69.genome : Ictidomys_tridecemlineatus
spetri2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

LatCha1.69.genome : Latimeria_chalumnae
LatCha1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

loxAfr3.69.genome : Loxodonta_africana
loxAfr3.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

MMUL_1.69.genome : Macaca_mulatta
MMUL_1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Meug_1.0.69.genome : Macropus_eugenii
Meug_1.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

UMD2.69.genome : Meleagris_gallopavo
UMD2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

micMur1.69.genome : Microcebus_murinus
micMur1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

BROADO5.69.genome : Monodelphis_domestica
BROADO5.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

GRCm38.69.genome : Mus_musculus
GRCm38.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

MusPutFur1.0.69.genome : Mustela_putorius_furo
MusPutFur1.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Myoluc2.0.69.genome : Myotis_lucifugus
Myoluc2.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Nleu1.0.69.genome : Nomascus_leucogenys
Nleu1.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

pika.69.genome : Ochotona_princeps
pika.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Orenil1.0.69.genome : Oreochromis_niloticus
Orenil1.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

OANA5.69.genome : Ornithorhynchus_anatinus
OANA5.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

oryCun2.69.genome : Oryctolagus_cuniculus
oryCun2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

MEDAKA1.69.genome : Oryzias_latipes
MEDAKA1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

OtoGar3.69.genome : Otolemur_garnettii
OtoGar3.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

CHIMP2.1.4.69.genome : Pan_troglodytes
CHIMP2.1.4.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

PelSin_1.0.69.genome : Pelodiscus_sinensis
PelSin_1.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Pmarinus_7.0.69.genome : Petromyzon_marinus
Pmarinus_7.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

PPYG2.69.genome : Pongo_abelii
PPYG2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

proCap1.69.genome : Procavia_capensis
proCap1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

pteVam1.69.genome : Pteropus_vampyrus
pteVam1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

RGSC3.4.69.genome : Rattus_norvegicus
RGSC3.4.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

EF4.69.genome : Saccharomyces_cerevisiae
EF4.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

DEVIL7.0.69.genome : Sarcophilus_harrisii
DEVIL7.0.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

COMMON_SHREW1.69.genome : Sorex_araneus
COMMON_SHREW1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Sscrofa10.2.69.genome : Sus_scrofa
Sscrofa10.2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

taeGut3.2.4.69.genome : Taeniopygia_guttata
taeGut3.2.4.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

FUGU4.69.genome : Takifugu_rubripes
FUGU4.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

tarSyr1.69.genome : Tarsius_syrichta
tarSyr1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

TETRAODON8.69.genome : Tetraodon_nigroviridis
TETRAODON8.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

TREESHREW.69.genome : Tupaia_belangeri
TREESHREW.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

turTru1.69.genome : Tursiops_truncatus
turTru1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

vicPac1.69.genome : Vicugna_pacos
vicPac1.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

JGI_4.2.69.genome : Xenopus_tropicalis
JGI_4.2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

Xipmac4.4.2.69.genome : Xiphophorus_maculatus
Xipmac4.4.2.69.reference : ftp://ftp.ensembl.org/pub/release-69/gtf/

# Mitochondrial chromosomes

AnoCar2.0.69.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.69.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.69.MT.codonTable : Vertebrate_Mitochondrial
CanFam3.1.69.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.69.MT.codonTable : Vertebrate_Mitochondrial
DEVIL7.0.69.MT.codonTable : Vertebrate_Mitochondrial
FUGU4.69.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.69.MT.codonTable : Vertebrate_Mitochondrial
GRCh37.69.MT.codonTable : Vertebrate_Mitochondrial
GRCm38.69.MT.codonTable : Vertebrate_Mitochondrial
KH.69.MT.codonTable : Vertebrate_Mitochondrial
LatCha1.69.MT.codonTable : Vertebrate_Mitochondrial
loxAfr3.69.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.69.MT.codonTable : Vertebrate_Mitochondrial
OANA5.69.MT.codonTable : Vertebrate_Mitochondrial
oryCun2.69.MT.codonTable : Vertebrate_Mitochondrial
PelSin_1.0.69.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.69.MT.codonTable : Vertebrate_Mitochondrial
RGSC3.4.69.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa10.2.69.MT.codonTable : Vertebrate_Mitochondrial
taeGut3.2.4.69.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.69.MT.codonTable : Vertebrate_Mitochondrial
UMD2.69.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.69.MT.codonTable : Vertebrate_Mitochondrial
WASHUC2.69.MT.codonTable : Vertebrate_Mitochondrial
Zv9.69.MT.codonTable : Vertebrate_Mitochondrial
BDGP5.69.dmel_mitochondrion_genome.codonTable : Invertebrate_Mitochondrial
EF4.69.Mito.codonTable : Vertebrate_Mitochondrial
WBcel215.69.MtDNA.codonTable : Invertebrate_Mitochondrial
