dana_r1.04.genome : dana_r1.04
dana_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_01/dana_r1.04/gff/dana-all-r1.04.gff.gz

dere_r1.04.genome : dere_r1.04
dere_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_01/dere_r1.04/gff/dere-all-r1.04.gff.gz

dgri_r1.3.genome : dgri_r1.3
dgri_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_01/dgri_r1.3/gff/dgri-all-r1.3.gff.gz

dmel_r6.04.genome : dmel_r6.04
dmel_r6.04.reference : ftp://ftp.flybase.net/releases/FB2015_01/dmel_r6.04/gff/dmel-all-r6.04.gff.gz

dmoj_r1.3.genome : dmoj_r1.3
dmoj_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_01/dmoj_r1.3/gff/dmoj-all-r1.3.gff.gz

dper_r1.3.genome : dper_r1.3
dper_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_01/dper_r1.3/gff/dper-all-r1.3.gff.gz

dpse_r3.03.genome : dpse_r3.03
dpse_r3.03.reference : ftp://ftp.flybase.net/releases/FB2015_01/dpse_r3.03/gff/dpse-all-r3.03.gff.gz

dsec_r1.3.genome : dsec_r1.3
dsec_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_01/dsec_r1.3/gff/dsec-all-r1.3.gff.gz

dsim_r2.01.genome : dsim_r2.01
dsim_r2.01.reference : ftp://ftp.flybase.net/releases/FB2015_01/dsim_r2.01/gff/dsim-all-r2.01.gff.gz

dvir_r1.2.genome : dvir_r1.2
dvir_r1.2.reference : ftp://ftp.flybase.net/releases/FB2015_01/dvir_r1.2/gff/dvir-all-r1.2.gff.gz

dwil_r1.3.genome : dwil_r1.3
dwil_r1.3.reference : ftp://ftp.flybase.net/releases/FB2015_01/dwil_r1.3/gff/dwil-all-r1.3.gff.gz

dyak_r1.04.genome : dyak_r1.04
dyak_r1.04.reference : ftp://ftp.flybase.net/releases/FB2015_01/dyak_r1.04/gff/dyak-all-r1.04.gff.gz

