ailMel1.82.genome : Ailuropoda_melanoleuca
ailMel1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
BGI_duck_1.0.82.genome : Anas_platyrhynchos
BGI_duck_1.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
AnoCar2.0.82.genome : Anolis_carolinensis
AnoCar2.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
AstMex102.82.genome : Astyanax_mexicanus
AstMex102.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
UMD3.1.82.genome : Bos_taurus
UMD3.1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
WBcel235.82.genome : Caenorhabditis_elegans
WBcel235.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
C_jacchus3.2.1.82.genome : Callithrix_jacchus
C_jacchus3.2.1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
CanFam3.1.82.genome : Canis_familiaris
CanFam3.1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
cavPor3.82.genome : Cavia_porcellus
cavPor3.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
ChlSab1.1.82.genome : Chlorocebus_sabaeus
ChlSab1.1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
choHof1.82.genome : Choloepus_hoffmanni
choHof1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
KH.82.genome : Ciona_intestinalis
KH.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
CSAV2.0.82.genome : Ciona_savignyi
CSAV2.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
GRCz10.82.genome : Danio_rerio
GRCz10.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Dasnov3.0.82.genome : Dasypus_novemcinctus
Dasnov3.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
dipOrd1.82.genome : Dipodomys_ordii
dipOrd1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
BDGP6.82.genome : Drosophila_melanogaster
BDGP6.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
TENREC.82.genome : Echinops_telfairi
TENREC.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
EquCab2.82.genome : Equus_caballus
EquCab2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
HEDGEHOG.82.genome : Erinaceus_europaeus
HEDGEHOG.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Felis_catus_6.2.82.genome : Felis_catus
Felis_catus_6.2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
FicAlb_1.4.82.genome : Ficedula_albicollis
FicAlb_1.4.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
gadMor1.82.genome : Gadus_morhua
gadMor1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Galgal4.82.genome : Gallus_gallus
Galgal4.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
BROADS1.82.genome : Gasterosteus_aculeatus
BROADS1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
gorGor3.1.82.genome : Gorilla_gorilla
gorGor3.1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
GRCh38.82.genome : Homo_sapiens
GRCh38.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
spetri2.82.genome : Ictidomys_tridecemlineatus
spetri2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
LatCha1.82.genome : Latimeria_chalumnae
LatCha1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
LepOcu1.82.genome : Lepisosteus_oculatus
LepOcu1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
loxAfr3.82.genome : Loxodonta_africana
loxAfr3.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
MMUL_1.82.genome : Macaca_mulatta
MMUL_1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Meug_1.0.82.genome : Macropus_eugenii
Meug_1.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
UMD2.82.genome : Meleagris_gallopavo
UMD2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
micMur1.82.genome : Microcebus_murinus
micMur1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
BROADO5.82.genome : Monodelphis_domestica
BROADO5.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
GRCm38.82.genome : Mus_musculus
GRCm38.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
MusPutFur1.0.82.genome : Mustela_putorius_furo
MusPutFur1.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Myoluc2.0.82.genome : Myotis_lucifugus
Myoluc2.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Nleu1.0.82.genome : Nomascus_leucogenys
Nleu1.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
pika.82.genome : Ochotona_princeps
pika.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Orenil1.0.82.genome : Oreochromis_niloticus
Orenil1.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
OANA5.82.genome : Ornithorhynchus_anatinus
OANA5.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
OryCun2.0.82.genome : Oryctolagus_cuniculus
OryCun2.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
MEDAKA1.82.genome : Oryzias_latipes
MEDAKA1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
OtoGar3.82.genome : Otolemur_garnettii
OtoGar3.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Oar_v3.1.82.genome : Ovis_aries
Oar_v3.1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
CHIMP2.1.4.82.genome : Pan_troglodytes
CHIMP2.1.4.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
PapAnu2.0.82.genome : Papio_anubis
PapAnu2.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
PelSin_1.0.82.genome : Pelodiscus_sinensis
PelSin_1.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Pmarinus_7.0.82.genome : Petromyzon_marinus
Pmarinus_7.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
PoeFor_5.1.2.82.genome : Poecilia_formosa
PoeFor_5.1.2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
PPYG2.82.genome : Pongo_abelii
PPYG2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
proCap1.82.genome : Procavia_capensis
proCap1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
pteVam1.82.genome : Pteropus_vampyrus
pteVam1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Rnor_6.0.82.genome : Rattus_norvegicus
Rnor_6.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
R64-1-1.82.genome : Saccharomyces_cerevisiae
R64-1-1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
DEVIL7.0.82.genome : Sarcophilus_harrisii
DEVIL7.0.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
COMMON_SHREW1.82.genome : Sorex_araneus
COMMON_SHREW1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Sscrofa10.2.82.genome : Sus_scrofa
Sscrofa10.2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
taeGut3.2.4.82.genome : Taeniopygia_guttata
taeGut3.2.4.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
FUGU4.82.genome : Takifugu_rubripes
FUGU4.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
tarSyr1.82.genome : Tarsius_syrichta
tarSyr1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
TETRAODON8.82.genome : Tetraodon_nigroviridis
TETRAODON8.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
TREESHREW.82.genome : Tupaia_belangeri
TREESHREW.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
turTru1.82.genome : Tursiops_truncatus
turTru1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
vicPac1.82.genome : Vicugna_pacos
vicPac1.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
JGI_4.2.82.genome : Xenopus_tropicalis
JGI_4.2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/
Xipmac4.4.2.82.genome : Xiphophorus_maculatus
Xipmac4.4.2.82.reference : ftp://ftp.ensembl.org/pub/release-82/gtf/