ailMel1.78.genome : Ailuropoda_melanoleuca
ailMel1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

BGI_duck_1.0.78.genome : Anas_platyrhynchos
BGI_duck_1.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

AnoCar2.0.78.genome : Anolis_carolinensis
AnoCar2.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

AstMex102.78.genome : Astyanax_mexicanus
AstMex102.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

UMD3.1.78.genome : Bos_taurus
UMD3.1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

WBcel235.78.genome : Caenorhabditis_elegans
WBcel235.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

C_jacchus3.2.1.78.genome : Callithrix_jacchus
C_jacchus3.2.1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

CanFam3.1.78.genome : Canis_familiaris
CanFam3.1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

cavPor3.78.genome : Cavia_porcellus
cavPor3.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

ChlSab1.1.78.genome : Chlorocebus_sabaeus
ChlSab1.1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

choHof1.78.genome : Choloepus_hoffmanni
choHof1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

KH.78.genome : Ciona_intestinalis
KH.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

CSAV2.0.78.genome : Ciona_savignyi
CSAV2.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Zv9.78.genome : Danio_rerio
Zv9.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Dasnov3.0.78.genome : Dasypus_novemcinctus
Dasnov3.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

dipOrd1.78.genome : Dipodomys_ordii
dipOrd1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

BDGP5.78.genome : Drosophila_melanogaster
BDGP5.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

TENREC.78.genome : Echinops_telfairi
TENREC.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

EquCab2.78.genome : Equus_caballus
EquCab2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

HEDGEHOG.78.genome : Erinaceus_europaeus
HEDGEHOG.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Felis_catus_6.2.78.genome : Felis_catus
Felis_catus_6.2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

FicAlb_1.4.78.genome : Ficedula_albicollis
FicAlb_1.4.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

gadMor1.78.genome : Gadus_morhua
gadMor1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Galgal4.78.genome : Gallus_gallus
Galgal4.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

BROADS1.78.genome : Gasterosteus_aculeatus
BROADS1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

gorGor3.1.78.genome : Gorilla_gorilla
gorGor3.1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

GRCh38.78.genome : Homo_sapiens
GRCh38.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

spetri2.78.genome : Ictidomys_tridecemlineatus
spetri2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

LatCha1.78.genome : Latimeria_chalumnae
LatCha1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

LepOcu1.78.genome : Lepisosteus_oculatus
LepOcu1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

loxAfr3.78.genome : Loxodonta_africana
loxAfr3.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

MMUL_1.78.genome : Macaca_mulatta
MMUL_1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Meug_1.0.78.genome : Macropus_eugenii
Meug_1.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

UMD2.78.genome : Meleagris_gallopavo
UMD2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

micMur1.78.genome : Microcebus_murinus
micMur1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

BROADO5.78.genome : Monodelphis_domestica
BROADO5.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

GRCm38.78.genome : Mus_musculus
GRCm38.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

MusPutFur1.0.78.genome : Mustela_putorius_furo
MusPutFur1.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Myoluc2.0.78.genome : Myotis_lucifugus
Myoluc2.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Nleu1.0.78.genome : Nomascus_leucogenys
Nleu1.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

pika.78.genome : Ochotona_princeps
pika.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Orenil1.0.78.genome : Oreochromis_niloticus
Orenil1.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

OANA5.78.genome : Ornithorhynchus_anatinus
OANA5.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

OryCun2.0.78.genome : Oryctolagus_cuniculus
OryCun2.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

MEDAKA1.78.genome : Oryzias_latipes
MEDAKA1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

OtoGar3.78.genome : Otolemur_garnettii
OtoGar3.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Oar_v3.1.78.genome : Ovis_aries
Oar_v3.1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

CHIMP2.1.4.78.genome : Pan_troglodytes
CHIMP2.1.4.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

PapAnu2.0.78.genome : Papio_anubis
PapAnu2.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

PelSin_1.0.78.genome : Pelodiscus_sinensis
PelSin_1.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Pmarinus_7.0.78.genome : Petromyzon_marinus
Pmarinus_7.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

PoeFor_5.1.2.78.genome : Poecilia_formosa
PoeFor_5.1.2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

PPYG2.78.genome : Pongo_abelii
PPYG2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

proCap1.78.genome : Procavia_capensis
proCap1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

pteVam1.78.genome : Pteropus_vampyrus
pteVam1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Rnor_5.0.78.genome : Rattus_norvegicus
Rnor_5.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

R64-1-1.78.genome : Saccharomyces_cerevisiae
R64-1-1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

DEVIL7.0.78.genome : Sarcophilus_harrisii
DEVIL7.0.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

COMMON_SHREW1.78.genome : Sorex_araneus
COMMON_SHREW1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Sscrofa10.2.78.genome : Sus_scrofa
Sscrofa10.2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

taeGut3.2.4.78.genome : Taeniopygia_guttata
taeGut3.2.4.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

FUGU4.78.genome : Takifugu_rubripes
FUGU4.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

tarSyr1.78.genome : Tarsius_syrichta
tarSyr1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

TETRAODON8.78.genome : Tetraodon_nigroviridis
TETRAODON8.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

TREESHREW.78.genome : Tupaia_belangeri
TREESHREW.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

turTru1.78.genome : Tursiops_truncatus
turTru1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

vicPac1.78.genome : Vicugna_pacos
vicPac1.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

JGI_4.2.78.genome : Xenopus_tropicalis
JGI_4.2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

Xipmac4.4.2.78.genome : Xiphophorus_maculatus
Xipmac4.4.2.78.reference : ftp://ftp.ensembl.org/pub/release-78/gtf/

