#---
# Ensembl 73 versions 
#---

ailMel1.73.genome : Ailuropoda_melanoleuca
ailMel1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

BGI_duck_1.0.73.genome : Anas_platyrhynchos
BGI_duck_1.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

AnoCar2.0.73.genome : Anolis_carolinensis
AnoCar2.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

UMD3.1.73.genome : Bos_taurus
UMD3.1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

WBcel235.73.genome : Caenorhabditis_elegans
WBcel235.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

C_jacchus3.2.1.73.genome : Callithrix_jacchus
C_jacchus3.2.1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

CanFam3.1.73.genome : Canis_familiaris
CanFam3.1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

cavPor3.73.genome : Cavia_porcellus
cavPor3.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

choHof1.73.genome : Choloepus_hoffmanni
choHof1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

KH.73.genome : Ciona_intestinalis
KH.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

CSAV2.0.73.genome : Ciona_savignyi
CSAV2.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Zv9.73.genome : Danio_rerio
Zv9.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

dasNov2.73.genome : Dasypus_novemcinctus
dasNov2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

dipOrd1.73.genome : Dipodomys_ordii
dipOrd1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

BDGP5.73.genome : Drosophila_melanogaster
BDGP5.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

TENREC.73.genome : Echinops_telfairi
TENREC.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

EquCab2.73.genome : Equus_caballus
EquCab2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

HEDGEHOG.73.genome : Erinaceus_europaeus
HEDGEHOG.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Felis_catus_6.2.73.genome : Felis_catus
Felis_catus_6.2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

FicAlb_1.4.73.genome : Ficedula_albicollis
FicAlb_1.4.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

gadMor1.73.genome : Gadus_morhua
gadMor1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Galgal4.73.genome : Gallus_gallus
Galgal4.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

BROADS1.73.genome : Gasterosteus_aculeatus
BROADS1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

gorGor3.1.73.genome : Gorilla_gorilla
gorGor3.1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

GRCh37.73.genome : Homo_sapiens
GRCh37.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/
GRCh37.73.MT.codonTable : Vertebrate_Mitochondrial

spetri2.73.genome : Ictidomys_tridecemlineatus
spetri2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

LatCha1.73.genome : Latimeria_chalumnae
LatCha1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

loxAfr3.73.genome : Loxodonta_africana
loxAfr3.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

MMUL_1.73.genome : Macaca_mulatta
MMUL_1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Meug_1.0.73.genome : Macropus_eugenii
Meug_1.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

UMD2.73.genome : Meleagris_gallopavo
UMD2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

micMur1.73.genome : Microcebus_murinus
micMur1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

BROADO5.73.genome : Monodelphis_domestica
BROADO5.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

GRCm38.73.genome : Mus_musculus
GRCm38.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

MusPutFur1.0.73.genome : Mustela_putorius_furo
MusPutFur1.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Myoluc2.0.73.genome : Myotis_lucifugus
Myoluc2.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Nleu1.0.73.genome : Nomascus_leucogenys
Nleu1.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

pika.73.genome : Ochotona_princeps
pika.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Orenil1.0.73.genome : Oreochromis_niloticus
Orenil1.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

OANA5.73.genome : Ornithorhynchus_anatinus
OANA5.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

OryCun2.0.73.genome : Oryctolagus_cuniculus
OryCun2.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

MEDAKA1.73.genome : Oryzias_latipes
MEDAKA1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

OtoGar3.73.genome : Otolemur_garnettii
OtoGar3.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

CHIMP2.1.4.73.genome : Pan_troglodytes
CHIMP2.1.4.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

PelSin_1.0.73.genome : Pelodiscus_sinensis
PelSin_1.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Pmarinus_7.0.73.genome : Petromyzon_marinus
Pmarinus_7.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

PPYG2.73.genome : Pongo_abelii
PPYG2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

proCap1.73.genome : Procavia_capensis
proCap1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

pteVam1.73.genome : Pteropus_vampyrus
pteVam1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Rnor_5.0.73.genome : Rattus_norvegicus
Rnor_5.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

EF4.73.genome : Saccharomyces_cerevisiae
EF4.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

DEVIL7.0.73.genome : Sarcophilus_harrisii
DEVIL7.0.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

COMMON_SHREW1.73.genome : Sorex_araneus
COMMON_SHREW1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Sscrofa10.2.73.genome : Sus_scrofa
Sscrofa10.2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

taeGut3.2.4.73.genome : Taeniopygia_guttata
taeGut3.2.4.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

FUGU4.73.genome : Takifugu_rubripes
FUGU4.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

tarSyr1.73.genome : Tarsius_syrichta
tarSyr1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

TETRAODON8.73.genome : Tetraodon_nigroviridis
TETRAODON8.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

TREESHREW.73.genome : Tupaia_belangeri
TREESHREW.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

turTru1.73.genome : Tursiops_truncatus
turTru1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

vicPac1.73.genome : Vicugna_pacos
vicPac1.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

JGI_4.2.73.genome : Xenopus_tropicalis
JGI_4.2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

Xipmac4.4.2.73.genome : Xiphophorus_maculatus
Xipmac4.4.2.73.reference : ftp://ftp.ensembl.org/pub/release-73/gtf/

# Mitochondrial chromosomes

