ailMel1.85.genome : Ailuropoda_melanoleuca
ailMel1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
BGI_duck_1.0.85.genome : Anas_platyrhynchos
BGI_duck_1.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
AnoCar2.0.85.genome : Anolis_carolinensis
AnoCar2.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
AstMex102.85.genome : Astyanax_mexicanus
AstMex102.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
UMD3.1.85.genome : Bos_taurus
UMD3.1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
WBcel235.85.genome : Caenorhabditis_elegans
WBcel235.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
C_jacchus3.2.1.85.genome : Callithrix_jacchus
C_jacchus3.2.1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
CanFam3.1.85.genome : Canis_familiaris
CanFam3.1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
cavPor3.85.genome : Cavia_porcellus
cavPor3.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
ChlSab1.1.85.genome : Chlorocebus_sabaeus
ChlSab1.1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
choHof1.85.genome : Choloepus_hoffmanni
choHof1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
KH.85.genome : Ciona_intestinalis
KH.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
CSAV2.0.85.genome : Ciona_savignyi
CSAV2.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
GRCz10.85.genome : Danio_rerio
GRCz10.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Dasnov3.0.85.genome : Dasypus_novemcinctus
Dasnov3.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
dipOrd1.85.genome : Dipodomys_ordii
dipOrd1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
BDGP6.85.genome : Drosophila_melanogaster
BDGP6.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
TENREC.85.genome : Echinops_telfairi
TENREC.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
EquCab2.85.genome : Equus_caballus
EquCab2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
HEDGEHOG.85.genome : Erinaceus_europaeus
HEDGEHOG.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Felis_catus_6.2.85.genome : Felis_catus
Felis_catus_6.2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
FicAlb_1.4.85.genome : Ficedula_albicollis
FicAlb_1.4.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
gadMor1.85.genome : Gadus_morhua
gadMor1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Galgal4.85.genome : Gallus_gallus
Galgal4.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
BROADS1.85.genome : Gasterosteus_aculeatus
BROADS1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
gorGor3.1.85.genome : Gorilla_gorilla
gorGor3.1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
GRCh38.85.genome : Homo_sapiens
GRCh38.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
spetri2.85.genome : Ictidomys_tridecemlineatus
spetri2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
LatCha1.85.genome : Latimeria_chalumnae
LatCha1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
LepOcu1.85.genome : Lepisosteus_oculatus
LepOcu1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
loxAfr3.85.genome : Loxodonta_africana
loxAfr3.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
MMUL_1.85.genome : Macaca_mulatta
MMUL_1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Meug_1.0.85.genome : Macropus_eugenii
Meug_1.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
UMD2.85.genome : Meleagris_gallopavo
UMD2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
micMur1.85.genome : Microcebus_murinus
micMur1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
BROADO5.85.genome : Monodelphis_domestica
BROADO5.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
GRCm38.85.genome : Mus_musculus
GRCm38.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
MusPutFur1.0.85.genome : Mustela_putorius_furo
MusPutFur1.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Myoluc2.0.85.genome : Myotis_lucifugus
Myoluc2.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Nleu1.0.85.genome : Nomascus_leucogenys
Nleu1.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
pika.85.genome : Ochotona_princeps
pika.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Orenil1.0.85.genome : Oreochromis_niloticus
Orenil1.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
OANA5.85.genome : Ornithorhynchus_anatinus
OANA5.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
OryCun2.0.85.genome : Oryctolagus_cuniculus
OryCun2.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
MEDAKA1.85.genome : Oryzias_latipes
MEDAKA1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
OtoGar3.85.genome : Otolemur_garnettii
OtoGar3.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Oar_v3.1.85.genome : Ovis_aries
Oar_v3.1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
CHIMP2.1.4.85.genome : Pan_troglodytes
CHIMP2.1.4.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
PapAnu2.0.85.genome : Papio_anubis
PapAnu2.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
PelSin_1.0.85.genome : Pelodiscus_sinensis
PelSin_1.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Pmarinus_7.0.85.genome : Petromyzon_marinus
Pmarinus_7.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
PoeFor_5.1.2.85.genome : Poecilia_formosa
PoeFor_5.1.2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
PPYG2.85.genome : Pongo_abelii
PPYG2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
proCap1.85.genome : Procavia_capensis
proCap1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
pteVam1.85.genome : Pteropus_vampyrus
pteVam1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Rnor_6.0.85.genome : Rattus_norvegicus
Rnor_6.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
R64-1-1.85.genome : Saccharomyces_cerevisiae
R64-1-1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
DEVIL7.0.85.genome : Sarcophilus_harrisii
DEVIL7.0.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
COMMON_SHREW1.85.genome : Sorex_araneus
COMMON_SHREW1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Sscrofa10.2.85.genome : Sus_scrofa
Sscrofa10.2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
taeGut3.2.4.85.genome : Taeniopygia_guttata
taeGut3.2.4.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
FUGU4.85.genome : Takifugu_rubripes
FUGU4.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
tarSyr1.85.genome : Tarsius_syrichta
tarSyr1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
TETRAODON8.85.genome : Tetraodon_nigroviridis
TETRAODON8.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
TREESHREW.85.genome : Tupaia_belangeri
TREESHREW.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
turTru1.85.genome : Tursiops_truncatus
turTru1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
vicPac1.85.genome : Vicugna_pacos
vicPac1.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
JGI_4.2.85.genome : Xenopus_tropicalis
JGI_4.2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/
Xipmac4.4.2.85.genome : Xiphophorus_maculatus
Xipmac4.4.2.85.reference : ftp://ftp.ensembl.org/pub/release-85/gtf/