dana_r1.05.genome : dana_r1.05
dana_r1.05.reference : ftp://ftp.flybase.net/releases/FB2016_04/dana_r1.05/gff/dana-all-r1.05.gff.gz
dere_r1.05.genome : dere_r1.05
dere_r1.05.reference : ftp://ftp.flybase.net/releases/FB2016_04/dere_r1.05/gff/dere-all-r1.05.gff.gz
dgri_r1.3.genome : dgri_r1.3
dgri_r1.3.reference : ftp://ftp.flybase.net/releases/FB2016_04/dgri_r1.3/gff/dgri-all-r1.3.gff.gz
dmel_r6.12.genome : dmel_r6.12
dmel_r6.12.reference : ftp://ftp.flybase.net/releases/FB2016_04/dmel_r6.12/gff/dmel-all-r6.12.gff.gz
dmoj_r1.04.genome : dmoj_r1.04
dmoj_r1.04.reference : ftp://ftp.flybase.net/releases/FB2016_04/dmoj_r1.04/gff/dmoj-all-r1.04.gff.gz
dper_r1.3.genome : dper_r1.3
dper_r1.3.reference : ftp://ftp.flybase.net/releases/FB2016_04/dper_r1.3/gff/dper-all-r1.3.gff.gz
dpse_r3.04.genome : dpse_r3.04
dpse_r3.04.reference : ftp://ftp.flybase.net/releases/FB2016_04/dpse_r3.04/gff/dpse-all-r3.04.gff.gz
dsec_r1.3.genome : dsec_r1.3
dsec_r1.3.reference : ftp://ftp.flybase.net/releases/FB2016_04/dsec_r1.3/gff/dsec-all-r1.3.gff.gz
dsim_r2.02.genome : dsim_r2.02
dsim_r2.02.reference : ftp://ftp.flybase.net/releases/FB2016_04/dsim_r2.02/gff/dsim-all-r2.02.gff.gz
dvir_r1.06.genome : dvir_r1.06
dvir_r1.06.reference : ftp://ftp.flybase.net/releases/FB2016_04/dvir_r1.06/gff/dvir-all-r1.06.gff.gz
dwil_r1.05.genome : dwil_r1.05
dwil_r1.05.reference : ftp://ftp.flybase.net/releases/FB2016_04/dwil_r1.05/gff/dwil-all-r1.05.gff.gz
dyak_r1.05.genome : dyak_r1.05
dyak_r1.05.reference : ftp://ftp.flybase.net/releases/FB2016_04/dyak_r1.05/gff/dyak-all-r1.05.gff.gz