
# Interval data is stored here
data_dir = /usr/local/snpEff/data/

# Store cache files here
cache_dir = /tmp

# Comma separated list of genomes
genomes : hg37, mm37

# For each genome 'XX' a set of attributes are defined:
#   - XX.genome             : The name of this genome
#	- XX.chromosomes        : A comma separated list of chromosome names
#	- XX.fasta_dir          : The directory where fasta files of this genome are located
#	- XX.chromo_fasta_files : A comma separated list of the fasta files (one per chromosome). 
#                             WARNING: They must be in the same order as the XX.chromosomes list
#
# Note: Attributes XX.fasta_dir and XX.chromo_fasta_files are only needed if you are building the data 
#       structures yourself. If you are using a pre-built file, you can leave both of them unassigned.


# Human genome, version hg37
hg37.genome : Human
	hg37.chromosomes : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, X, Y
	hg37.fasta_dir : /data/genomes/hg37/
	hg37.chromo_fasta_files : chr1.fa, chr2.fa, chr3.fa, chr4.fa, chr5.fa, chr6.fa, chr7.fa, chr8.fa, chr9.fa, chr10.fa, chr11.fa, chr12.fa, chr13.fa, chr14.fa, chr15.fa, chr16.fa, chr17.fa, chr18.fa, chr19.fa, chr20.fa, chr21.fa, chr22.fa, chrX.fa, chrY.fa

# Mouse genome, version mm37
mm37.genome : Mouse
	mm37.chromosomes : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, X, Y
	mm37.fasta_dir : /data/genomes/mm37/
	mm37.chromo_fasta_files : chr1.fa, chr2.fa, chr3.fa, chr4.fa, chr5.fa, chr6.fa, chr7.fa, chr8.fa, chr9.fa, chr10.fa, chr11.fa, chr12.fa, chr13.fa, chr14.fa, chr15.fa, chr16.fa, chr17.fa, chr18.fa, chr19.fa, chrX.fa, chrY.fa
