#---
# Ensembl 65 versions
#---

ailMel1.65.genome : Ailuropoda_melanoleuca
ailMel1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

AnoCar2.0.65.genome : Anolis_carolinensis
AnoCar2.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

UMD3.1.65.genome : Bos_taurus
UMD3.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

WS220.65.genome : Caenorhabditis_elegans
WS220.65.reference : ftp://ftp.ensembl.org/pub/release-65/

C_jacchus3.2.1.65.genome : Callithrix_jacchus
C_jacchus3.2.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BROADD2.65.genome : Canis_familiaris
BROADD2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

cavPor3.65.genome : Cavia_porcellus
cavPor3.65.reference : ftp://ftp.ensembl.org/pub/release-65/

choHof1.65.genome : Choloepus_hoffmanni
choHof1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

JGI2.65.genome : Ciona_intestinalis
JGI2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

CSAV2.0.65.genome : Ciona_savignyi
CSAV2.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Zv9.65.genome : Danio_rerio
Zv9.65.reference : ftp://ftp.ensembl.org/pub/release-65/

dasNov2.65.genome : Dasypus_novemcinctus
dasNov2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

dipOrd1.65.genome : Dipodomys_ordii
dipOrd1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BDGP5.25.65.genome : Drosophila_melanogaster
BDGP5.25.65.reference : ftp://ftp.ensembl.org/pub/release-65/

TENREC.65.genome : Echinops_telfairi
TENREC.65.reference : ftp://ftp.ensembl.org/pub/release-65/

EquCab2.65.genome : Equus_caballus
EquCab2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

HEDGEHOG.65.genome : Erinaceus_europaeus
HEDGEHOG.65.reference : ftp://ftp.ensembl.org/pub/release-65/

CAT.65.genome : Felis_catus
CAT.65.reference : ftp://ftp.ensembl.org/pub/release-65/

WASHUC2.65.genome : Gallus_gallus
WASHUC2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BROADS1.65.genome : Gasterosteus_aculeatus
BROADS1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

gorGor3.1.65.genome : Gorilla_gorilla
gorGor3.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

GRCh37.65.genome : Homo_sapiens
GRCh37.65.reference : ftp://ftp.ensembl.org/pub/release-65/

loxAfr3.65.genome : Loxodonta_africana
loxAfr3.65.reference : ftp://ftp.ensembl.org/pub/release-65/

MMUL_1.65.genome : Macaca_mulatta
MMUL_1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Meug_1.0.65.genome : Macropus_eugenii
Meug_1.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

UMD2.65.genome : Meleagris_gallopavo
UMD2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

micMur1.65.genome : Microcebus_murinus
micMur1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BROADO5.65.genome : Monodelphis_domestica
BROADO5.65.reference : ftp://ftp.ensembl.org/pub/release-65/

NCBIM37.65.genome : Mus_musculus
NCBIM37.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Myoluc2.0.65.genome : Myotis_lucifugus
Myoluc2.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Nleu1.0.65.genome : Nomascus_leucogenys
Nleu1.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

pika.65.genome : Ochotona_princeps
pika.65.reference : ftp://ftp.ensembl.org/pub/release-65/

OANA5.65.genome : Ornithorhynchus_anatinus
OANA5.65.reference : ftp://ftp.ensembl.org/pub/release-65/

oryCun2.65.genome : Oryctolagus_cuniculus
oryCun2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

MEDAKA1.65.genome : Oryzias_latipes
MEDAKA1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

BUSHBABY1.65.genome : Otolemur_garnettii
BUSHBABY1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

CHIMP2.1.65.genome : Pan_troglodytes
CHIMP2.1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Petromyzon_marinus_7.0.65.genome : Petromyzon_marinus
Petromyzon_marinus_7.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

PPYG2.65.genome : Pongo_abelii
PPYG2.65.reference : ftp://ftp.ensembl.org/pub/release-65/

proCap1.65.genome : Procavia_capensis
proCap1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

pteVam1.65.genome : Pteropus_vampyrus
pteVam1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

RGSC3.4.65.genome : Rattus_norvegicus
RGSC3.4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

EF4.65.genome : Saccharomyces_cerevisiae
EF4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

DEVIL7.0.65.genome : Sarcophilus_harrisii
DEVIL7.0.65.reference : ftp://ftp.ensembl.org/pub/release-65/

COMMON_SHREW1.65.genome : Sorex_araneus
COMMON_SHREW1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

SQUIRREL.65.genome : Spermophilus_tridecemlineatus
SQUIRREL.65.reference : ftp://ftp.ensembl.org/pub/release-65/

Sscrofa9.65.genome : Sus_scrofa
Sscrofa9.65.reference : ftp://ftp.ensembl.org/pub/release-65/

taeGut3.2.4.65.genome : Taeniopygia_guttata
taeGut3.2.4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

FUGU4.65.genome : Takifugu_rubripes
FUGU4.65.reference : ftp://ftp.ensembl.org/pub/release-65/

tarSyr1.65.genome : Tarsius_syrichta
tarSyr1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

TETRAODON8.65.genome : Tetraodon_nigroviridis
TETRAODON8.65.reference : ftp://ftp.ensembl.org/pub/release-65/

TREESHREW.65.genome : Tupaia_belangeri
TREESHREW.65.reference : ftp://ftp.ensembl.org/pub/release-65/

turTru1.65.genome : Tursiops_truncatus
turTru1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

vicPac1.65.genome : Vicugna_pacos
vicPac1.65.reference : ftp://ftp.ensembl.org/pub/release-65/

# Mitochondrial chromosomes

ailMel1.65.MT.codonTable : Vertebrate_Mitochondrial
AnoCar2.0.65.MT.codonTable : Vertebrate_Mitochondrial
BROADD2.65.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.65.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.65.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.65.MT.codonTable : Vertebrate_Mitochondrial
DEVIL7.0.65.MT.codonTable : Vertebrate_Mitochondrial
EF4.65.Mito.codonTable : Vertebrate_Mitochondrial
FUGU4.65.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.65.MT.codonTable : Vertebrate_Mitochondrial
GRCh37.65.MT.codonTable : Vertebrate_Mitochondrial
loxAfr3.65.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.65.MT.codonTable : Vertebrate_Mitochondrial
NCBIM37.65.MT.codonTable : Vertebrate_Mitochondrial
OANA5.65.MT.codonTable : Vertebrate_Mitochondrial
oryCun2.65.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.65.MT.codonTable : Vertebrate_Mitochondrial
RGSC3.4.65.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa9.65.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.65.MT.codonTable : Vertebrate_Mitochondrial
UMD2.65.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.65.MT.codonTable : Vertebrate_Mitochondrial
WASHUC2.65.MT.codonTable : Vertebrate_Mitochondrial
WS220.65.MtDNA.codonTable : Invertebrate_Mitochondrial
Zv9.65.MT.codonTable : Vertebrate_Mitochondrial
