#---
# Ensembl 68 versions
#---

ailMel1.68.genome : Ailuropoda_melanoleuca
ailMel1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

AnoCar2.0.68.genome : Anolis_carolinensis
AnoCar2.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

UMD3.1.68.genome : Bos_taurus
UMD3.1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

WBcel215.68.genome : Caenorhabditis_elegans
WBcel215.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

C_jacchus3.2.1.68.genome : Callithrix_jacchus
C_jacchus3.2.1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

CanFam3.1.68.genome : Canis_familiaris
CanFam3.1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

cavPor3.68.genome : Cavia_porcellus
cavPor3.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

choHof1.68.genome : Choloepus_hoffmanni
choHof1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

KH.68.genome : Ciona_intestinalis
KH.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

CSAV2.0.68.genome : Ciona_savignyi
CSAV2.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Zv9.68.genome : Danio_rerio
Zv9.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

dasNov2.68.genome : Dasypus_novemcinctus
dasNov2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

dipOrd1.68.genome : Dipodomys_ordii
dipOrd1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

BDGP5.68.genome : Drosophila_melanogaster
BDGP5.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

TENREC.68.genome : Echinops_telfairi
TENREC.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

EquCab2.68.genome : Equus_caballus
EquCab2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

HEDGEHOG.68.genome : Erinaceus_europaeus
HEDGEHOG.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

CAT.68.genome : Felis_catus
CAT.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

gadMor1.68.genome : Gadus_morhua
gadMor1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

WASHUC2.68.genome : Gallus_gallus
WASHUC2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

BROADS1.68.genome : Gasterosteus_aculeatus
BROADS1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

gorGor3.1.68.genome : Gorilla_gorilla
gorGor3.1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

GRCh37.68.genome : Homo_sapiens
GRCh37.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

spetri2.68.genome : Ictidomys_tridecemlineatus
spetri2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

LatCha1.68.genome : Latimeria_chalumnae
LatCha1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

loxAfr3.68.genome : Loxodonta_africana
loxAfr3.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

MMUL_1.68.genome : Macaca_mulatta
MMUL_1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Meug_1.0.68.genome : Macropus_eugenii
Meug_1.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

UMD2.68.genome : Meleagris_gallopavo
UMD2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

micMur1.68.genome : Microcebus_murinus
micMur1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

BROADO5.68.genome : Monodelphis_domestica
BROADO5.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

GRCm38.68.genome : Mus_musculus
GRCm38.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Myoluc2.0.68.genome : Myotis_lucifugus
Myoluc2.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Nleu1.0.68.genome : Nomascus_leucogenys
Nleu1.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

pika.68.genome : Ochotona_princeps
pika.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Orenil1.0.68.genome : Oreochromis_niloticus
Orenil1.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

OANA5.68.genome : Ornithorhynchus_anatinus
OANA5.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

oryCun2.68.genome : Oryctolagus_cuniculus
oryCun2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

MEDAKA1.68.genome : Oryzias_latipes
MEDAKA1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

OtoGar3.68.genome : Otolemur_garnettii
OtoGar3.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

CHIMP2.1.4.68.genome : Pan_troglodytes
CHIMP2.1.4.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

PelSin_1.0.68.genome : Pelodiscus_sinensis
PelSin_1.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Pmarinus_7.0.68.genome : Petromyzon_marinus
Pmarinus_7.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

PPYG2.68.genome : Pongo_abelii
PPYG2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

proCap1.68.genome : Procavia_capensis
proCap1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

pteVam1.68.genome : Pteropus_vampyrus
pteVam1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

RGSC3.4.68.genome : Rattus_norvegicus
RGSC3.4.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

EF4.68.genome : Saccharomyces_cerevisiae
EF4.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

DEVIL7.0.68.genome : Sarcophilus_harrisii
DEVIL7.0.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

COMMON_SHREW1.68.genome : Sorex_araneus
COMMON_SHREW1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

Sscrofa10.2.68.genome : Sus_scrofa
Sscrofa10.2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

taeGut3.2.4.68.genome : Taeniopygia_guttata
taeGut3.2.4.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

FUGU4.68.genome : Takifugu_rubripes
FUGU4.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

tarSyr1.68.genome : Tarsius_syrichta
tarSyr1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

TETRAODON8.68.genome : Tetraodon_nigroviridis
TETRAODON8.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

TREESHREW.68.genome : Tupaia_belangeri
TREESHREW.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

turTru1.68.genome : Tursiops_truncatus
turTru1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

vicPac1.68.genome : Vicugna_pacos
vicPac1.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

JGI_4.2.68.genome : Xenopus_tropicalis
JGI_4.2.68.reference : ftp://ftp.ensembl.org/pub/release-68/gtf/

# Mitochondrial chromosomes

ailMel1.68.MT.codonTable : Vertebrate_Mitochondrial
AnoCar2.0.68.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.68.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.68.MT.codonTable : Vertebrate_Mitochondrial
CanFam3.1.68.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.68.MT.codonTable : Vertebrate_Mitochondrial
DEVIL7.0.68.MT.codonTable : Vertebrate_Mitochondrial
FUGU4.68.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.68.MT.codonTable : Vertebrate_Mitochondrial
GRCh37.68.MT.codonTable : Vertebrate_Mitochondrial
GRCm38.68.MT.codonTable : Vertebrate_Mitochondrial
KH.68.MT.codonTable : Vertebrate_Mitochondrial
LatCha1.68.MT.codonTable : Vertebrate_Mitochondrial
loxAfr3.68.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.68.MT.codonTable : Vertebrate_Mitochondrial
OANA5.68.MT.codonTable : Vertebrate_Mitochondrial
oryCun2.68.MT.codonTable : Vertebrate_Mitochondrial
PelSin_1.0.68.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.68.MT.codonTable : Vertebrate_Mitochondrial
RGSC3.4.68.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa10.2.68.MT.codonTable : Vertebrate_Mitochondrial
taeGut3.2.4.68.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.68.MT.codonTable : Vertebrate_Mitochondrial
UMD2.68.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.68.MT.codonTable : Vertebrate_Mitochondrial
WASHUC2.68.MT.codonTable : Vertebrate_Mitochondrial
Zv9.68.MT.codonTable : Vertebrate_Mitochondrial
BDGP5.68.dmel_mitochondrion_genome.codonTable : Invertebrate_Mitochondrial
EF4.68.Mito.codonTable : Vertebrate_Mitochondrial
WBcel215.68.MtDNA.codonTable : Invertebrate_Mitochondrial
