#---
# Databases: Not from ENSEMBL
#---

# Prevotella bryantii B14
ADWO01.genome : Prevotella bryantii B14

# Ailuropoda_melanoleuca
ailmel1.61.genome : Ailuropoda_melanoleuca

# Anopheles_gambiae
agam.genome : Anopheles_gambiae
agam.reference : http://agambiae.vectorbase.org/GetData/ 

agam2.6.genome : Anopheles_gambiae
agam2.6.reference : http://agambiae.vectorbase.org/GetData/ 

agam3.7.genome : Anopheles_gambiae
agam3.7.reference : http://agambiae.vectorbase.org/GetData/ 

agam4.2.genome : Anopheles_gambiae
agam4.2.reference : https://www.vectorbase.org/downloads?field_organism_taxonomy_tid=367&field_download_file_type_tid=All&field_download_file_format_tid=473&field_status_value=Current

# Arabidopsis lyrata
alyrata107.genome : Arabidopsis_lyrata
alyrata107.reference : http://www.phytozome.net/search.php?method=Org_Alyrata

alyrata1.genome : Arabidopsis_lyrata
alyrata1.reference : http://genome.jgi-psf.org/Araly1/Araly1.download.ftp.html

# Apis mellifera
amel2.genome : Bee
amel2.reference : http://beebase.org
amel2.MT.codonTable : Invertebrate_Mitochondrial

# Apis mellifera. Transcripts inferred by Cufflinks.
amel2_cuff.genome : Bee
amel2_cuff.reference : http://beebase.org
amel2_cuff.MT.codonTable : Invertebrate_Mitochondrial

# Apis mellifera 4.5
amel4.5.genome : Bee
amel4.5.reference : http://biomirror.aarnet.edu.au/biomirror/ncbigenomes/Apis_mellifera/special_requests/gff/

# Aphid
aphid_v2.1.genome : Aphid
aphid_v2.1.reference : http://www.aphidbase.com/aphidbase

# Aquilegia coerulea
aquiCoer.genome : Aquilegia_coerulea

# Arabidopsis Thaliana
athaliana130.genome : Arabidopsis_Thaliana
	athaliana130.reference : http://www.phytozome.net/dataUsagePolicy.php?org=Org_Athaliana
	athaliana130.M.codonTable : Standard

athalianaTair9.genome : Arabidopsis_Thaliana
	athalianaTair9.reference : ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR9_genome_release
	athalianaTair9.M.codonTable : Standard

athalianaTair10.genome : Arabidopsis_Thaliana
	athalianaTair10.reference : ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR10_genome_release
	athalianaTair10.M.codonTable : Standard

# Brassica Napus
brassica.napus.genome : Brassica Napus
brassica.napus.reference : http://www.ncbi.nlm.nih.gov/nuccore/GQ861354

# Candida_albicans_SC5314 
cAlbicansv21.genome: Candida_albicans_SC5314
	cAlbicansv21.reference: http://www.candidagenome.org/download/gff/C_albicans_SC5314/
	cAlbicansv21.Mt.codonTable : Yeast_Mitochondrial

# C. Briggsae 
c_briggsae_WS230.genome : Caenorhabditis_briggsae
c_briggsae_WS230.reference : ftp://ftp.wormbase.org/pub/wormbase/releases/WS230/species/c_briggsae/

# C. Remanei 
c_remanei_WS234.genome : Caenorhabditis_briggsae
c_remanei_WS234.reference : ftp://ftp.wormbase.org/pub/wormbase/releases/WS234/species/c_remanei/

# Cryptococcus neoformans
c_neoformans.genome: Cryptococcus_neoformans
c_neoformans.reference: http://www.broadinstitute.org/annotation/genome/cryptococcus_neoformans/MultiDownloads.html

# Camelus ferus
camelus_ferus.genome : Camelus ferus
camelus_ferus.reference : ftp://ftp.ncbi.nlm.nih.gov/genomes/Camelus_ferus/

# Candida glabrata CBS 138
candida_glabrata_CBS_138.genome: Candida Glabrata
candida_glabrata_CBS_138.reference : http://www.ncbi.nlm.nih.gov/assembly/GCF_000002545.3

# Candida parapsilosis
c_parapsilosis_CDC317.genome : Candida parapsilosis
c_parapsilosis_CDC317.reference : http://www.candidagenome.org/download/sequence/C_parapsilosis_CDC317/current/

# Dog
canFam3.1.genome : Canis_familiaris
canFam3.1.reference : ftp://ftp.ncbi.nlm.nih.gov/genomes/Canis_lupus_familiaris/

canFam3.103.genome : Canis_familiaris
canFam3.103.reference : ftp://ftp.ncbi.nlm.nih.gov/genomes/Canis_lupus_familiaris/

# ChickPea
Cicer_arietinum_v1.genome : Chickpea
Cicer_arietinum_v1.reference : http://www.icrisat.org/gt-bt/ICGGC/GenomeManuscript.htm

# CP000730
CP000730.genome : Staphylococcus_aureus
CP000730.reference : http://www.ncbi.nlm.nih.gov/nuccore/CP000730.1

# Capsella_rubella_v1.0 (Toronto University, Grandiflora)
crubella_183.genome : Capsella_rubella_v1.83
	crubella_183.reference : ftp://ftp.jgi-psf.org/pub/compgen/phytozome/v9.0/Crubella

# Drosophila melanogaster (FlyBase)
dm5.42.genome : Drosophila_melanogaster
	dm5.42.dmel_mitochondrion_genome.codonTable : Vertebrate_Mitochondrial

dm5.48.genome : Drosophila_melanogaster
	dm5.48.reference : ftp://ftp.flybase.net/releases/current/dmel_r5.48/
	dm5.48.dmel_mitochondrion_genome.codonTable : Vertebrate_Mitochondrial

dm6.03.genome : Drosophila_melanogaster
	dm6.03.reference : ftp://ftp.flybase.net/genomes/Drosophila_melanogaster/dmel_r6.03_FB2014_06
	dm6.03.dmel_mitochondrion_genome.codonTable : Vertebrate_Mitochondrial

# Drosophila simulans
dsim_fb201206.genome : Drosophila_simulans
dsim_fb201206.reference : ftp://ftp.flybase.net/releases/FB2012_06/dsim_r1.4

# Eucalyptus grandis
egrandis201.genome : Eucalyptus_grandis
egrandis201.reference : ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v8.0/Egrandis/

# felCat5: 
felCat5.genome : felCat5
felCat.reference : ftp://hgdownload.cse.ucsc.edu/goldenPath/felCat5/bigZips/

# Glycine max
gmax1.09.genome: Glycine_Max
gmax1.09.reference: ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v7.0/Gmax/

gmax1.09v8.genome: Glycine_Max
gmax1.09v8.reference: ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v8.0/Gmax/

# Grape
grape.genome : Grape
grape.reference : http://genomes.cribi.unipd.it/DATA/

# G.Raimondii : Cotton
graimondii_221.genome : Cotton
graimondii_221.reference : ftp://ftp.jgi-psf.org/pub/compgen/phytozome/v9.0/Graimondii/

# Human herpesvirus 1, complete genome. NCBI Reference Sequence: NC_001806.1
herpesvirus1.genome: Herpesvirus

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens (USCS)
	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
	hg19.M.codonTable : Vertebrate_Mitochondrial

# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
hg19kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence

# Homo sapiens (hg38) (UCSC)
hg38.genome : Homo_sapiens (USCS)
	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38.M.codonTable : Vertebrate_Mitochondrial

# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna

# Version of Gencode 12 adapted for GTEX project
# Provided by Manuel Rivas (Oxford & Broad)
GRCh37.GTEX.genome : Homo_sapiens, Gencode 12, GTEX project

# GRCh38 release from NCBI's RefSeq 
GRCh38.p2.RefSeq.genome : Human genome GRCh38 using RefSeq transcripts

# HIV_nc_001802_1
hiv.genome : HIV

# Grosmannia clavigera
kw1407.2012.genome: Grosmannia_clavigera

# Leishmania genome
lmjf4.genome : LmajorFriedlin

# Lusitatissimum: Flax
lusitatissimum_90.genome : Flax
lusitatissimum_90.reference : ftp://ftp.jgi-psf.org/pub/compgen/phytozome/v9.0/Lusitatissimum/

# Macaca_fascicularis 5.0
Macaca_fascicularis.genome : Macaca_fascicularis
    Macaca_fascicularis.reference : ftp://ftp.ncbi.nlm.nih.gov/genomes/Macaca_fascicularis/

# Mycobacterium tuberculosis
m_tuberculosis.genome : Mycobacterium_tuberculosis
m_tuberculosis.reference : ftp://ftp.sanger.ac.uk/pub/pathogens/Mycobacterium/tuberculosis/

# Mycobacterium tuberculosis H37Rv
m_tuberculosis_H37Rv.genome : Mycobacterium_tuberculosis H37Rv
m_tuberculosis_H37Rv.reference : http://www.ncbi.nlm.nih.gov/nuccore/NC_000962.3

# Maize version 5B
maizeZmB73.genome : Maize_ZmB73_5b
	maizeZmB73.reference : http://ftp.maizesequence.org/
	maizeZmB73.Mt.codonTable : Vertebrate_Mitochondrial

# Mouse (mm10)
mm10.genome : Mouse

# Mycobacterium marinum M strain genome, version 31012012 			
mmm.2012.genome : Mycobacterium_marinum_M

# Mycoplasma pneumoninae FH
myco_fh.genome : Mycoplasma_pneumoninae_FH

# Mycoplasma pneumoninae M129
myco_m129.genome : Mycoplasma_pneumoninae_M129

# Neurospora Crassa 
ncrassa.genome : Neurospora_Crassa_v10
ncrassa.reference : http://www.broadinstitute.org/annotation/genome/neurospora/MultiDownloads.html

neurospora_crassa_or74a_12.genome : Neurospora_Crassa_v12
neurospora_crassa_or74a_12.reference : http://www.broadinstitute.org/annotation/genome/neurospora/MultiDownloads.html

# Ecoli K12 MG1655
NC_000913.genome : Escherichia_coli
	NC_000913.1.NC_000913.1.codonTable: Bacterial_and_Plant_Plastid

# Clostridium difficile
NC_009089.1.genome : Clostridium_difficile
	NC_009089.1.NC_009089.1.codonTable: Bacterial_and_Plant_Plastid

# Staphylococcus aureus
NC_003923.1.genome : Staphylococcus aureus
	NC_003923.1.NC_003923.1.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas aeruginosa
NC_011770.1.genome : Pseudomonas aeruginosa
	NC_011770.1.C_011770.1.codonTable: Bacterial_and_Plant_Plastid

# Staphylococcus aureus
NC_007793.1.genome : Staphylococcus aureus
	NC_007793.1.NC_007793.1.codonTable: Bacterial_and_Plant_Plastid

# Clostridium tetani
NC_004557.1.genome : Clostridium tetani
	NC_004557.1.NC_004557.1.codonTable: Bacterial_and_Plant_Plastid

# Prevotella ruminicola 23
NC_014033.1.genome: Prevotella ruminicola 23
	NC_014033.1.NC_014033.1.codonTable: Bacterial_and_Plant_Plastid

# Neurospora discreta
neurospora_discreta_v2.1.genome : Neurospora discreta
neurospora_discreta_v2.1.reference : http://fungidb.org/common/downloads/release-2.1/Neurospora_discreta_FGSC_8579

# Sheep 
Oar_v3.1.genome : Sheep
Oar_v3.1.reference : ftp://ftp.ncbi.nlm.nih.gov/genomes/Ovis_aries/GFF/, ftp://ftp.ncbi.nlm.nih.gov/genomes/Ovis_aries/Assembled_chromosomes/seq/

# Pseudomonas aeruginosa, N_008463
paeru.PA01.genome : Pseudomonas_aeruginosa
	paeru.PA01.chromosomes : NC_002516.2
	paeru.PA01.NC_002516.2.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas aeruginosa, N_008463
paeru.PA14.genome : Pseudomonas_aeruginosa
	paeru.PA14.chromosomes : NC_008463.1
	paeru.PA14.NC_008463.1.codonTable: Bacterial_and_Plant_Plastid

# Peromyscus leucopus (white footed deer mice)
peromyscus.genome : Peromyscus leucopus

# Phaseolus_vulgaris_218
Phaseolus_vulgaris_218.genome : Phaseolus_vulgaris_218
Phaseolus_vulgaris_218.reference : ftp://ftp.jgi-psf.org/pub/compgen/phytozome/v9.0/Pvulgaris

# Plasmodium falciparum 
plasmo72.genome: Plasmodium_falciparum
	plasmo72.reference: http://plasmodb.org/common/downloads/release-7.2/Pfalciparum/
	plasmo72.apidb|cds_mal_mito_1-1.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|cds_mal_mito_2-1.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|cds_mal_mito_3-1.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|mal_mito_1.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|mal_mito_2.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|mal_mito_3.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_10:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_15:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_16:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_17:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|mal_mito_RNA19:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_1:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_20:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_21:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_9:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_LSUC:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_LSUF:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_LSUG:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA11:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA12:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA14:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA18:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA22:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA4:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA5:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA6:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_RNA7:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_rna_SSUF:rRNA.codonTable : Vertebrate_Mitochondrial
	plasmo72.apidb|malmito_SSUB:rRNA.codonTable : Vertebrate_Mitochondrial

# Plasmodium falciparum 
# By Daniel Park
Pf3D7v72.genome: Plasmodium_falciparum
    Pf3D7v72.M76611.codonTable: Protozoan_Mitochondrial
    Pf3D7v72.PFC10_API_IRAB.codonTable: Bacterial_and_Plant_Plastid

Pf3D7v90.genome: Plasmodium_falciparum
    Pf3D7v90.M76611.codonTable: Protozoan_Mitochondrial
    Pf3D7v90.PFC10_API_IRAB.codonTable: Bacterial_and_Plant_Plastid

# Requested by Martine Zilversmit
Pf3D7v91.genome: Plasmodium_falciparum
	Pf3D7v91.reference: http://plasmodb.org/common/downloads/release-9.1/Pfalciparum3D7
	Pf3D7v91.cds_mal_mito_1-1.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.cds_mal_mito_2-1.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.cds_mal_mito_3-1.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.mal_mito_1.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.mal_mito_2.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.mal_mito_3.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_10:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_15:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_16:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_17:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.mal_mito_RNA19:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_1:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_20:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_21:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_9:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_LSUC:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_LSUF:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_LSUG:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA11:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA12:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA14:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA18:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA22:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA4:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA5:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA6:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_RNA7:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_rna_SSUF:rRNA.codonTable : Vertebrate_Mitochondrial
	Pf3D7v91.malmito_SSUB:rRNA.codonTable : Vertebrate_Mitochondrial

# Potato 
potato_3.4.genome : Potato
potato_3.4.reference : http://potatogenomics.plantbiology.msu.edu/

# Peach (Prunus persica). 
ppersica139.genome : Peach
ppersica139.reference : ftp://ftp.plantgdb.org/download/Genomes/PeGDB/

# Populus trichocarpa
ptrichocarpa210.genome : Populus_trichocarpa

# Pseudomonas fluorescens
pfluo.SBW25.NC_009444.genome : Pseudomonas_fluorescens
	pfluo.SBW25.NC_009444.chromosomes : NC_009444.1
	pfluo.SBW25.NC_009444.NC_009444.1.codonTable: Bacterial_and_Plant_Plastid

# Pseudomonas fluorescens
pfluo.SBW25.NC_012660.genome : Pseudomonas_fluorescens
	pfluo.SBW25.NC_012660.chromosomes : NC_012660.1
	pfluo.SBW25.NC_012660.NC_012660.1.codonTable: Bacterial_and_Plant_Plastid

# Rice: http://rapdb.dna.affrc.go.jp/download/index.html
rice5.genome: Rice
rice5.reference: http://rapdb.dna.affrc.go.jp/download/index.html

rice6.1.genome: Rice
rice6.1.reference: ftp://ftp.plantbiology.msu.edu,ftp://ftp.plantbiology.msu.edu/pub/data/Eukaryotic_Projects/o_sativa/annotation_dbs/

rice7.genome: Rice
rice7.reference: ftp://ftp.plantbiology.msu.edu/pub/data/Eukaryotic_Projects/o_sativa/annotation_dbs/pseudomolecules/version_7.0/

rice_rap201304.genome: Rice RAPDB
	rice_rap201304.reference: http://rapdb.dna.affrc.go.jp/download

# Staphylococcus aureus SA957
SA957.genome: Staphylococcus aureus subsp. aureus SA957
SA957.reference: http://www.ncbi.nlm.nih.gov/nuccore/NC_022442.1?report=genbank&from=2109945&to=2110238&strand=true

# SCU49845
SCU49845.genome : SCU49845

# HIV virus 
SIVmac239.genome : HIV
SIVmac239.reference : http://www.ncbi.nlm.nih.gov/nuccore/334647

# Tomato 
SL2.40.genome : Tomato
SL2.40.reference : ftp://ftp.solgenomics.net/,ftp://ftp.solgenomics.net/genomes/Solanum_lycopersicum/wgs/assembly/build_2.40/S_lycopersicum_chromosomes.2.40.fa.gz,http://solgenomics.net/itag/release/2.3/list_files(ITAG2.3_gene_models.gff3)

# Tomato 
SL2.50.genome : Tomato
SL2.50.reference : ftp://ftp.solgenomics.net/tomato_genome/annotation/ITAG2.4_release/

# Sorghum Bicolor
Sbicolor_v2.1.genome : 
Sbicolor_v2.1.reference : http://genome.jgi.doe.gov/pages/dynamicOrganismDownload.jsf?organism=Sbicolor

# Schizosaccharomyces pombe (fission yeast). 
spombe.genome : Schizosaccharomyces_pombe
spombe.reference : ftp://ftp.sanger.ac.uk/pub/yeast/pombe/GFF

# Tribolium
Tcas_3.0.genome : Tribolium
Tcas_3.0.reference : Files_from_Sarah_Behrens_Unpublished@uni-muenster.de

Triticum_aestivum.IWGSP1.21.genome : Triticum_aestivum.IWGSP1.21

# Meleagris_gallopavo (Turkey)
turkey.UMD2.61.genome : Meleagris_gallopavo

# Bos taurus : University of Maryland version 3.1
UMD3_1.genome : Bos_taurus

# Vaccinia WR (NCBIM37) (ENSEMBL) gi|29692106|gb|AY243312.1|
vacwr.genome : Vaccinia_Western_Reserve

# Vibrio Cholerae
vibrio.genome : Vibrio Cholerae
	vibrio.chromosomes : NC_002505.1, NC_002506.1
	vibrio.NC_002505.1.codonTable : Bacterial_and_Plant_Plastid
	vibrio.NC_002506.1.codonTable : Bacterial_and_Plant_Plastid

# C. elegans (WormBase)
WS241.genome : C. elegans 

# Vitis vinifera
vvinifera.genome : Vitis vinifera
vvinifera.reference : http://www.genoscope.cns.fr/externe/GenomeBrowser/Vitis/

# Xiphophorus maculatus (Southern platyfish)
xmac.69.genome : Xiphophorus_maculatus
	xmac.69.reference : ftp://ftp.ensembl.org/pub/release-69/fasta/xiphophorus_maculatus/dna/Xiphophorus_maculatus.Xipmac4.4.2.69.dna.toplevel.fa.gz \
						, ftp://ftp.ensembl.org/pub/release-69/fasta/xiphophorus_maculatus/pep/Xiphophorus_maculatus.Xipmac4.4.2.69.pep.all.fa.gz \
						, ftp://ftp.ensembl.org/pub/release-69/fasta/xiphophorus_maculatus/cdna/Xiphophorus_maculatus.Xipmac4.4.2.69.cdna.all.fa.gz 

# Xenopus tropicalis 
xtrop7.1.genome : Xenopus_tropicalis
xtrop7.1.reference : ftp://ftp.xenbase.org/pub/Genomics/JGI/Xentr7.1/

# Zonotrichia_albicollis : White throated sparrow
Zonotrichia_albicollis_1.0.genome : Zonotrichia_albicollis_1.0
    Zonotrichia_albicollis_1.0.reference : ftp://ftp.ncbi.nlm.nih.gov/genomes/Zonotrichia_albicollis/

# Ebola virus
ebola_zaire.genome: Ebola Zaire Virus KJ660346.1

# Puccinia Striiformis
puccinia_striiformis_pst-78.genome : puccinia_striiformis_pst-78
puccinia_striiformis_pst-78.reference : http://www.broadinstitute.org/annotation/genome/puccinia_group/MultiDownloads.html

