allMis1.genome : allMis1
allMis1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/allMis1/bigZips
allMis1.retrieval_date : 2024-01-02

aptMan1.genome : aptMan1
aptMan1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/aptMan1/bigZips
aptMan1.retrieval_date : 2024-01-02

bisBis1.genome : bisBis1
bisBis1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bisBis1/bigZips
bisBis1.retrieval_date : 2024-01-02

bosTau3.genome : bosTau3
bosTau3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bosTau3/bigZips
bosTau3.retrieval_date : 2024-01-02

bosTau4.genome : bosTau4
bosTau4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bosTau4/bigZips
bosTau4.retrieval_date : 2024-01-02

bosTau6.genome : bosTau6
bosTau6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bosTau6/bigZips
bosTau6.retrieval_date : 2024-01-02

bosTau7.genome : bosTau7
bosTau7.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bosTau7/bigZips
bosTau7.retrieval_date : 2024-01-02

bosTau8.genome : bosTau8
bosTau8.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bosTau8/bigZips
bosTau8.retrieval_date : 2024-01-02

bosTau9.genome : bosTau9
bosTau9.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/bosTau9/bigZips
bosTau9.retrieval_date : 2024-01-02

calJac1.genome : calJac1
calJac1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/calJac1/bigZips
calJac1.retrieval_date : 2024-01-02

calJac3.genome : calJac3
calJac3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/calJac3/bigZips
calJac3.retrieval_date : 2024-01-02

canFam3.genome : canFam3
canFam3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/canFam3/bigZips
canFam3.retrieval_date : 2024-01-02

cavPor3.genome : cavPor3
cavPor3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/cavPor3/bigZips
cavPor3.retrieval_date : 2024-01-02

ce10.genome : ce10
ce10.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ce10/bigZips
ce10.retrieval_date : 2024-01-02

ce11.genome : ce11
ce11.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ce11/bigZips
ce11.retrieval_date : 2024-01-02

ce6.genome : ce6
ce6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ce6/bigZips
ce6.retrieval_date : 2024-01-02

ci3.genome : ci3
ci3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ci3/bigZips
ci3.retrieval_date : 2024-01-02

criGri1.genome : criGri1
criGri1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/criGri1/bigZips
criGri1.retrieval_date : 2024-01-02

criGriChoV1.genome : criGriChoV1
criGriChoV1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/criGriChoV1/bigZips
criGriChoV1.retrieval_date : 2024-01-02

criGriChoV2.genome : criGriChoV2
criGriChoV2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/criGriChoV2/bigZips
criGriChoV2.retrieval_date : 2024-01-02

danRer10.genome : danRer10
danRer10.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/danRer10/bigZips
danRer10.retrieval_date : 2024-01-02

danRer11.genome : danRer11
danRer11.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/danRer11/bigZips
danRer11.retrieval_date : 2024-01-02

danRer5.genome : danRer5
danRer5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/danRer5/bigZips
danRer5.retrieval_date : 2024-01-02

danRer6.genome : danRer6
danRer6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/danRer6/bigZips
danRer6.retrieval_date : 2024-01-02

danRer7.genome : danRer7
danRer7.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/danRer7/bigZips
danRer7.retrieval_date : 2024-01-02

dm3.genome : dm3
dm3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/dm3/bigZips
dm3.retrieval_date : 2024-01-02

dm6.genome : dm6
dm6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/dm6/bigZips
dm6.retrieval_date : 2024-01-02

equCab1.genome : equCab1
equCab1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/equCab1/bigZips
equCab1.retrieval_date : 2024-01-02

equCab2.genome : equCab2
equCab2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/equCab2/bigZips
equCab2.retrieval_date : 2024-01-02

equCab3.genome : equCab3
equCab3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/equCab3/bigZips
equCab3.retrieval_date : 2024-01-02

felCat3.genome : felCat3
felCat3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/felCat3/bigZips
felCat3.retrieval_date : 2024-01-02

felCat4.genome : felCat4
felCat4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/felCat4/bigZips
felCat4.retrieval_date : 2024-01-02

felCat5.genome : felCat5
felCat5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/felCat5/bigZips
felCat5.retrieval_date : 2024-01-02

felCat8.genome : felCat8
felCat8.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/felCat8/bigZips
felCat8.retrieval_date : 2024-01-02

felCat9.genome : felCat9
felCat9.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/felCat9/bigZips
felCat9.retrieval_date : 2024-01-02

fr3.genome : fr3
fr3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/fr3/bigZips
fr3.retrieval_date : 2024-01-02

galGal3.genome : galGal3
galGal3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/galGal3/bigZips
galGal3.retrieval_date : 2024-01-02

galGal4.genome : galGal4
galGal4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/galGal4/bigZips
galGal4.retrieval_date : 2024-01-02

galGal5.genome : galGal5
galGal5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/galGal5/bigZips
galGal5.retrieval_date : 2024-01-02

galGal6.genome : galGal6
galGal6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/galGal6/bigZips
galGal6.retrieval_date : 2024-01-02

gasAcu1.genome : gasAcu1
gasAcu1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/gasAcu1/bigZips
gasAcu1.retrieval_date : 2024-01-02

gorGor4.genome : gorGor4
gorGor4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/gorGor4/bigZips
gorGor4.retrieval_date : 2024-01-02

gorGor5.genome : gorGor5
gorGor5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/gorGor5/bigZips
gorGor5.retrieval_date : 2024-01-02

hg19.genome : hg19
hg19.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/hg19/bigZips
hg19.retrieval_date : 2024-01-02

hg38.genome : hg38
hg38.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips
hg38.retrieval_date : 2024-01-02

loxAfr3.genome : loxAfr3
loxAfr3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/loxAfr3/bigZips
loxAfr3.retrieval_date : 2024-01-02

macFas5.genome : macFas5
macFas5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/macFas5/bigZips
macFas5.retrieval_date : 2024-01-02

melGal5.genome : melGal5
melGal5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/melGal5/bigZips
melGal5.retrieval_date : 2024-01-02

mm10.genome : mm10
mm10.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/mm10/bigZips
mm10.retrieval_date : 2024-01-02

mm9.genome : mm9
mm9.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/mm9/bigZips
mm9.retrieval_date : 2024-01-02

musFur1.genome : musFur1
musFur1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/musFur1/bigZips
musFur1.retrieval_date : 2024-01-02

oreNil2.genome : oreNil2
oreNil2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/oreNil2/bigZips
oreNil2.retrieval_date : 2024-01-02

ornAna1.genome : ornAna1
ornAna1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ornAna1/bigZips
ornAna1.retrieval_date : 2024-01-02

ornAna2.genome : ornAna2
ornAna2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ornAna2/bigZips
ornAna2.retrieval_date : 2024-01-02

oryCun2.genome : oryCun2
oryCun2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/oryCun2/bigZips
oryCun2.retrieval_date : 2024-01-02

oryLat2.genome : oryLat2
oryLat2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/oryLat2/bigZips
oryLat2.retrieval_date : 2024-01-02

oviAri1.genome : oviAri1
oviAri1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/oviAri1/bigZips
oviAri1.retrieval_date : 2024-01-02

oviAri3.genome : oviAri3
oviAri3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/oviAri3/bigZips
oviAri3.retrieval_date : 2024-01-02

oviAri4.genome : oviAri4
oviAri4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/oviAri4/bigZips
oviAri4.retrieval_date : 2024-01-02

panPan1.genome : panPan1
panPan1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/panPan1/bigZips
panPan1.retrieval_date : 2024-01-02

panTro3.genome : panTro3
panTro3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/panTro3/bigZips
panTro3.retrieval_date : 2024-01-02

panTro4.genome : panTro4
panTro4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/panTro4/bigZips
panTro4.retrieval_date : 2024-01-02

panTro5.genome : panTro5
panTro5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/panTro5/bigZips
panTro5.retrieval_date : 2024-01-02

panTro6.genome : panTro6
panTro6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/panTro6/bigZips
panTro6.retrieval_date : 2024-01-02

papAnu2.genome : papAnu2
papAnu2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/papAnu2/bigZips
papAnu2.retrieval_date : 2024-01-02

papAnu4.genome : papAnu4
papAnu4.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/papAnu4/bigZips
papAnu4.retrieval_date : 2024-01-02

papHam1.genome : papHam1
papHam1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/papHam1/bigZips
papHam1.retrieval_date : 2024-01-02

ponAbe2.genome : ponAbe2
ponAbe2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ponAbe2/bigZips
ponAbe2.retrieval_date : 2024-01-02

ponAbe3.genome : ponAbe3
ponAbe3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/ponAbe3/bigZips
ponAbe3.retrieval_date : 2024-01-02

rheMac10.genome : rheMac10
rheMac10.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/rheMac10/bigZips
rheMac10.retrieval_date : 2024-01-02

rheMac3.genome : rheMac3
rheMac3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/rheMac3/bigZips
rheMac3.retrieval_date : 2024-01-02

rheMac8.genome : rheMac8
rheMac8.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/rheMac8/bigZips
rheMac8.retrieval_date : 2024-01-02

rn5.genome : rn5
rn5.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/rn5/bigZips
rn5.retrieval_date : 2024-01-02

rn6.genome : rn6
rn6.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/rn6/bigZips
rn6.retrieval_date : 2024-01-02

sarHar1.genome : sarHar1
sarHar1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/sarHar1/bigZips
sarHar1.retrieval_date : 2024-01-02

strPur2.genome : strPur2
strPur2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/strPur2/bigZips
strPur2.retrieval_date : 2024-01-02

susScr11.genome : susScr11
susScr11.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/susScr11/bigZips
susScr11.retrieval_date : 2024-01-02

susScr3.genome : susScr3
susScr3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/susScr3/bigZips
susScr3.retrieval_date : 2024-01-02

taeGut1.genome : taeGut1
taeGut1.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/taeGut1/bigZips
taeGut1.retrieval_date : 2024-01-02

taeGut2.genome : taeGut2
taeGut2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/taeGut2/bigZips
taeGut2.retrieval_date : 2024-01-02

vicPac2.genome : vicPac2
vicPac2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/vicPac2/bigZips
vicPac2.retrieval_date : 2024-01-02

xenLae2.genome : xenLae2
xenLae2.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/xenLae2/bigZips
xenLae2.retrieval_date : 2024-01-02

xenTro3.genome : xenTro3
xenTro3.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/xenTro3/bigZips
xenTro3.retrieval_date : 2024-01-02

xenTro7.genome : xenTro7
xenTro7.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/xenTro7/bigZips
xenTro7.retrieval_date : 2024-01-02

xenTro9.genome : xenTro9
xenTro9.reference : rsync://hgdownload.soe.ucsc.edu/goldenPath/xenTro9/bigZips
xenTro9.retrieval_date : 2024-01-02
