
#---
# Test cases: Generic
#---
test.genome                     : TestCase
testCase.genome                 : TestCase

#---
# Test cases: Human GRCh37 / hg19
#---

# Hg19
testHg19.genome                 : testHg19
testHg19Chr1.genome             : testHg19Chr1
testHg19Chr2.genome             : testHg19Chr2
testHg19Chr3.genome             : testHg19Chr3
testHg19Chr4.genome             : testHg19Chr4
testHg19Chr5.genome             : testHg19Chr5
testHg19Chr6.genome             : testHg19Chr6
testHg19Chr7.genome             : testHg19Chr7
testHg19Chr8.genome             : testHg19Chr8
testHg19Chr9.genome             : testHg19Chr9
testHg19Chr10.genome            : testHg19Chr10
testHg19Chr11.genome            : testHg19Chr11
testHg19Chr12.genome            : testHg19Chr12
testHg19Chr13.genome            : testHg19Chr13
testHg19Chr14.genome            : testHg19Chr14
testHg19Chr15.genome            : testHg19Chr15
testHg19Chr16.genome            : testHg19Chr16
testHg19Chr17.genome            : testHg19Chr17
testHg19Chr18.genome            : testHg19Chr18
testHg19Chr19.genome            : testHg19Chr19
testHg19Chr20.genome            : testHg19Chr20
testHg19Chr21.genome            : testHg19Chr21
testHg19Chr22.genome            : testHg19Chr22
testHg19ChrX.genome             : testHg19ChrX
testHg19ChrY.genome             : testHg19ChrY
testHg19Pdb.genome              : testHg19Pdb

# Structural variants test cases, ROS1-SLC34A2 fusion
testHg19Chr4Chr6.genome             : testHg19Chr4Chr6 structural variants test cases

testHg19Hgvs.genome             : testHg19Hgvs

# GRCh37.61
testHg37.61.genome              : TestCase
testHg3761Chr15.genome          : TestCase
testHg3761Chr16.genome          : TestCase

# GRCh37.63
testHg3763Chr1.genome           : TestCase
testHg3763Chr20.genome          : TestCase
testHg3763ChrY.genome           : TestCase

# GRCh37.65
testHg3765Chr22.genome          : TestCase

# GRCh37.66
testHg3766Chr1.genome           : TestCase

# GRCh37.67
testHg3767ChrMt.genome          : TestCase
testHg3767ChrMt.MT.codonTable   : Vertebrate_Mitochondrial

# GRCh37.69
testHg3769Chr12.genome          : TestCase

# GRCh37.70
testHg3770Chr22.genome			: TestCase

# GRCh37.71
testHg3771Chr1.genome			: TestCase

# GRCh37.73
testHg3773Chr3.genome			: TestCase

# GRCh37.75
testHg3775Chr1.genome			: TestCase
testHg3775Chr2.genome			: TestCase
testHg3775Chr6.genome			: TestCase
testHg3775Chr7.genome			: TestCase
testHg3775Chr8.genome			: TestCase
testHg3775Chr10.genome			: TestCase
testHg3775Chr11.genome			: TestCase
testHg3775Chr12.genome			: TestCase
testHg3775Chr14.genome			: TestCase
testHg3775Chr15.genome			: TestCase
testHg3775Chr22.genome			: TestCase

# GRCh38
testHg38Chr1.genome				: TestCase
testHg3882Chr22.genome			: TestCase

# Homo sapiens (hg19) (UCSC) only mitochondrial genome
testHg19ChrM.genome : Homo_sapiens (UCSC)
testHg19ChrM.M.codonTable : Vertebrate_Mitochondrial

# Human genes and transcripts
testENST00000268124.genome			: Test testENST00000268124
testENST00000398332.genome			: Test testENST00000398332
test_ENSG00000158062.genome			: TestCase
testENST00000529892.genome			: Test ENST00000529892
test_ENSG00000158062_spaces.genome	: TestCase ENSG00000158062 Gene names with spaces
test_ENST00000597499.genome			: Test ENST00000597499
test_BRCA.genome     				: TestCase_BRCA1_and_2
testNM_015296.genome				: Test NM_015296.2
test_ENST00000322652.10.genome		: Test test_ENST00000322652.10

# HG38 using RefSeq: Problematic transcript in Chr6
test_hg38_NM_002117.genome      : hg38 Chr6 NM_002117

#---
# Test cases: Non-human
#---

test_NC_031965.1.genome         : Test from NC_031965.1
testAthalianaTair10.genome		: Test using athaliana's genome ftp://ftp.arabidopsis.org/home/tair/Genes/TAIR10_genome_release
testAP.genome					: Test test_Adrian_Platts_vegi_genome
testChromoNamesDoNotMatch.genome: Test for genes not matching between GFF and FASTA
testEgrandis.genome             : Test egrandis201 scaffold_5
testEmblPberghei.genome			: Test_Embl_Pberghei
testLukas.genome                : Lukas_Schrader
testMacuminata.genome			: Test macuminata_v2.180614
testMaizeZmB73.genome			: Test MaizeZmB73
testMita.genome                 : Test Tetranychus urticae
testMm37.61.genome              : Mus_musculus
testMycobacterium_tuberculosis_CCDC5079_uid203790.genome : Test for Mycobacterium_tuberculosis_CCDC5079_uid203790
testPaeru.PA14.genome			: Test for Paeru PA14
testPpersica139.genome			: Test for ppersica139
testRice5.genome                : Rice
testVibrio.genome               : Test case vibrio

#---
# Test for circular genomes
#---
test_circular_GCA_000210475.1.22.genome : test_circular_GCA_000210475.1.22
test_circular_GCA_000210475.1.22_end.genome : test_circular_GCA_000210475.1.22_end
test_Acetobacter_pasteurianus.genome: test_Acetobacter_pasteurianus
test_Campylobacter_fetus_subsp_venerealis_nctc_10354.genome: test_Campylobacter_fetus_subsp_venerealis_nctc_10354

#---
# Genome-wide Codon table setting test case
#---
test_ctab.genome : Codon table test
test_ctab.codonTable : Blepharisma_Macronuclear
test_ctab.MT.codonTable : Vertebrate_Mitochondrial

test_too_many_chrs.genome : Genome having 10,000 chromosomes

#---
# Test cases: Quick tests and debugging
#---
test_zzz.genome: Test Zzz

#---
# COVID19 test cases
#---
test_NC_045512_01.genome: COVID19 NC_045512 first gene


# T. Urticae psudo-chromosome 3
test_t_urticae_p3.genome: T. Urticae p3

