
#---
# Test cases: Generic
#---
test.genome                     : TestCase
testCase.genome                 : TestCase

#---
# Test cases: Human GRCh37 / hg19
#---

# Hg19
testHg19Chr1.genome				: TestCase Hg19 Chr1
testHg19Chr2.genome				: TestCase Hg19 Chr2
testHg19Hgvs.genome				: Tesg HGVS hg19
testHg19Chr17.genome			: Test hg19 chromo 17
testHg19Chr13.genome			: Test hg19 chromo 13

# GRCh37.61
testHg37.61.genome              : TestCase
testHg3761Chr15.genome          : TestCase
testHg3761Chr16.genome          : TestCase

# GRCh37.63
testHg3763Chr1.genome           : TestCase
testHg3763Chr20.genome          : TestCase
testHg3763ChrY.genome           : TestCase

# GRCh37.65
testHg3765Chr22.genome          : TestCase

# GRCh37.66
testHg3766Chr1.genome           : TestCase

# GRCh37.67
testHg3767Chr21Mt.genome        : TestCase
testHg3767Chr21Mt.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37.69
testHg3769Chr12.genome          : TestCase

# GRCh37.70
testHg3770Chr22.genome			: TestCase

# GRCh37.71
testHg3771Chr1.genome			: TestCase

# GRCh37.73
testHg3773Chr3.genome			: TestCase

# GRCh37.75
testHg3775Chr1.genome			: TestCase
testHg3775Chr2.genome			: TestCase
testHg3775Chr6.genome			: TestCase
testHg3775Chr7.genome			: TestCase
testHg3775Chr8.genome			: TestCase
testHg3775Chr10.genome			: TestCase
testHg3775Chr11.genome			: TestCase
testHg3775Chr12.genome			: TestCase
testHg3775Chr14.genome			: TestCase
testHg3775Chr15.genome			: TestCase
testHg3775Chr22.genome			: TestCase

# Human genes and transcripts
testENST00000268124.genome		: Test testENST00000268124
testENST00000398332.genome		: Test testENST00000398332
test_ENSG00000158062.genome     : TestCase
testENST00000529892.genome		: Test ENST00000529892
test_ENSG00000158062_spaces.genome     : TestCase ENSG00000158062 Gene names with spaces
test_ENST00000597499.genome		: Test ENST00000597499
test_BRCA.genome     			: TestCase_BRCA1_and_2
testNM_015296.genome			: Test NM_015296.2

#---
# Test cases: Non-human
#---

testMm37.61.genome              : Mus_musculus
testEgrandis.genome             : Test egrandis201 scaffold_5
testRice5.genome                : Rice
testLukas.genome                : Lukas_Schrader
testEmblPberghei.genome			: Test_Embl_Pberghei
testAP.genome					: Test test_Adrian_Platts_vegi_genome
testMaizeZmB73.genome			: Test MaizeZmB73
testMacuminata.genome			: Test macuminata_v2.180614

#---
# Test cases: Quick tests and debugging
#---

zzz.genome : Zzz test

