ailMel1.79.genome : Ailuropoda_melanoleuca
ailMel1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

BGI_duck_1.0.79.genome : Anas_platyrhynchos
BGI_duck_1.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

AnoCar2.0.79.genome : Anolis_carolinensis
AnoCar2.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

AstMex102.79.genome : Astyanax_mexicanus
AstMex102.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

UMD3.1.79.genome : Bos_taurus
UMD3.1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

WBcel235.79.genome : Caenorhabditis_elegans
WBcel235.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

C_jacchus3.2.1.79.genome : Callithrix_jacchus
C_jacchus3.2.1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

CanFam3.1.79.genome : Canis_familiaris
CanFam3.1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

cavPor3.79.genome : Cavia_porcellus
cavPor3.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

ChlSab1.1.79.genome : Chlorocebus_sabaeus
ChlSab1.1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

choHof1.79.genome : Choloepus_hoffmanni
choHof1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

KH.79.genome : Ciona_intestinalis
KH.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

CSAV2.0.79.genome : Ciona_savignyi
CSAV2.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Zv9.79.genome : Danio_rerio
Zv9.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Dasnov3.0.79.genome : Dasypus_novemcinctus
Dasnov3.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

dipOrd1.79.genome : Dipodomys_ordii
dipOrd1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

BDGP6.79.genome : Drosophila_melanogaster
BDGP6.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

TENREC.79.genome : Echinops_telfairi
TENREC.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

EquCab2.79.genome : Equus_caballus
EquCab2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

HEDGEHOG.79.genome : Erinaceus_europaeus
HEDGEHOG.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Felis_catus_6.2.79.genome : Felis_catus
Felis_catus_6.2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

FicAlb_1.4.79.genome : Ficedula_albicollis
FicAlb_1.4.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

gadMor1.79.genome : Gadus_morhua
gadMor1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Galgal4.79.genome : Gallus_gallus
Galgal4.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

BROADS1.79.genome : Gasterosteus_aculeatus
BROADS1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

gorGor3.1.79.genome : Gorilla_gorilla
gorGor3.1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

GRCh38.79.genome : Homo_sapiens
GRCh38.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

spetri2.79.genome : Ictidomys_tridecemlineatus
spetri2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

LatCha1.79.genome : Latimeria_chalumnae
LatCha1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

LepOcu1.79.genome : Lepisosteus_oculatus
LepOcu1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

loxAfr3.79.genome : Loxodonta_africana
loxAfr3.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

MMUL_1.79.genome : Macaca_mulatta
MMUL_1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Meug_1.0.79.genome : Macropus_eugenii
Meug_1.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

UMD2.79.genome : Meleagris_gallopavo
UMD2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

micMur1.79.genome : Microcebus_murinus
micMur1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

BROADO5.79.genome : Monodelphis_domestica
BROADO5.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

GRCm38.79.genome : Mus_musculus
GRCm38.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

MusPutFur1.0.79.genome : Mustela_putorius_furo
MusPutFur1.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Myoluc2.0.79.genome : Myotis_lucifugus
Myoluc2.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Nleu1.0.79.genome : Nomascus_leucogenys
Nleu1.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

pika.79.genome : Ochotona_princeps
pika.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Orenil1.0.79.genome : Oreochromis_niloticus
Orenil1.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

OANA5.79.genome : Ornithorhynchus_anatinus
OANA5.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

OryCun2.0.79.genome : Oryctolagus_cuniculus
OryCun2.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

MEDAKA1.79.genome : Oryzias_latipes
MEDAKA1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

OtoGar3.79.genome : Otolemur_garnettii
OtoGar3.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Oar_v3.1.79.genome : Ovis_aries
Oar_v3.1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

CHIMP2.1.4.79.genome : Pan_troglodytes
CHIMP2.1.4.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

PapAnu2.0.79.genome : Papio_anubis
PapAnu2.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

PelSin_1.0.79.genome : Pelodiscus_sinensis
PelSin_1.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Pmarinus_7.0.79.genome : Petromyzon_marinus
Pmarinus_7.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

PoeFor_5.1.2.79.genome : Poecilia_formosa
PoeFor_5.1.2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

PPYG2.79.genome : Pongo_abelii
PPYG2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

proCap1.79.genome : Procavia_capensis
proCap1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

pteVam1.79.genome : Pteropus_vampyrus
pteVam1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Rnor_5.0.79.genome : Rattus_norvegicus
Rnor_5.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

R64-1-1.79.genome : Saccharomyces_cerevisiae
R64-1-1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

DEVIL7.0.79.genome : Sarcophilus_harrisii
DEVIL7.0.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

COMMON_SHREW1.79.genome : Sorex_araneus
COMMON_SHREW1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Sscrofa10.2.79.genome : Sus_scrofa
Sscrofa10.2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

taeGut3.2.4.79.genome : Taeniopygia_guttata
taeGut3.2.4.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

FUGU4.79.genome : Takifugu_rubripes
FUGU4.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

tarSyr1.79.genome : Tarsius_syrichta
tarSyr1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

TETRAODON8.79.genome : Tetraodon_nigroviridis
TETRAODON8.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

TREESHREW.79.genome : Tupaia_belangeri
TREESHREW.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

turTru1.79.genome : Tursiops_truncatus
turTru1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

vicPac1.79.genome : Vicugna_pacos
vicPac1.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

JGI_4.2.79.genome : Xenopus_tropicalis
JGI_4.2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

Xipmac4.4.2.79.genome : Xiphophorus_maculatus
Xipmac4.4.2.79.reference : ftp://ftp.ensembl.org/pub/release-79/gtf/

