ailMel1.86.genome : Ailuropoda_melanoleuca
ailMel1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
BGI_duck_1.0.86.genome : Anas_platyrhynchos
BGI_duck_1.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
AnoCar2.0.86.genome : Anolis_carolinensis
AnoCar2.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
AstMex102.86.genome : Astyanax_mexicanus
AstMex102.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
UMD3.1.86.genome : Bos_taurus
UMD3.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
WBcel235.86.genome : Caenorhabditis_elegans
WBcel235.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
C_jacchus3.2.1.86.genome : Callithrix_jacchus
C_jacchus3.2.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
CanFam3.1.86.genome : Canis_familiaris
CanFam3.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
cavPor3.86.genome : Cavia_porcellus
cavPor3.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
ChlSab1.1.86.genome : Chlorocebus_sabaeus
ChlSab1.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
choHof1.86.genome : Choloepus_hoffmanni
choHof1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
KH.86.genome : Ciona_intestinalis
KH.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
CSAV2.0.86.genome : Ciona_savignyi
CSAV2.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
GRCz10.86.genome : Danio_rerio
GRCz10.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Dasnov3.0.86.genome : Dasypus_novemcinctus
Dasnov3.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
dipOrd1.86.genome : Dipodomys_ordii
dipOrd1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
BDGP6.86.genome : Drosophila_melanogaster
BDGP6.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
TENREC.86.genome : Echinops_telfairi
TENREC.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
EquCab2.86.genome : Equus_caballus
EquCab2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
HEDGEHOG.86.genome : Erinaceus_europaeus
HEDGEHOG.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Felis_catus_6.2.86.genome : Felis_catus
Felis_catus_6.2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
FicAlb_1.4.86.genome : Ficedula_albicollis
FicAlb_1.4.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
gadMor1.86.genome : Gadus_morhua
gadMor1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Gallus_gallus-5.0.86.genome : Gallus_gallus
Gallus_gallus-5.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
BROADS1.86.genome : Gasterosteus_aculeatus
BROADS1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
gorGor3.1.86.genome : Gorilla_gorilla
gorGor3.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
GRCh38.86.genome : Homo_sapiens
GRCh38.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
spetri2.86.genome : Ictidomys_tridecemlineatus
spetri2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
LatCha1.86.genome : Latimeria_chalumnae
LatCha1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
LepOcu1.86.genome : Lepisosteus_oculatus
LepOcu1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
loxAfr3.86.genome : Loxodonta_africana
loxAfr3.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Mmul_8.0.1.86.genome : Macaca_mulatta
Mmul_8.0.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Meug_1.0.86.genome : Macropus_eugenii
Meug_1.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
UMD2.86.genome : Meleagris_gallopavo
UMD2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Mmur_2.0.86.genome : Microcebus_murinus
Mmur_2.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
BROADO5.86.genome : Monodelphis_domestica
BROADO5.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
GRCm38.86.genome : Mus_musculus
GRCm38.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
129S1_SvImJ_v1.86.genome : Mus_musculus_129s1svimj
129S1_SvImJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
A_J_v1.86.genome : Mus_musculus_aj
A_J_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
AKR_J_v1.86.genome : Mus_musculus_akrj
AKR_J_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
BALB_cJ_v1.86.genome : Mus_musculus_balbcj
BALB_cJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
C3H_HeJ_v1.86.genome : Mus_musculus_c3hhej
C3H_HeJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
C57BL_6NJ_v1.86.genome : Mus_musculus_c57bl6nj
C57BL_6NJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
CAST_EiJ_v1.86.genome : Mus_musculus_casteij
CAST_EiJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
CBA_J_v1.86.genome : Mus_musculus_cbaj
CBA_J_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
DBA_2J_v1.86.genome : Mus_musculus_dba2j
DBA_2J_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
FVB_NJ_v1.86.genome : Mus_musculus_fvbnj
FVB_NJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
LP_J_v1.86.genome : Mus_musculus_lpj
LP_J_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
NOD_ShiLtJ_v1.86.genome : Mus_musculus_nodshiltj
NOD_ShiLtJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
NZO_HlLtJ_v1.86.genome : Mus_musculus_nzohlltj
NZO_HlLtJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
PWK_PhJ_v1.86.genome : Mus_musculus_pwkphj
PWK_PhJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
WSB_EiJ_v1.86.genome : Mus_musculus_wsbeij
WSB_EiJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
SPRET_EiJ_v1.86.genome : Mus_spretus_spreteij
SPRET_EiJ_v1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
MusPutFur1.0.86.genome : Mustela_putorius_furo
MusPutFur1.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Myoluc2.0.86.genome : Myotis_lucifugus
Myoluc2.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Nleu1.0.86.genome : Nomascus_leucogenys
Nleu1.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
pika.86.genome : Ochotona_princeps
pika.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Orenil1.0.86.genome : Oreochromis_niloticus
Orenil1.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
OANA5.86.genome : Ornithorhynchus_anatinus
OANA5.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
OryCun2.0.86.genome : Oryctolagus_cuniculus
OryCun2.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
MEDAKA1.86.genome : Oryzias_latipes
MEDAKA1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
OtoGar3.86.genome : Otolemur_garnettii
OtoGar3.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Oar_v3.1.86.genome : Ovis_aries
Oar_v3.1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
CHIMP2.1.4.86.genome : Pan_troglodytes
CHIMP2.1.4.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
PapAnu2.0.86.genome : Papio_anubis
PapAnu2.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
PelSin_1.0.86.genome : Pelodiscus_sinensis
PelSin_1.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Pmarinus_7.0.86.genome : Petromyzon_marinus
Pmarinus_7.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
PoeFor_5.1.2.86.genome : Poecilia_formosa
PoeFor_5.1.2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
PPYG2.86.genome : Pongo_abelii
PPYG2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
proCap1.86.genome : Procavia_capensis
proCap1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
pteVam1.86.genome : Pteropus_vampyrus
pteVam1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Rnor_6.0.86.genome : Rattus_norvegicus
Rnor_6.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
R64-1-1.86.genome : Saccharomyces_cerevisiae
R64-1-1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
DEVIL7.0.86.genome : Sarcophilus_harrisii
DEVIL7.0.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
COMMON_SHREW1.86.genome : Sorex_araneus
COMMON_SHREW1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Sscrofa10.2.86.genome : Sus_scrofa
Sscrofa10.2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
taeGut3.2.4.86.genome : Taeniopygia_guttata
taeGut3.2.4.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
FUGU4.86.genome : Takifugu_rubripes
FUGU4.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
tarSyr1.86.genome : Tarsius_syrichta
tarSyr1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
TETRAODON8.86.genome : Tetraodon_nigroviridis
TETRAODON8.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
TREESHREW.86.genome : Tupaia_belangeri
TREESHREW.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
turTru1.86.genome : Tursiops_truncatus
turTru1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
vicPac1.86.genome : Vicugna_pacos
vicPac1.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
JGI_4.2.86.genome : Xenopus_tropicalis
JGI_4.2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/
Xipmac4.4.2.86.genome : Xiphophorus_maculatus
Xipmac4.4.2.86.reference : ftp://ftp.ensembl.org/pub/release-86/gtf/