#---
# Non-standard Databases
#---

# Ebola virus
ebola_zaire.genome: Ebola Zaire Virus KJ660346.1

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens (UCSC)
	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
	hg19.M.codonTable : Vertebrate_Mitochondrial
	hg19.MT.codonTable : Vertebrate_Mitochondrial
	hg19.coordinates : GRCh37

# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
	hg19kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
	hg19kg.M.codonTable : Vertebrate_Mitochondrial
	hg19kg.MT.codonTable : Vertebrate_Mitochondrial
	hg19kg.coordinates : GRCh37

# Homo sapiens (hg38) (UCSC)
hg38.genome : Homo_sapiens (UCSC)
	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38.M.codonTable : Vertebrate_Mitochondrial
	hg38.MT.codonTable : Vertebrate_Mitochondrial
	hg38.coordinates : GRCh38

# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38kg.M.codonTable : Vertebrate_Mitochondrial
	hg38kg.MT.codonTable : Vertebrate_Mitochondrial
	hg38kg.coordinates : GRCh38


# GRCh37 release from NCBI's RefSeq 
GRCh37.p13.RefSeq.genome : Human genome GRCh37 using RefSeq transcripts
GRCh37.p13.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh37.p13.RefSeq.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.p13.RefSeq.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38 release from NCBI's RefSeq 
GRCh38.p7.RefSeq.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p7.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh38.p7.RefSeq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p7.RefSeq.MT.codonTable : Vertebrate_Mitochondrial

# Mouse
mm9.genome : Mouse
mm10.genome : Mouse

