ASM210954v1.99.genome : Acanthochromis_polyacanthus
ASM210954v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM210954v1.99.retrieval_date : 2020-01-28

Accipiter_nisus_ver1.0.99.genome : Accipiter_nisus
Accipiter_nisus_ver1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Accipiter_nisus_ver1.0.99.retrieval_date : 2020-01-28

ailMel1.99.genome : Ailuropoda_melanoleuca
ailMel1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ailMel1.99.retrieval_date : 2020-01-28

ASM394721v1.99.genome : Amazona_collaria
ASM394721v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM394721v1.99.retrieval_date : 2020-01-28

Midas_v5.99.genome : Amphilophus_citrinellus
Midas_v5.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Midas_v5.99.retrieval_date : 2020-01-28

AmpOce1.0.99.genome : Amphiprion_ocellaris
AmpOce1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
AmpOce1.0.99.retrieval_date : 2020-01-28

Nemo_v1.99.genome : Amphiprion_percula
Nemo_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Nemo_v1.99.retrieval_date : 2020-01-28

fAnaTes1.1.99.genome : Anabas_testudineus
fAnaTes1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fAnaTes1.1.99.retrieval_date : 2020-01-28

CAU_duck1.0.99.genome : Anas_platyrhynchos_platyrhynchos
CAU_duck1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CAU_duck1.0.99.retrieval_date : 2020-01-28

AnoCar2.0.99.genome : Anolis_carolinensis
AnoCar2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
AnoCar2.0.99.retrieval_date : 2020-01-28

ASM259213v1.99.genome : Anser_brachyrhynchus
ASM259213v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM259213v1.99.retrieval_date : 2020-01-28

GooseV1.0.99.genome : Anser_cygnoides
GooseV1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
GooseV1.0.99.retrieval_date : 2020-01-28

Anan_2.0.99.genome : Aotus_nancymaae
Anan_2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Anan_2.0.99.retrieval_date : 2020-01-28

aptHaa1.99.genome : Apteryx_haastii
aptHaa1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
aptHaa1.99.retrieval_date : 2020-01-28

aptOwe1.99.genome : Apteryx_owenii
aptOwe1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
aptOwe1.99.retrieval_date : 2020-01-28

aptRow1.99.genome : Apteryx_rowi
aptRow1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
aptRow1.99.retrieval_date : 2020-01-28

bAquChr1.2.99.genome : Aquila_chrysaetos_chrysaetos
bAquChr1.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
bAquChr1.2.99.retrieval_date : 2020-01-28

fAstCal1.2.99.genome : Astatotilapia_calliptera
fAstCal1.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fAstCal1.2.99.retrieval_date : 2020-01-28

Astyanax_mexicanus-2.0.99.genome : Astyanax_mexicanus
Astyanax_mexicanus-2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Astyanax_mexicanus-2.0.99.retrieval_date : 2020-01-28

Astyanax_mexicanus-1.0.2.99.genome : Astyanax_mexicanus_pachon
Astyanax_mexicanus-1.0.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Astyanax_mexicanus-1.0.2.99.retrieval_date : 2020-01-28

athCun1.99.genome : Athene_cunicularia
athCun1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
athCun1.99.retrieval_date : 2020-01-28

fBetSpl5.2.99.genome : Betta_splendens
fBetSpl5.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fBetSpl5.2.99.retrieval_date : 2020-01-28

Bison_UMD1.0.99.genome : Bison_bison_bison
Bison_UMD1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Bison_UMD1.0.99.retrieval_date : 2020-01-28

LU_Bosgru_v3.0.99.genome : Bos_grunniens
LU_Bosgru_v3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
LU_Bosgru_v3.0.99.retrieval_date : 2020-01-28

UOA_Brahman_1.99.genome : Bos_indicus_hybrid
UOA_Brahman_1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
UOA_Brahman_1.99.retrieval_date : 2020-01-28

BosGru_v2.0.99.genome : Bos_mutus
BosGru_v2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
BosGru_v2.0.99.retrieval_date : 2020-01-28

ARS-UCD1.2.99.genome : Bos_taurus
ARS-UCD1.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ARS-UCD1.2.99.retrieval_date : 2020-01-28

UOA_Angus_1.99.genome : Bos_taurus_hybrid
UOA_Angus_1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
UOA_Angus_1.99.retrieval_date : 2020-01-28

WBcel235.99.genome : Caenorhabditis_elegans
WBcel235.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
WBcel235.99.retrieval_date : 2020-01-28

ASM143184v1.99.genome : Calidris_pugnax
ASM143184v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM143184v1.99.retrieval_date : 2020-01-28

ASM369795v1.99.genome : Calidris_pygmaea
ASM369795v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM369795v1.99.retrieval_date : 2020-01-28

ASM275486v1.99.genome : Callithrix_jacchus
ASM275486v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM275486v1.99.retrieval_date : 2020-01-28

Callorhinchus_milii-6.1.3.99.genome : Callorhinchus_milii
Callorhinchus_milii-6.1.3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Callorhinchus_milii-6.1.3.99.retrieval_date : 2020-01-28

CamDro2.99.genome : Camelus_dromedarius
CamDro2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CamDro2.99.retrieval_date : 2020-01-28

CanFam3.1.99.genome : Canis_familiaris
CanFam3.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CanFam3.1.99.retrieval_date : 2020-01-28

ASM325472v1.99.genome : Canis_lupus_dingo
ASM325472v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM325472v1.99.retrieval_date : 2020-01-28

Basenji_breed-1.1.99.genome : Canis_lupus_familiarisbasenji
Basenji_breed-1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Basenji_breed-1.1.99.retrieval_date : 2020-01-28

UMICH_Zoey_3.1.99.genome : Canis_lupus_familiarisgreatdane
UMICH_Zoey_3.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
UMICH_Zoey_3.1.99.retrieval_date : 2020-01-28

ARS1.99.genome : Capra_hircus
ARS1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ARS1.99.retrieval_date : 2020-01-28

Tarsius_syrichta-2.0.1.99.genome : Carlito_syrichta
Tarsius_syrichta-2.0.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Tarsius_syrichta-2.0.1.99.retrieval_date : 2020-01-28

C.can_genome_v1.0.99.genome : Castor_canadensis
C.can_genome_v1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
C.can_genome_v1.0.99.retrieval_date : 2020-01-28

CatWag_v2_BIUU_UCD.99.genome : Catagonus_wagneri
CatWag_v2_BIUU_UCD.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CatWag_v2_BIUU_UCD.99.retrieval_date : 2020-01-28

CavAp1.0.99.genome : Cavia_aperea
CavAp1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CavAp1.0.99.retrieval_date : 2020-01-28

Cavpor3.0.99.genome : Cavia_porcellus
Cavpor3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Cavpor3.0.99.retrieval_date : 2020-01-28

Cebus_imitator-1.0.99.genome : Cebus_capucinus
Cebus_imitator-1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Cebus_imitator-1.0.99.retrieval_date : 2020-01-28

Caty_1.0.99.genome : Cercocebus_atys
Caty_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Caty_1.0.99.retrieval_date : 2020-01-28

ASM359739v1.99.genome : Chelonoidis_abingdonii
ASM359739v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM359739v1.99.retrieval_date : 2020-01-28

ChiLan1.0.99.genome : Chinchilla_lanigera
ChiLan1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ChiLan1.0.99.retrieval_date : 2020-01-28

ChlSab1.1.99.genome : Chlorocebus_sabaeus
ChlSab1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ChlSab1.1.99.retrieval_date : 2020-01-28

choHof1.99.genome : Choloepus_hoffmanni
choHof1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
choHof1.99.retrieval_date : 2020-01-28

Chrysemys_picta_bellii-3.0.3.99.genome : Chrysemys_picta_bellii
Chrysemys_picta_bellii-3.0.3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Chrysemys_picta_bellii-3.0.3.99.retrieval_date : 2020-01-28

Chrysolophus_pictus_GenomeV1.0.99.genome : Chrysolophus_pictus
Chrysolophus_pictus_GenomeV1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Chrysolophus_pictus_GenomeV1.0.99.retrieval_date : 2020-01-28

KH.99.genome : Ciona_intestinalis
KH.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
KH.99.retrieval_date : 2020-01-28

CSAV2.0.99.genome : Ciona_savignyi
CSAV2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CSAV2.0.99.retrieval_date : 2020-01-28

Ch_v2.0.2.99.genome : Clupea_harengus
Ch_v2.0.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Ch_v2.0.2.99.retrieval_date : 2020-01-28

Cang.pa_1.0.99.genome : Colobus_angolensis_palliatus
Cang.pa_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Cang.pa_1.0.99.retrieval_date : 2020-01-28

fCotGob3.1.99.genome : Cottoperca_gobio
fCotGob3.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fCotGob3.1.99.retrieval_date : 2020-01-28

Coturnix_japonica_2.0.99.genome : Coturnix_japonica
Coturnix_japonica_2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Coturnix_japonica_2.0.99.retrieval_date : 2020-01-28

CHOK1GS_HDv1.99.genome : Cricetulus_griseus_chok1gshd
CHOK1GS_HDv1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CHOK1GS_HDv1.99.retrieval_date : 2020-01-28

CriGri_1.0.99.genome : Cricetulus_griseus_crigri
CriGri_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CriGri_1.0.99.retrieval_date : 2020-01-28

CriGri-PICR.99.genome : Cricetulus_griseus_picr
CriGri-PICR.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CriGri-PICR.99.retrieval_date : 2020-01-28

CroPor_comp1.99.genome : Crocodylus_porosus
CroPor_comp1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CroPor_comp1.99.retrieval_date : 2020-01-28

cyaCae2.99.genome : Cyanistes_caeruleus
cyaCae2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
cyaCae2.99.retrieval_date : 2020-01-28

Cse_v1.0.99.genome : Cynoglossus_semilaevis
Cse_v1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Cse_v1.0.99.retrieval_date : 2020-01-28

C_variegatus-1.0.99.genome : Cyprinodon_variegatus
C_variegatus-1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
C_variegatus-1.0.99.retrieval_date : 2020-01-28

German_Mirror_carp_1.0.99.genome : Cyprinus_carpio_german_mirror
German_Mirror_carp_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
German_Mirror_carp_1.0.99.retrieval_date : 2020-01-28

German_Mirror_carp_1.0.99.genome : Cyprinus_carpio_germanmirror
German_Mirror_carp_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
German_Mirror_carp_1.0.99.retrieval_date : 2020-01-28

Hebao_red_carp_1.0.99.genome : Cyprinus_carpio_hebao_red
Hebao_red_carp_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Hebao_red_carp_1.0.99.retrieval_date : 2020-01-28

Hebao_red_carp_1.0.99.genome : Cyprinus_carpio_hebaored
Hebao_red_carp_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Hebao_red_carp_1.0.99.retrieval_date : 2020-01-28

Hunaghe_carp_2.0.99.genome : Cyprinus_carpio_huanghe
Hunaghe_carp_2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Hunaghe_carp_2.0.99.retrieval_date : 2020-01-28

GRCz11.99.genome : Danio_rerio
GRCz11.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
GRCz11.99.retrieval_date : 2020-01-28

Dasnov3.0.99.genome : Dasypus_novemcinctus
Dasnov3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Dasnov3.0.99.retrieval_date : 2020-01-28

fDenClu1.1.99.genome : Denticeps_clupeoides
fDenClu1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fDenClu1.1.99.retrieval_date : 2020-01-28

Dord_2.0.99.genome : Dipodomys_ordii
Dord_2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Dord_2.0.99.retrieval_date : 2020-01-28

droNov1.99.genome : Dromaius_novaehollandiae
droNov1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
droNov1.99.retrieval_date : 2020-01-28

BDGP6.28.99.genome : Drosophila_melanogaster
BDGP6.28.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
BDGP6.28.99.retrieval_date : 2020-01-28

fEcheNa1.1.99.genome : Echeneis_naucrates
fEcheNa1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fEcheNa1.1.99.retrieval_date : 2020-01-28

TENREC.99.genome : Echinops_telfairi
TENREC.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
TENREC.99.retrieval_date : 2020-01-28

Ee_SOAP_WITH_SSPACE.99.genome : Electrophorus_electricus
Ee_SOAP_WITH_SSPACE.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Ee_SOAP_WITH_SSPACE.99.retrieval_date : 2020-01-28

Eburgeri_3.2.99.genome : Eptatretus_burgeri
Eburgeri_3.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Eburgeri_3.2.99.retrieval_date : 2020-01-28

ASM303372v1.99.genome : Equus_asinus_asinus
ASM303372v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM303372v1.99.retrieval_date : 2020-01-28

EquCab3.0.99.genome : Equus_caballus
EquCab3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
EquCab3.0.99.retrieval_date : 2020-01-28

HEDGEHOG.99.genome : Erinaceus_europaeus
HEDGEHOG.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
HEDGEHOG.99.retrieval_date : 2020-01-28

fErpCal1.1.99.genome : Erpetoichthys_calabaricus
fErpCal1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fErpCal1.1.99.retrieval_date : 2020-01-28

GouldianFinch.99.genome : Erythrura_gouldiae
GouldianFinch.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
GouldianFinch.99.retrieval_date : 2020-01-28

Eluc_V3.99.genome : Esox_lucius
Eluc_V3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Eluc_V3.99.retrieval_date : 2020-01-28

Felis_catus_9.0.99.genome : Felis_catus
Felis_catus_9.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Felis_catus_9.0.99.retrieval_date : 2020-01-28

FicAlb_1.4.99.genome : Ficedula_albicollis
FicAlb_1.4.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
FicAlb_1.4.99.retrieval_date : 2020-01-28

DMR_v1.0.99.genome : Fukomys_damarensis
DMR_v1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
DMR_v1.0.99.retrieval_date : 2020-01-28

Fundulus_heteroclitus-3.0.2.99.genome : Fundulus_heteroclitus
Fundulus_heteroclitus-3.0.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Fundulus_heteroclitus-3.0.2.99.retrieval_date : 2020-01-28

gadMor1.99.genome : Gadus_morhua
gadMor1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
gadMor1.99.retrieval_date : 2020-01-28

GRCg6a.99.genome : Gallus_gallus
GRCg6a.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
GRCg6a.99.retrieval_date : 2020-01-28

ASM309773v1.99.genome : Gambusia_affinis
ASM309773v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM309773v1.99.retrieval_date : 2020-01-28

BROADS1.99.genome : Gasterosteus_aculeatus
BROADS1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
BROADS1.99.retrieval_date : 2020-01-28

ASM289641v1.99.genome : Gopherus_agassizii
ASM289641v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM289641v1.99.retrieval_date : 2020-01-28

gorGor4.99.genome : Gorilla_gorilla
gorGor4.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
gorGor4.99.retrieval_date : 2020-01-28

fGouWil2.1.99.genome : Gouania_willdenowi
fGouWil2.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fGouWil2.1.99.retrieval_date : 2020-01-28

AstBur1.0.99.genome : Haplochromis_burtoni
AstBur1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
AstBur1.0.99.retrieval_date : 2020-01-28

HetGla_female_1.0.99.genome : Heterocephalus_glaber_female
HetGla_female_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
HetGla_female_1.0.99.retrieval_date : 2020-01-28

HetGla_1.0.99.genome : Heterocephalus_glaber_male
HetGla_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
HetGla_1.0.99.retrieval_date : 2020-01-28

H_comes_QL1_v1.99.genome : Hippocampus_comes
H_comes_QL1_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
H_comes_QL1_v1.99.retrieval_date : 2020-01-28

GRCh38.99.genome : Homo_sapiens
GRCh38.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
GRCh38.99.retrieval_date : 2020-01-28

ASM331708v1.99.genome : Hucho_hucho
ASM331708v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM331708v1.99.retrieval_date : 2020-01-28

IpCoco_1.2.99.genome : Ictalurus_punctatus
IpCoco_1.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
IpCoco_1.2.99.retrieval_date : 2020-01-28

SpeTri2.0.99.genome : Ictidomys_tridecemlineatus
SpeTri2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SpeTri2.0.99.retrieval_date : 2020-01-28

JacJac1.0.99.genome : Jaculus_jaculus
JacJac1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
JacJac1.0.99.retrieval_date : 2020-01-28

ASM382977v1.99.genome : Junco_hyemalis
ASM382977v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM382977v1.99.retrieval_date : 2020-01-28

ASM164957v1.99.genome : Kryptolebias_marmoratus
ASM164957v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM164957v1.99.retrieval_date : 2020-01-28

BallGen_V1.99.genome : Labrus_bergylta
BallGen_V1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
BallGen_V1.99.retrieval_date : 2020-01-28

L_crocea_2.0.99.genome : Larimichthys_crocea
L_crocea_2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
L_crocea_2.0.99.retrieval_date : 2020-01-28

ASB_HGAPassembly_v1.99.genome : Lates_calcarifer
ASB_HGAPassembly_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASB_HGAPassembly_v1.99.retrieval_date : 2020-01-28

LatCha1.99.genome : Latimeria_chalumnae
LatCha1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
LatCha1.99.retrieval_date : 2020-01-28

Lepidothrix_coronata-1.0.99.genome : Lepidothrix_coronata
Lepidothrix_coronata-1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Lepidothrix_coronata-1.0.99.retrieval_date : 2020-01-28

LepOcu1.99.genome : Lepisosteus_oculatus
LepOcu1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
LepOcu1.99.retrieval_date : 2020-01-28

LonStrDom1.99.genome : Lonchura_striata_domestica
LonStrDom1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
LonStrDom1.99.retrieval_date : 2020-01-28

loxAfr3.99.genome : Loxodonta_africana
loxAfr3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
loxAfr3.99.retrieval_date : 2020-01-28

mLynCan4_v1.p.99.genome : Lynx_canadensis
mLynCan4_v1.p.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
mLynCan4_v1.p.99.retrieval_date : 2020-01-28

Macaca_fascicularis_5.0.99.genome : Macaca_fascicularis
Macaca_fascicularis_5.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Macaca_fascicularis_5.0.99.retrieval_date : 2020-01-28

Mmul_10.99.genome : Macaca_mulatta
Mmul_10.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Mmul_10.99.retrieval_date : 2020-01-28

Mnem_1.0.99.genome : Macaca_nemestrina
Mnem_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Mnem_1.0.99.retrieval_date : 2020-01-28

ASM171598v2.99.genome : Manacus_vitellinus
ASM171598v2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM171598v2.99.retrieval_date : 2020-01-28

Mleu.le_1.0.99.genome : Mandrillus_leucophaeus
Mleu.le_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Mleu.le_1.0.99.retrieval_date : 2020-01-28

marMar2.1.99.genome : Marmota_marmota_marmota
marMar2.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
marMar2.1.99.retrieval_date : 2020-01-28

fMasArm1.1.99.genome : Mastacembelus_armatus
fMasArm1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fMasArm1.1.99.retrieval_date : 2020-01-28

M_zebra_UMD2a.99.genome : Maylandia_zebra
M_zebra_UMD2a.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
M_zebra_UMD2a.99.retrieval_date : 2020-01-28

Turkey_2.01.99.genome : Meleagris_gallopavo
Turkey_2.01.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Turkey_2.01.99.retrieval_date : 2020-01-28

Melopsittacus_undulatus_6.3.99.genome : Melopsittacus_undulatus
Melopsittacus_undulatus_6.3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Melopsittacus_undulatus_6.3.99.retrieval_date : 2020-01-28

MunDraft-v1.0.99.genome : Meriones_unguiculatus
MunDraft-v1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
MunDraft-v1.0.99.retrieval_date : 2020-01-28

MesAur1.0.99.genome : Mesocricetus_auratus
MesAur1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
MesAur1.0.99.retrieval_date : 2020-01-28

Mmur_3.0.99.genome : Microcebus_murinus
Mmur_3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Mmur_3.0.99.retrieval_date : 2020-01-28

MicOch1.0.99.genome : Microtus_ochrogaster
MicOch1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
MicOch1.0.99.retrieval_date : 2020-01-28

ASM169857v1.99.genome : Mola_mola
ASM169857v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM169857v1.99.retrieval_date : 2020-01-28

ASM229v1.99.genome : Monodelphis_domestica
ASM229v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM229v1.99.retrieval_date : 2020-01-28

M_albus_1.0.99.genome : Monopterus_albus
M_albus_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
M_albus_1.0.99.retrieval_date : 2020-01-28

MosMos_v2_BIUU_UCD.99.genome : Moschus_moschiferus
MosMos_v2_BIUU_UCD.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
MosMos_v2_BIUU_UCD.99.retrieval_date : 2020-01-28

CAROLI_EIJ_v1.1.99.genome : Mus_caroli
CAROLI_EIJ_v1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CAROLI_EIJ_v1.1.99.retrieval_date : 2020-01-28

GRCm38.99.genome : Mus_musculus
GRCm38.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
GRCm38.99.retrieval_date : 2020-01-28

129S1_SvImJ_v1.99.genome : Mus_musculus_129s1svimj
129S1_SvImJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
129S1_SvImJ_v1.99.retrieval_date : 2020-01-28

A_J_v1.99.genome : Mus_musculus_aj
A_J_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
A_J_v1.99.retrieval_date : 2020-01-28

AKR_J_v1.99.genome : Mus_musculus_akrj
AKR_J_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
AKR_J_v1.99.retrieval_date : 2020-01-28

BALB_cJ_v1.99.genome : Mus_musculus_balbcj
BALB_cJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
BALB_cJ_v1.99.retrieval_date : 2020-01-28

C3H_HeJ_v1.99.genome : Mus_musculus_c3hhej
C3H_HeJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
C3H_HeJ_v1.99.retrieval_date : 2020-01-28

C57BL_6NJ_v1.99.genome : Mus_musculus_c57bl6nj
C57BL_6NJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
C57BL_6NJ_v1.99.retrieval_date : 2020-01-28

CAST_EiJ_v1.99.genome : Mus_musculus_casteij
CAST_EiJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CAST_EiJ_v1.99.retrieval_date : 2020-01-28

CBA_J_v1.99.genome : Mus_musculus_cbaj
CBA_J_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
CBA_J_v1.99.retrieval_date : 2020-01-28

DBA_2J_v1.99.genome : Mus_musculus_dba2j
DBA_2J_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
DBA_2J_v1.99.retrieval_date : 2020-01-28

FVB_NJ_v1.99.genome : Mus_musculus_fvbnj
FVB_NJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
FVB_NJ_v1.99.retrieval_date : 2020-01-28

LP_J_v1.99.genome : Mus_musculus_lpj
LP_J_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
LP_J_v1.99.retrieval_date : 2020-01-28

NOD_ShiLtJ_v1.99.genome : Mus_musculus_nodshiltj
NOD_ShiLtJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
NOD_ShiLtJ_v1.99.retrieval_date : 2020-01-28

NZO_HlLtJ_v1.99.genome : Mus_musculus_nzohlltj
NZO_HlLtJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
NZO_HlLtJ_v1.99.retrieval_date : 2020-01-28

PWK_PhJ_v1.99.genome : Mus_musculus_pwkphj
PWK_PhJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PWK_PhJ_v1.99.retrieval_date : 2020-01-28

WSB_EiJ_v1.99.genome : Mus_musculus_wsbeij
WSB_EiJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
WSB_EiJ_v1.99.retrieval_date : 2020-01-28

PAHARI_EIJ_v1.1.99.genome : Mus_pahari
PAHARI_EIJ_v1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PAHARI_EIJ_v1.1.99.retrieval_date : 2020-01-28

MUSP714.99.genome : Mus_spicilegus
MUSP714.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
MUSP714.99.retrieval_date : 2020-01-28

SPRET_EiJ_v1.99.genome : Mus_spretus
SPRET_EiJ_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SPRET_EiJ_v1.99.retrieval_date : 2020-01-28

MusPutFur1.0.99.genome : Mustela_putorius_furo
MusPutFur1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
MusPutFur1.0.99.retrieval_date : 2020-01-28

Myoluc2.0.99.genome : Myotis_lucifugus
Myoluc2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Myoluc2.0.99.retrieval_date : 2020-01-28

fMyrMur1.1.99.genome : Myripristis_murdjan
fMyrMur1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fMyrMur1.1.99.retrieval_date : 2020-01-28

S.galili_v1.0.99.genome : Nannospalax_galili
S.galili_v1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
S.galili_v1.0.99.retrieval_date : 2020-01-28

RGoby_Basel_V2.99.genome : Neogobius_melanostomus
RGoby_Basel_V2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
RGoby_Basel_V2.99.retrieval_date : 2020-01-28

NeoBri1.0.99.genome : Neolamprologus_brichardi
NeoBri1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
NeoBri1.0.99.retrieval_date : 2020-01-28

NNQGG.v01.99.genome : Neovison_vison
NNQGG.v01.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
NNQGG.v01.99.retrieval_date : 2020-01-28

Nleu_3.0.99.genome : Nomascus_leucogenys
Nleu_3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Nleu_3.0.99.retrieval_date : 2020-01-28

Meug_1.0.99.genome : Notamacropus_eugenii
Meug_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Meug_1.0.99.retrieval_date : 2020-01-28

TS10Xv2-PRI.99.genome : Notechis_scutatus
TS10Xv2-PRI.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
TS10Xv2-PRI.99.retrieval_date : 2020-01-28

notPer1.99.genome : Nothoprocta_perdicaria
notPer1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
notPer1.99.retrieval_date : 2020-01-28

NumMel1.0.99.genome : Numida_meleagris
NumMel1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
NumMel1.0.99.retrieval_date : 2020-01-28

OchPri2.0-Ens.99.genome : Ochotona_princeps
OchPri2.0-Ens.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
OchPri2.0-Ens.99.retrieval_date : 2020-01-28

OctDeg1.0.99.genome : Octodon_degus
OctDeg1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
OctDeg1.0.99.retrieval_date : 2020-01-28

ASM587006v1.99.genome : Oreochromis_aureus
ASM587006v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM587006v1.99.retrieval_date : 2020-01-28

O_niloticus_UMD_NMBU.99.genome : Oreochromis_niloticus
O_niloticus_UMD_NMBU.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
O_niloticus_UMD_NMBU.99.retrieval_date : 2020-01-28

OANA5.99.genome : Ornithorhynchus_anatinus
OANA5.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
OANA5.99.retrieval_date : 2020-01-28

OryCun2.0.99.genome : Oryctolagus_cuniculus
OryCun2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
OryCun2.0.99.retrieval_date : 2020-01-28

ASM223467v1.99.genome : Oryzias_latipes
ASM223467v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM223467v1.99.retrieval_date : 2020-01-28

ASM223471v1.99.genome : Oryzias_latipes_hni
ASM223471v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM223471v1.99.retrieval_date : 2020-01-28

ASM223469v1.99.genome : Oryzias_latipes_hsok
ASM223469v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM223469v1.99.retrieval_date : 2020-01-28

Om_v0.7.RACA.99.genome : Oryzias_melastigma
Om_v0.7.RACA.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Om_v0.7.RACA.99.retrieval_date : 2020-01-28

OtoGar3.99.genome : Otolemur_garnettii
OtoGar3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
OtoGar3.99.retrieval_date : 2020-01-28

Oar_v3.1.99.genome : Ovis_aries
Oar_v3.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Oar_v3.1.99.retrieval_date : 2020-01-28

panpan1.1.99.genome : Pan_paniscus
panpan1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
panpan1.1.99.retrieval_date : 2020-01-28

Pan_tro_3.0.99.genome : Pan_troglodytes
Pan_tro_3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Pan_tro_3.0.99.retrieval_date : 2020-01-28

PanPar1.0.99.genome : Panthera_pardus
PanPar1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PanPar1.0.99.retrieval_date : 2020-01-28

PanTig1.0.99.genome : Panthera_tigris_altaica
PanTig1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PanTig1.0.99.retrieval_date : 2020-01-28

Panu_3.0.99.genome : Papio_anubis
Panu_3.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Panu_3.0.99.retrieval_date : 2020-01-28

fParRan2.1.99.genome : Parambassis_ranga
fParRan2.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fParRan2.1.99.retrieval_date : 2020-01-28

PKINGS_0.1.99.genome : Paramormyrops_kingsleyae
PKINGS_0.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PKINGS_0.1.99.retrieval_date : 2020-01-28

Parus_major1.1.99.genome : Parus_major
Parus_major1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Parus_major1.1.99.retrieval_date : 2020-01-28

AIIM_Pcri_1.0.99.genome : Pavo_cristatus
AIIM_Pcri_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
AIIM_Pcri_1.0.99.retrieval_date : 2020-01-28

PelSin_1.0.99.genome : Pelodiscus_sinensis
PelSin_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PelSin_1.0.99.retrieval_date : 2020-01-28

PM.fa.99.genome : Periophthalmus_magnuspinnatus
PM.fa.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PM.fa.99.retrieval_date : 2020-01-28

HU_Pman_2.1.99.genome : Peromyscus_maniculatus_bairdii
HU_Pman_2.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
HU_Pman_2.1.99.retrieval_date : 2020-01-28

Pmarinus_7.0.99.genome : Petromyzon_marinus
Pmarinus_7.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Pmarinus_7.0.99.retrieval_date : 2020-01-28

phaCin_unsw_v4.1.99.genome : Phascolarctos_cinereus
phaCin_unsw_v4.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
phaCin_unsw_v4.1.99.retrieval_date : 2020-01-28

ASM414374v1.99.genome : Phasianus_colchicus
ASM414374v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM414374v1.99.retrieval_date : 2020-01-28

ASM283717v2.99.genome : Physeter_catodon
ASM283717v2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM283717v2.99.retrieval_date : 2020-01-28

ASM277652v2.99.genome : Piliocolobus_tephrosceles
ASM277652v2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM277652v2.99.retrieval_date : 2020-01-28

PodMur_1.0.99.genome : Podarcis_muralis
PodMur_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PodMur_1.0.99.retrieval_date : 2020-01-28

PoeFor_5.1.2.99.genome : Poecilia_formosa
PoeFor_5.1.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PoeFor_5.1.2.99.retrieval_date : 2020-01-28

P_latipinna-1.0.99.genome : Poecilia_latipinna
P_latipinna-1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
P_latipinna-1.0.99.retrieval_date : 2020-01-28

P_mexicana-1.0.99.genome : Poecilia_mexicana
P_mexicana-1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
P_mexicana-1.0.99.retrieval_date : 2020-01-28

Guppy_female_1.0_MT.99.genome : Poecilia_reticulata
Guppy_female_1.0_MT.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Guppy_female_1.0_MT.99.retrieval_date : 2020-01-28

pvi1.1.99.genome : Pogona_vitticeps
pvi1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
pvi1.1.99.retrieval_date : 2020-01-28

PPYG2.99.genome : Pongo_abelii
PPYG2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PPYG2.99.retrieval_date : 2020-01-28

proCap1.99.genome : Procavia_capensis
proCap1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
proCap1.99.retrieval_date : 2020-01-28

Prosim_1.0.99.genome : Prolemur_simus
Prosim_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Prosim_1.0.99.retrieval_date : 2020-01-28

Pcoq_1.0.99.genome : Propithecus_coquereli
Pcoq_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Pcoq_1.0.99.retrieval_date : 2020-01-28

EBS10Xv2-PRI.99.genome : Pseudonaja_textilis
EBS10Xv2-PRI.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
EBS10Xv2-PRI.99.retrieval_date : 2020-01-28

pteVam1.99.genome : Pteropus_vampyrus
pteVam1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
pteVam1.99.retrieval_date : 2020-01-28

PunNye1.0.99.genome : Pundamilia_nyererei
PunNye1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
PunNye1.0.99.retrieval_date : 2020-01-28

Pygocentrus_nattereri-1.0.2.99.genome : Pygocentrus_nattereri
Pygocentrus_nattereri-1.0.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Pygocentrus_nattereri-1.0.2.99.retrieval_date : 2020-01-28

Rnor_6.0.99.genome : Rattus_norvegicus
Rnor_6.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Rnor_6.0.99.retrieval_date : 2020-01-28

mRhiFer1_v1.p.99.genome : Rhinolophus_ferrumequinum
mRhiFer1_v1.p.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
mRhiFer1_v1.p.99.retrieval_date : 2020-01-28

ASM169854v1.99.genome : Rhinopithecus_bieti
ASM169854v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM169854v1.99.retrieval_date : 2020-01-28

Rrox_v1.99.genome : Rhinopithecus_roxellana
Rrox_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Rrox_v1.99.retrieval_date : 2020-01-28

R64-1-1.99.genome : Saccharomyces_cerevisiae
R64-1-1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
R64-1-1.99.retrieval_date : 2020-01-28

SaiBol1.0.99.genome : Saimiri_boliviensis_boliviensis
SaiBol1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SaiBol1.0.99.retrieval_date : 2020-01-28

fSalaFa1.1.99.genome : Salarias_fasciatus
fSalaFa1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fSalaFa1.1.99.retrieval_date : 2020-01-28

ICSASG_v2.99.genome : Salmo_salar
ICSASG_v2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ICSASG_v2.99.retrieval_date : 2020-01-28

fSalTru1.1.99.genome : Salmo_trutta
fSalTru1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fSalTru1.1.99.retrieval_date : 2020-01-28

HLtupMer3.99.genome : Salvator_merianae
HLtupMer3.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
HLtupMer3.99.retrieval_date : 2020-01-28

DEVIL7.0.99.genome : Sarcophilus_harrisii
DEVIL7.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
DEVIL7.0.99.retrieval_date : 2020-01-28

fSclFor1.1.99.genome : Scleropages_formosus
fSclFor1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fSclFor1.1.99.retrieval_date : 2020-01-28

ASM318616v1.99.genome : Scophthalmus_maximus
ASM318616v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM318616v1.99.retrieval_date : 2020-01-28

SCA1.99.genome : Serinus_canaria
SCA1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SCA1.99.retrieval_date : 2020-01-28

Sdu_1.0.99.genome : Seriola_dumerili
Sdu_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Sdu_1.0.99.retrieval_date : 2020-01-28

Sedor1.99.genome : Seriola_lalandi_dorsalis
Sedor1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Sedor1.99.retrieval_date : 2020-01-28

SAMN03320099.WGS_v1.1.99.genome : Sinocyclocheilus_anshuiensis
SAMN03320099.WGS_v1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SAMN03320099.WGS_v1.1.99.retrieval_date : 2020-01-28

SAMN03320097.WGS_v1.1.99.genome : Sinocyclocheilus_grahami
SAMN03320097.WGS_v1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SAMN03320097.WGS_v1.1.99.retrieval_date : 2020-01-28

SAMN03320098_v1.1.99.genome : Sinocyclocheilus_rhinocerous
SAMN03320098_v1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
SAMN03320098_v1.1.99.retrieval_date : 2020-01-28

COMMON_SHREW1.99.genome : Sorex_araneus
COMMON_SHREW1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
COMMON_SHREW1.99.retrieval_date : 2020-01-28

fSpaAur1.1.99.genome : Sparus_aurata
fSpaAur1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fSpaAur1.1.99.retrieval_date : 2020-01-28

ASM240643v1.99.genome : Spermophilus_dauricus
ASM240643v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM240643v1.99.retrieval_date : 2020-01-28

fSphaOr1.1.99.genome : Sphaeramia_orbicularis
fSphaOr1.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fSphaOr1.1.99.retrieval_date : 2020-01-28

ASM311381v1.99.genome : Sphenodon_punctatus
ASM311381v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM311381v1.99.retrieval_date : 2020-01-28

Stegastes_partitus-1.0.2.99.genome : Stegastes_partitus
Stegastes_partitus-1.0.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Stegastes_partitus-1.0.2.99.retrieval_date : 2020-01-28

bStrHab1_v1.p.99.genome : Strigops_habroptila
bStrHab1_v1.p.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
bStrHab1_v1.p.99.retrieval_date : 2020-01-28

ASM69896v1.99.genome : Struthio_camelus_australis
ASM69896v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM69896v1.99.retrieval_date : 2020-01-28

meerkat_22Aug2017_6uvM2_HiC.99.genome : Suricata_suricatta
meerkat_22Aug2017_6uvM2_HiC.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
meerkat_22Aug2017_6uvM2_HiC.99.retrieval_date : 2020-01-28

Sscrofa11.1.99.genome : Sus_scrofa
Sscrofa11.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Sscrofa11.1.99.retrieval_date : 2020-01-28

Bamei_pig_v1.99.genome : Sus_scrofa_bamei
Bamei_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Bamei_pig_v1.99.retrieval_date : 2020-01-28

Berkshire_pig_v1.99.genome : Sus_scrofa_berkshire
Berkshire_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Berkshire_pig_v1.99.retrieval_date : 2020-01-28

Hampshire_pig_v1.99.genome : Sus_scrofa_hampshire
Hampshire_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Hampshire_pig_v1.99.retrieval_date : 2020-01-28

Jinhua_pig_v1.99.genome : Sus_scrofa_jinhua
Jinhua_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Jinhua_pig_v1.99.retrieval_date : 2020-01-28

Landrace_pig_v1.99.genome : Sus_scrofa_landrace
Landrace_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Landrace_pig_v1.99.retrieval_date : 2020-01-28

Large_White_v1.99.genome : Sus_scrofa_largewhite
Large_White_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Large_White_v1.99.retrieval_date : 2020-01-28

Meishan_pig_v1.99.genome : Sus_scrofa_meishan
Meishan_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Meishan_pig_v1.99.retrieval_date : 2020-01-28

Pietrain_pig_v1.99.genome : Sus_scrofa_pietrain
Pietrain_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Pietrain_pig_v1.99.retrieval_date : 2020-01-28

Rongchang_pig_v1.99.genome : Sus_scrofa_rongchang
Rongchang_pig_v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Rongchang_pig_v1.99.retrieval_date : 2020-01-28

Tibetan_Pig_v2.99.genome : Sus_scrofa_tibetan
Tibetan_Pig_v2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Tibetan_Pig_v2.99.retrieval_date : 2020-01-28

USMARCv1.0.99.genome : Sus_scrofa_usmarc
USMARCv1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
USMARCv1.0.99.retrieval_date : 2020-01-28

minipig_v1.0.99.genome : Sus_scrofa_wuzhishan
minipig_v1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
minipig_v1.0.99.retrieval_date : 2020-01-28

bTaeGut1_v1.p.99.genome : Taeniopygia_guttata
bTaeGut1_v1.p.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
bTaeGut1_v1.p.99.retrieval_date : 2020-01-28

fTakRub1.2.99.genome : Takifugu_rubripes
fTakRub1.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
fTakRub1.2.99.retrieval_date : 2020-01-28

T_m_triunguis-2.0.99.genome : Terrapene_carolina_triunguis
T_m_triunguis-2.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
T_m_triunguis-2.0.99.retrieval_date : 2020-01-28

TETRAODON8.99.genome : Tetraodon_nigroviridis
TETRAODON8.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
TETRAODON8.99.retrieval_date : 2020-01-28

Tgel_1.0.99.genome : Theropithecus_gelada
Tgel_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Tgel_1.0.99.retrieval_date : 2020-01-28

TREESHREW.99.genome : Tupaia_belangeri
TREESHREW.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
TREESHREW.99.retrieval_date : 2020-01-28

turTru1.99.genome : Tursiops_truncatus
turTru1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
turTru1.99.retrieval_date : 2020-01-28

ASM342692v1.99.genome : Urocitellus_parryii
ASM342692v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM342692v1.99.retrieval_date : 2020-01-28

ASM334442v1.99.genome : Ursus_americanus
ASM334442v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM334442v1.99.retrieval_date : 2020-01-28

UrsMar_1.0.99.genome : Ursus_maritimus
UrsMar_1.0.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
UrsMar_1.0.99.retrieval_date : 2020-01-28

ASM479886v1.99.genome : Varanus_komodoensis
ASM479886v1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
ASM479886v1.99.retrieval_date : 2020-01-28

vicPac1.99.genome : Vicugna_pacos
vicPac1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
vicPac1.99.retrieval_date : 2020-01-28

bare-nosed_wombat_genome_assembly.99.genome : Vombatus_ursinus
bare-nosed_wombat_genome_assembly.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
bare-nosed_wombat_genome_assembly.99.retrieval_date : 2020-01-28

VulVul2.2.99.genome : Vulpes_vulpes
VulVul2.2.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
VulVul2.2.99.retrieval_date : 2020-01-28

Xenopus_tropicalis_v9.1.99.genome : Xenopus_tropicalis
Xenopus_tropicalis_v9.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Xenopus_tropicalis_v9.1.99.retrieval_date : 2020-01-28

Xiphophorus_couchianus-4.0.1.99.genome : Xiphophorus_couchianus
Xiphophorus_couchianus-4.0.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Xiphophorus_couchianus-4.0.1.99.retrieval_date : 2020-01-28

X_maculatus-5.0-male.99.genome : Xiphophorus_maculatus
X_maculatus-5.0-male.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
X_maculatus-5.0-male.99.retrieval_date : 2020-01-28

Zonotrichia_albicollis-1.0.1.99.genome : Zonotrichia_albicollis
Zonotrichia_albicollis-1.0.1.99.reference : ftp://ftp.ensembl.org/pub/release-99/gtf/
Zonotrichia_albicollis-1.0.1.99.retrieval_date : 2020-01-28
