
#---
# Test cases 
#---
test.genome                     : TestCase
testHg37.61.genome              : TestCase
testHg3761Chr15.genome          : TestCase
testHg3761Chr16.genome          : TestCase
testHg3763Chr1.genome           : TestCase
testHg3763Chr20.genome          : TestCase
testHg3763ChrY.genome           : TestCase
testHg3765Chr22.genome          : TestCase
testHg3766Chr1.genome           : TestCase
testCase.genome                 : TestCase
	testCaseHg.chromosomes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, X, Y
test_ENSG00000158062.genome     : TestCase
testHg3767Chr21Mt.genome        : TestCase
testHg3767Chr21Mt.MT.codonTable : Vertebrate_Mitochondrial
testHg3769Chr12.genome          : TestCase
testHg3770Chr22.genome			: TestCase
testHg3771Chr1.genome			: TestCase
testHg3773Chr3.genome			: TestCase
testHg19Chr1.genome				: TestCase
testHg3775Chr1.genome			: TestCase
testHg3775Chr2.genome			: TestCase
testHg3775Chr6.genome			: TestCase
testHg3775Chr7.genome			: TestCase
testHg3775Chr11.genome			: TestCase
testHg3775Chr12.genome			: TestCase
testHg3775Chr14.genome			: TestCase
testHg3775Chr22.genome			: TestCase
testMm37.61.genome              : Mus_musculus
testEgrandis.genome             : Test egrandis201 scaffold_5
testRice5.genome                : Rice
testLukas.genome                : Lukas_Schrader
testEmblPberghei.genome			: Test_Embl_Pberghei
testENST00000268124.genome		: Test testENST00000268124
testENST00000398332.genome		: Test testENST00000398332
testAP.genome					: Test test_Adrian_Platts_vegi_genome
testMaizeZmB73.genome			: Test MaizeZmB73
testENST00000529892.genome		: Test ENST00000529892
testHg19Hgvs.genome				: Tesg HGVS hg19

#---
# Quick tests and debugging
#---

# From Daniel Goodman
pberghei.genome : Plasmodium Berghei
