#---
# ENSEMBL release 75
#---
ailMel1.75.genome : Ailuropoda_melanoleuca
ailMel1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BGI_duck_1.0.75.genome : Anas_platyrhynchos
BGI_duck_1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
AnoCar2.0.75.genome : Anolis_carolinensis
AnoCar2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
AstMex102.75.genome : Astyanax_mexicanus
AstMex102.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
UMD3.1.75.genome : Bos_taurus
UMD3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
WBcel235.75.genome : Caenorhabditis_elegans
WBcel235.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
C_jacchus3.2.1.75.genome : Callithrix_jacchus
C_jacchus3.2.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
CanFam3.1.75.genome : Canis_familiaris
CanFam3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
cavPor3.75.genome : Cavia_porcellus
cavPor3.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
choHof1.75.genome : Choloepus_hoffmanni
choHof1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
KH.75.genome : Ciona_intestinalis
KH.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
CSAV2.0.75.genome : Ciona_savignyi
CSAV2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Zv9.75.genome : Danio_rerio
Zv9.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Dasnov3.0.75.genome : Dasypus_novemcinctus
Dasnov3.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
dipOrd1.75.genome : Dipodomys_ordii
dipOrd1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BDGP5.75.genome : Drosophila_melanogaster
BDGP5.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
TENREC.75.genome : Echinops_telfairi
TENREC.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
EquCab2.75.genome : Equus_caballus
EquCab2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
HEDGEHOG.75.genome : Erinaceus_europaeus
HEDGEHOG.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Felis_catus_6.2.75.genome : Felis_catus
Felis_catus_6.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
FicAlb_1.4.75.genome : Ficedula_albicollis
FicAlb_1.4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
gadMor1.75.genome : Gadus_morhua
gadMor1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Galgal4.75.genome : Gallus_gallus
Galgal4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BROADS1.75.genome : Gasterosteus_aculeatus
BROADS1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
gorGor3.1.75.genome : Gorilla_gorilla
gorGor3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
GRCh37.75.genome : Homo_sapiens
GRCh37.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
spetri2.75.genome : Ictidomys_tridecemlineatus
spetri2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
LatCha1.75.genome : Latimeria_chalumnae
LatCha1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
LepOcu1.75.genome : Lepisosteus_oculatus
LepOcu1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
loxAfr3.75.genome : Loxodonta_africana
loxAfr3.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
MMUL_1.75.genome : Macaca_mulatta
MMUL_1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Meug_1.0.75.genome : Macropus_eugenii
Meug_1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
UMD2.75.genome : Meleagris_gallopavo
UMD2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
micMur1.75.genome : Microcebus_murinus
micMur1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
BROADO5.75.genome : Monodelphis_domestica
BROADO5.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
GRCm38.75.genome : Mus_musculus
GRCm38.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
MusPutFur1.0.75.genome : Mustela_putorius_furo
MusPutFur1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Myoluc2.0.75.genome : Myotis_lucifugus
Myoluc2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Nleu1.0.75.genome : Nomascus_leucogenys
Nleu1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
pika.75.genome : Ochotona_princeps
pika.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Orenil1.0.75.genome : Oreochromis_niloticus
Orenil1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
OANA5.75.genome : Ornithorhynchus_anatinus
OANA5.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
OryCun2.0.75.genome : Oryctolagus_cuniculus
OryCun2.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
MEDAKA1.75.genome : Oryzias_latipes
MEDAKA1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
OtoGar3.75.genome : Otolemur_garnettii
OtoGar3.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Oar_v3.1.75.genome : Ovis_aries
Oar_v3.1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
CHIMP2.1.4.75.genome : Pan_troglodytes
CHIMP2.1.4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
PelSin_1.0.75.genome : Pelodiscus_sinensis
PelSin_1.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Pmarinus_7.0.75.genome : Petromyzon_marinus
Pmarinus_7.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
PPYG2.75.genome : Pongo_abelii
PPYG2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
proCap1.75.genome : Procavia_capensis
proCap1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
pteVam1.75.genome : Pteropus_vampyrus
pteVam1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Rnor_5.0.75.genome : Rattus_norvegicus
Rnor_5.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
R64-1-1.75.genome : Saccharomyces_cerevisiae
R64-1-1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
DEVIL7.0.75.genome : Sarcophilus_harrisii
DEVIL7.0.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
COMMON_SHREW1.75.genome : Sorex_araneus
COMMON_SHREW1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Sscrofa10.2.75.genome : Sus_scrofa
Sscrofa10.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
taeGut3.2.4.75.genome : Taeniopygia_guttata
taeGut3.2.4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
FUGU4.75.genome : Takifugu_rubripes
FUGU4.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
tarSyr1.75.genome : Tarsius_syrichta
tarSyr1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
TETRAODON8.75.genome : Tetraodon_nigroviridis
TETRAODON8.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
TREESHREW.75.genome : Tupaia_belangeri
TREESHREW.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
turTru1.75.genome : Tursiops_truncatus
turTru1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
vicPac1.75.genome : Vicugna_pacos
vicPac1.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
JGI_4.2.75.genome : Xenopus_tropicalis
JGI_4.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
Xipmac4.4.2.75.genome : Xiphophorus_maculatus
Xipmac4.4.2.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/

