dana_r1.06.genome : dana_r1.06
dana_r1.06.reference : ftp://ftp.flybase.net/releases/FB2019_06/dana_r1.06/gff/dana-all-r1.06.gff.gz
dmel_r6.31.genome : dmel_r6.31
dmel_r6.31.reference : ftp://ftp.flybase.net/releases/FB2019_06/dmel_r6.31/gff/dmel-all-r6.31.gff.gz
dpse_r3.04.genome : dpse_r3.04
dpse_r3.04.reference : ftp://ftp.flybase.net/releases/FB2019_06/dpse_r3.04/gff/dpse-all-r3.04.gff.gz
dsim_r2.02.genome : dsim_r2.02
dsim_r2.02.reference : ftp://ftp.flybase.net/releases/FB2019_06/dsim_r2.02/gff/dsim-all-r2.02.gff.gz
dvir_r1.07.genome : dvir_r1.07
dvir_r1.07.reference : ftp://ftp.flybase.net/releases/FB2019_06/dvir_r1.07/gff/dvir-all-r1.07.gff.gz