ailMel1.76.genome : Ailuropoda_melanoleuca
ailMel1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

BGI_duck_1.0.76.genome : Anas_platyrhynchos
BGI_duck_1.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

AnoCar2.0.76.genome : Anolis_carolinensis
AnoCar2.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

AstMex102.76.genome : Astyanax_mexicanus
AstMex102.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

UMD3.1.76.genome : Bos_taurus
UMD3.1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

WBcel235.76.genome : Caenorhabditis_elegans
WBcel235.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

C_jacchus3.2.1.76.genome : Callithrix_jacchus
C_jacchus3.2.1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

CanFam3.1.76.genome : Canis_familiaris
CanFam3.1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

cavPor3.76.genome : Cavia_porcellus
cavPor3.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

choHof1.76.genome : Choloepus_hoffmanni
choHof1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

KH.76.genome : Ciona_intestinalis
KH.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

CSAV2.0.76.genome : Ciona_savignyi
CSAV2.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Zv9.76.genome : Danio_rerio
Zv9.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Dasnov3.0.76.genome : Dasypus_novemcinctus
Dasnov3.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

dipOrd1.76.genome : Dipodomys_ordii
dipOrd1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

BDGP5.76.genome : Drosophila_melanogaster
BDGP5.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

TENREC.76.genome : Echinops_telfairi
TENREC.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

EquCab2.76.genome : Equus_caballus
EquCab2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

HEDGEHOG.76.genome : Erinaceus_europaeus
HEDGEHOG.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Felis_catus_6.2.76.genome : Felis_catus
Felis_catus_6.2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

FicAlb_1.4.76.genome : Ficedula_albicollis
FicAlb_1.4.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

gadMor1.76.genome : Gadus_morhua
gadMor1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Galgal4.76.genome : Gallus_gallus
Galgal4.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

BROADS1.76.genome : Gasterosteus_aculeatus
BROADS1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

gorGor3.1.76.genome : Gorilla_gorilla
gorGor3.1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

GRCh38.76.genome : Homo_sapiens
GRCh38.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

spetri2.76.genome : Ictidomys_tridecemlineatus
spetri2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

LatCha1.76.genome : Latimeria_chalumnae
LatCha1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

LepOcu1.76.genome : Lepisosteus_oculatus
LepOcu1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

loxAfr3.76.genome : Loxodonta_africana
loxAfr3.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

MMUL_1.76.genome : Macaca_mulatta
MMUL_1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Meug_1.0.76.genome : Macropus_eugenii
Meug_1.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

UMD2.76.genome : Meleagris_gallopavo
UMD2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

micMur1.76.genome : Microcebus_murinus
micMur1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

BROADO5.76.genome : Monodelphis_domestica
BROADO5.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

GRCm38.76.genome : Mus_musculus
GRCm38.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

MusPutFur1.0.76.genome : Mustela_putorius_furo
MusPutFur1.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Myoluc2.0.76.genome : Myotis_lucifugus
Myoluc2.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Nleu1.0.76.genome : Nomascus_leucogenys
Nleu1.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

pika.76.genome : Ochotona_princeps
pika.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Orenil1.0.76.genome : Oreochromis_niloticus
Orenil1.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

OANA5.76.genome : Ornithorhynchus_anatinus
OANA5.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

OryCun2.0.76.genome : Oryctolagus_cuniculus
OryCun2.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

MEDAKA1.76.genome : Oryzias_latipes
MEDAKA1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

OtoGar3.76.genome : Otolemur_garnettii
OtoGar3.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Oar_v3.1.76.genome : Ovis_aries
Oar_v3.1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

CHIMP2.1.4.76.genome : Pan_troglodytes
CHIMP2.1.4.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

PapAnu2.0.76.genome : Papio_anubis
PapAnu2.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

PelSin_1.0.76.genome : Pelodiscus_sinensis
PelSin_1.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Pmarinus_7.0.76.genome : Petromyzon_marinus
Pmarinus_7.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

PoeFor_5.1.2.76.genome : Poecilia_formosa
PoeFor_5.1.2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

PPYG2.76.genome : Pongo_abelii
PPYG2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

proCap1.76.genome : Procavia_capensis
proCap1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

pteVam1.76.genome : Pteropus_vampyrus
pteVam1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Rnor_5.0.76.genome : Rattus_norvegicus
Rnor_5.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

R64-1-1.76.genome : Saccharomyces_cerevisiae
R64-1-1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

DEVIL7.0.76.genome : Sarcophilus_harrisii
DEVIL7.0.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

COMMON_SHREW1.76.genome : Sorex_araneus
COMMON_SHREW1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Sscrofa10.2.76.genome : Sus_scrofa
Sscrofa10.2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

taeGut3.2.4.76.genome : Taeniopygia_guttata
taeGut3.2.4.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

FUGU4.76.genome : Takifugu_rubripes
FUGU4.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

tarSyr1.76.genome : Tarsius_syrichta
tarSyr1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

TETRAODON8.76.genome : Tetraodon_nigroviridis
TETRAODON8.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

TREESHREW.76.genome : Tupaia_belangeri
TREESHREW.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

turTru1.76.genome : Tursiops_truncatus
turTru1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

vicPac1.76.genome : Vicugna_pacos
vicPac1.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

JGI_4.2.76.genome : Xenopus_tropicalis
JGI_4.2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

Xipmac4.4.2.76.genome : Xiphophorus_maculatus
Xipmac4.4.2.76.reference : ftp://ftp.ensembl.org/pub/release-76/gtf/

