#---
# Ensembl 66 versions
#---

ailMel1.66.genome : Ailuropoda_melanoleuca
ailMel1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

AnoCar2.0.66.genome : Anolis_carolinensis
AnoCar2.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

UMD3.1.66.genome : Bos_taurus
UMD3.1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

WS220.66.genome : Caenorhabditis_elegans
WS220.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

C_jacchus3.2.1.66.genome : Callithrix_jacchus
C_jacchus3.2.1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BROADD2.66.genome : Canis_familiaris
BROADD2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

cavPor3.66.genome : Cavia_porcellus
cavPor3.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

choHof1.66.genome : Choloepus_hoffmanni
choHof1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

KH.66.genome : Ciona_intestinalis
KH.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

CSAV2.0.66.genome : Ciona_savignyi
CSAV2.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Zv9.66.genome : Danio_rerio
Zv9.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

dasNov2.66.genome : Dasypus_novemcinctus
dasNov2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

dipOrd1.66.genome : Dipodomys_ordii
dipOrd1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BDGP5.66.genome : Drosophila_melanogaster
BDGP5.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

TENREC.66.genome : Echinops_telfairi
TENREC.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

EquCab2.66.genome : Equus_caballus
EquCab2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

HEDGEHOG.66.genome : Erinaceus_europaeus
HEDGEHOG.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

CAT.66.genome : Felis_catus
CAT.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

gadMor1.66.genome : Gadus_morhua
gadMor1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

WASHUC2.66.genome : Gallus_gallus
WASHUC2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BROADS1.66.genome : Gasterosteus_aculeatus
BROADS1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

gorGor3.1.66.genome : Gorilla_gorilla
gorGor3.1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

GRCh37.66.genome : Homo_sapiens
GRCh37.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

LatCha1.66.genome : Latimeria_chalumnae
LatCha1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

loxAfr3.66.genome : Loxodonta_africana
loxAfr3.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

MMUL_1.66.genome : Macaca_mulatta
MMUL_1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Meug_1.0.66.genome : Macropus_eugenii
Meug_1.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

UMD2.66.genome : Meleagris_gallopavo
UMD2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

micMur1.66.genome : Microcebus_murinus
micMur1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

BROADO5.66.genome : Monodelphis_domestica
BROADO5.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

NCBIM37.66.genome : Mus_musculus
NCBIM37.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Myoluc2.0.66.genome : Myotis_lucifugus
Myoluc2.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Nleu1.0.66.genome : Nomascus_leucogenys
Nleu1.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

pika.66.genome : Ochotona_princeps
pika.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

OANA5.66.genome : Ornithorhynchus_anatinus
OANA5.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

oryCun2.66.genome : Oryctolagus_cuniculus
oryCun2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

MEDAKA1.66.genome : Oryzias_latipes
MEDAKA1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

OtoGar3.66.genome : Otolemur_garnettii
OtoGar3.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

CHIMP2.1.4.66.genome : Pan_troglodytes
CHIMP2.1.4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Pmarinus_7.0.66.genome : Petromyzon_marinus
Pmarinus_7.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

PPYG2.66.genome : Pongo_abelii
PPYG2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

proCap1.66.genome : Procavia_capensis
proCap1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

pteVam1.66.genome : Pteropus_vampyrus
pteVam1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

RGSC3.4.66.genome : Rattus_norvegicus
RGSC3.4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

EF4.66.genome : Saccharomyces_cerevisiae
EF4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

DEVIL7.0.66.genome : Sarcophilus_harrisii
DEVIL7.0.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

COMMON_SHREW1.66.genome : Sorex_araneus
COMMON_SHREW1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

SQUIRREL.66.genome : Spermophilus_tridecemlineatus
SQUIRREL.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

Sscrofa9.66.genome : Sus_scrofa
Sscrofa9.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

taeGut3.2.4.66.genome : Taeniopygia_guttata
taeGut3.2.4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

FUGU4.66.genome : Takifugu_rubripes
FUGU4.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

tarSyr1.66.genome : Tarsius_syrichta
tarSyr1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

TETRAODON8.66.genome : Tetraodon_nigroviridis
TETRAODON8.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

TREESHREW.66.genome : Tupaia_belangeri
TREESHREW.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

turTru1.66.genome : Tursiops_truncatus
turTru1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

vicPac1.66.genome : Vicugna_pacos
vicPac1.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

JGI_4.2.66.genome : Xenopus_tropicalis
JGI_4.2.66.reference : ftp://ftp.ensembl.org/pub/release-66/gtf/

# Mitochondrial chromosomes

GRCh37.66.MT.codonTable :  Vertebrate_Mitochondrial
ailMel1.66.MT.codonTable : Vertebrate_Mitochondrial
AnoCar2.0.66.MT.codonTable : Vertebrate_Mitochondrial
BROADD2.66.MT.codonTable : Vertebrate_Mitochondrial
BROADO5.66.MT.codonTable : Vertebrate_Mitochondrial
BROADS1.66.MT.codonTable : Vertebrate_Mitochondrial
cavPor3.66.MT.codonTable : Vertebrate_Mitochondrial
DEVIL7.0.66.MT.codonTable : Vertebrate_Mitochondrial
FUGU4.66.MT.codonTable : Vertebrate_Mitochondrial
gorGor3.1.66.MT.codonTable : Vertebrate_Mitochondrial
KH.66.MT.codonTable : Vertebrate_Mitochondrial
LatCha1.66.MT.codonTable : Vertebrate_Mitochondrial
loxAfr3.66.MT.codonTable : Vertebrate_Mitochondrial
MMUL_1.66.MT.codonTable : Vertebrate_Mitochondrial
NCBIM37.66.MT.codonTable : Vertebrate_Mitochondrial
OANA5.66.MT.codonTable : Vertebrate_Mitochondrial
oryCun2.66.MT.codonTable : Vertebrate_Mitochondrial
PPYG2.66.MT.codonTable : Vertebrate_Mitochondrial
RGSC3.4.66.MT.codonTable : Vertebrate_Mitochondrial
Sscrofa9.66.MT.codonTable : Vertebrate_Mitochondrial
TETRAODON8.66.MT.codonTable : Vertebrate_Mitochondrial
UMD2.66.MT.codonTable : Vertebrate_Mitochondrial
UMD3.1.66.MT.codonTable : Vertebrate_Mitochondrial
WASHUC2.66.MT.codonTable : Vertebrate_Mitochondrial
Zv9.66.MT.codonTable : Vertebrate_Mitochondrial
BDGP5.66.dmel_mitochondrion_genome.codonTable : Invertebrate_Mitochondrial
EF4.66.Mito.codonTable : Vertebrate_Mitochondrial
WS220.66.MtDNA.codonTable : Invertebrate_Mitochondrial
