#---
# Non-standard Databases
#---

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens (UCSC)
	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
	hg19.M.codonTable : Vertebrate_Mitochondrial
	hg19.MT.codonTable : Vertebrate_Mitochondrial
	hg19.coordinates : GRCh37

# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
	hg19kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
	hg19kg.M.codonTable : Vertebrate_Mitochondrial
	hg19kg.MT.codonTable : Vertebrate_Mitochondrial
	hg19kg.coordinates : GRCh37

# Homo sapiens (hg38) (UCSC)
hg38.genome : Homo_sapiens (UCSC)
	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38.M.codonTable : Vertebrate_Mitochondrial
	hg38.MT.codonTable : Vertebrate_Mitochondrial
	hg38.coordinates : GRCh38

# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38kg.M.codonTable : Vertebrate_Mitochondrial
	hg38kg.MT.codonTable : Vertebrate_Mitochondrial
	hg38kg.coordinates : GRCh38

# GRCh37.75 release from ENSEMBL
GRCh37.75.genome : Human genome GRCh37 using transcripts
GRCh37.75.reference : http://useast.ensembl.org/info/data/ftp/index.html
	GRCh37.75.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.75.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37.87 release from ENSEMBL
GRCh37.87.genome : Human genome GRCh37 using transcripts
GRCh37.87.reference : http://useast.ensembl.org/info/data/ftp/index.html
	GRCh37.87.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.87.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37 release from NCBI's RefSeq 
GRCh37.p13.genome : Human genome GRCh37 using RefSeq transcripts
GRCh37.p13.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/
	GRCh37.p13.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.p13.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38 release 'p14' from NCBI's RefSeq 
GRCh38.p13.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p13.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/
	GRCh38.p13.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p13.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38 release 'p14' from NCBI's RefSeq 
GRCh38.p14.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p14.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p14/
	GRCh38.p14.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p14.MT.codonTable : Vertebrate_Mitochondrial

# MANE
GRCh38.mane.0.95.ensembl.genome: Human genome GRCh38, using MANE transcripts v0.95, Ensembl IDs
	GRCh38.GRCh38.mane.0.95.ensembl.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.0.95.ensembl.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.0.95.refseq.genome: Human genome GRCh38, using MANE transcripts v0.95, RefSeq IDs
	GRCh38.GRCh38.mane.0.95.refseq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.0.95.refseq.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.0.ensembl.genome: Human genome GRCh38, using MANE transcripts v1.0, Ensembl IDs
	GRCh38.GRCh38.mane.1.0.ensembl.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.0.ensembl.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.0.refseq.genome: Human genome GRCh38, using MANE transcripts v1.0, RefSeq IDs
	GRCh38.GRCh38.mane.1.0.refseq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.0.refseq.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.2.ensembl.genome: Human genome GRCh38, using MANE transcripts v1.2, Ensembl IDs
	GRCh38.GRCh38.mane.1.2.ensembl.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.2.ensembl.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.2.refseq.genome: Human genome GRCh38, using MANE transcripts v1.2, RefSeq IDs
	GRCh38.GRCh38.mane.1.2.refseq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.2.refseq.MT.codonTable : Vertebrate_Mitochondrial

