ailMel1.81.genome : Ailuropoda_melanoleuca
ailMel1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
BGI_duck_1.0.81.genome : Anas_platyrhynchos
BGI_duck_1.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
AnoCar2.0.81.genome : Anolis_carolinensis
AnoCar2.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
AstMex102.81.genome : Astyanax_mexicanus
AstMex102.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
UMD3.1.81.genome : Bos_taurus
UMD3.1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
WBcel235.81.genome : Caenorhabditis_elegans
WBcel235.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
C_jacchus3.2.1.81.genome : Callithrix_jacchus
C_jacchus3.2.1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
CanFam3.1.81.genome : Canis_familiaris
CanFam3.1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
cavPor3.81.genome : Cavia_porcellus
cavPor3.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
ChlSab1.1.81.genome : Chlorocebus_sabaeus
ChlSab1.1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
choHof1.81.genome : Choloepus_hoffmanni
choHof1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
KH.81.genome : Ciona_intestinalis
KH.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
CSAV2.0.81.genome : Ciona_savignyi
CSAV2.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
GRCz10.81.genome : Danio_rerio
GRCz10.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Dasnov3.0.81.genome : Dasypus_novemcinctus
Dasnov3.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
dipOrd1.81.genome : Dipodomys_ordii
dipOrd1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
BDGP6.81.genome : Drosophila_melanogaster
BDGP6.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
TENREC.81.genome : Echinops_telfairi
TENREC.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
EquCab2.81.genome : Equus_caballus
EquCab2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
HEDGEHOG.81.genome : Erinaceus_europaeus
HEDGEHOG.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Felis_catus_6.2.81.genome : Felis_catus
Felis_catus_6.2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
FicAlb_1.4.81.genome : Ficedula_albicollis
FicAlb_1.4.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
gadMor1.81.genome : Gadus_morhua
gadMor1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Galgal4.81.genome : Gallus_gallus
Galgal4.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
BROADS1.81.genome : Gasterosteus_aculeatus
BROADS1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
gorGor3.1.81.genome : Gorilla_gorilla
gorGor3.1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
GRCh38.81.genome : Homo_sapiens
GRCh38.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
spetri2.81.genome : Ictidomys_tridecemlineatus
spetri2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
LatCha1.81.genome : Latimeria_chalumnae
LatCha1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
LepOcu1.81.genome : Lepisosteus_oculatus
LepOcu1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
loxAfr3.81.genome : Loxodonta_africana
loxAfr3.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
MMUL_1.81.genome : Macaca_mulatta
MMUL_1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Meug_1.0.81.genome : Macropus_eugenii
Meug_1.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
UMD2.81.genome : Meleagris_gallopavo
UMD2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
micMur1.81.genome : Microcebus_murinus
micMur1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
BROADO5.81.genome : Monodelphis_domestica
BROADO5.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
GRCm38.81.genome : Mus_musculus
GRCm38.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
MusPutFur1.0.81.genome : Mustela_putorius_furo
MusPutFur1.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Myoluc2.0.81.genome : Myotis_lucifugus
Myoluc2.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Nleu1.0.81.genome : Nomascus_leucogenys
Nleu1.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
pika.81.genome : Ochotona_princeps
pika.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Orenil1.0.81.genome : Oreochromis_niloticus
Orenil1.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
OANA5.81.genome : Ornithorhynchus_anatinus
OANA5.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
OryCun2.0.81.genome : Oryctolagus_cuniculus
OryCun2.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
MEDAKA1.81.genome : Oryzias_latipes
MEDAKA1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
OtoGar3.81.genome : Otolemur_garnettii
OtoGar3.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Oar_v3.1.81.genome : Ovis_aries
Oar_v3.1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
CHIMP2.1.4.81.genome : Pan_troglodytes
CHIMP2.1.4.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
PapAnu2.0.81.genome : Papio_anubis
PapAnu2.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
PelSin_1.0.81.genome : Pelodiscus_sinensis
PelSin_1.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Pmarinus_7.0.81.genome : Petromyzon_marinus
Pmarinus_7.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
PoeFor_5.1.2.81.genome : Poecilia_formosa
PoeFor_5.1.2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
PPYG2.81.genome : Pongo_abelii
PPYG2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
proCap1.81.genome : Procavia_capensis
proCap1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
pteVam1.81.genome : Pteropus_vampyrus
pteVam1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Rnor_6.0.81.genome : Rattus_norvegicus
Rnor_6.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
R64-1-1.81.genome : Saccharomyces_cerevisiae
R64-1-1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
DEVIL7.0.81.genome : Sarcophilus_harrisii
DEVIL7.0.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
COMMON_SHREW1.81.genome : Sorex_araneus
COMMON_SHREW1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Sscrofa10.2.81.genome : Sus_scrofa
Sscrofa10.2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
taeGut3.2.4.81.genome : Taeniopygia_guttata
taeGut3.2.4.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
FUGU4.81.genome : Takifugu_rubripes
FUGU4.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
tarSyr1.81.genome : Tarsius_syrichta
tarSyr1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
TETRAODON8.81.genome : Tetraodon_nigroviridis
TETRAODON8.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
TREESHREW.81.genome : Tupaia_belangeri
TREESHREW.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
turTru1.81.genome : Tursiops_truncatus
turTru1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
vicPac1.81.genome : Vicugna_pacos
vicPac1.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
JGI_4.2.81.genome : Xenopus_tropicalis
JGI_4.2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
Xipmac4.4.2.81.genome : Xiphophorus_maculatus
Xipmac4.4.2.81.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/