
body {
	font-family: Verdana, Tahoma;
	font-size: 12px;
	background: #ffffff;
}

a { color: #ffffff; text-decoration: none; }
a:hover { color: #000000; text-decoration: none; }

.body { color: #0000ff; text-decoration: none; }
.body:hover { color: #000000; text-decoration: none; }

p { font-size: 1.1em; }

#wrap {
	margin-top: 15px;
	width: 900px;
	text-align: left;
	background: #ffffff;
	border: 3px solid #777777;
}

img, img a { border: 0; }

#header {
	height: 95px;
	padding-top: 0px;
}
#header .logo
{	
	vertical-align: middle;
	padding-left: 25px;
	padding-top: 10px;
	font-size: 40px;
	height: 90px;        
}
#header .logo a { color: #000000; text-decoration: none; }
#header .logo a:hover { color: #0000ff; text-decoration: none; }

#menu {
	background: #777777;
	color: #000000;
	height: 35px;
}

#menu ul{
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}

#menu ul li{
	float: left;
	margin: 0 15px 0 0;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

#menu ul li a{
	padding: 10px 20px 10px 12px;
	background: url(images/li.png) no-repeat
	background-position: 0 13px;
	text-decoration: none;
	color: #ffffff;
	display: block;
}

#menu ul li a:hover { 
	color: #000000; 
	background: url(images/li-hover.png) no-repeat; 
	background-position: 0 13px; 
	display: block;
}

#content { padding: 20px 10px; }
#left { font-size: 12px; line-height: 1.8em; float: left; width: 620px; padding: 0 0 20px 10px; }
#right { font-size: 12px; line-height: 1.8em; float: left; width: 220px; padding: 0 10px 15px 10px; }
#left img { margin: 5px; max-width: 98%; }
#left ul, #right ul, #left ol, #right ol, #left .commentlist li.alt ol, #left .commentlist li.alt ul
{
	margin: 5px 0 0 0;
	line-height: 25px;
	padding: 0;
}
#left li, #right li, #left .commentlist li.alt li
{
	list-style: none;
	font-size: 12px;
	background-position: 0 5px;
	padding-left: 20px;
	margin: 0;
	border: 0;
}
#left .post blockquote
{
	margin: 10px;
	padding-left: 45px;
	min-height: 36px;
}

.post .title
{
	margin-bottom: 10px;      
        float:left;  
        font-size: 24px;       
}
.post .title a
{
	font-size: 25px;
	text-decoration: none;
	color: #000;
}
.post .title a:hover
{
	color: #4D6A00;
	text-decoration: underline;
}
.post .meta
{
	color: #999;
	padding: 2px;
	font-size: 11px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.post .meta a
{
	color: #777777;
}
.post .meta a:hover
{
	color: #000;
}
.post .meta .posted
{
	float: left;
}
.post .meta .comments
{
	float: right;
}
.post .meta .comments a
{
	padding-left: 20px;
	padding-bottom: 1px;
	display: block;
	text-decoration: none;
}

.post .entry
{
    text-align: justify;
	padding: 6px;
	margin-bottom: 35px;
}

.ltop { width: 220px; height: 13px; background: url(images/top.png) no-repeat; }
.lmid { width: 200px; padding: 0 10px; background: url(images/mid.png) repeat; }
.lmid h2 { font-weight: normal; margin: 0; font-size: 18px; padding-bottom: 5px; }
.lbot { width: 220px; height: 12px; margin-bottom: 30px; background: url(images/bottom.png) no-repeat; }

#comments, #respond{
	margin: 0;
	padding:1em 0 0 0;
}
#commentform 
{
	margin:10px 0;	
	padding:10px;
	background:#f9f9f9;
	border-top: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
}
.commentnum 
{
	font-size:1.5em;
	font-weight:bold;	
	margin:0 5px 0 0;
}
#left .commentlist {
	margin: 1em 0;
	padding: 0;		
	border-top: #ddd 1px solid;
}
#left .commentlist li.one, #left .commentlist li.alt
{
	list-style:none;
	margin: 0;
	padding: 0.5em 0.5em 2em;	
	border-bottom: #ddd 1px solid;
}
#left .commentlist li.alt 
{
    background:#f9f9f9;    
}
#left .commentlist li.authorcomment 
{
    background: #ECE9D8;      
}
#left .commentlist li.one .cmtinfo, #left .commentlist li.alt .cmtinfo 
{
	font-size:1em;			
}
#left .commentlist li.one cite, #left .commentlist li.alt cite
{
	font-style:normal;
	font-weight:bold;
}
#left .commentlist li.one .cmtinfo em, #left .commentlist li.alt .cmtinfo em 
{
	float:right;
	margin:0;
	padding:0;
	font-style:normal;
	font-size:0.9em;
	color:#999;
}


#footer
{
	border-top: 1px dashed #CCC;
	margin: 5px; 
	padding: 10px 5px 5px 5px;
	font-size: 11px;
	color: #000;
	text-align: center;
}

.entry p { margin-bottom: 1em; }

pre {
    border: 1pt dashed black;
    white-space: pre;
    font-size: 8pt;
    overflow: auto;
    padding: 1em 0;
    background : white;
    color : black;
}

td { font-size: 8pt; }
th { font-size: 8pt; }
